<div class="popupGlobalCall globalCallPopUp popup__global__wrapper free-trail-popup">
    <div class="selectRechargeamountMain">
        <span class="closeIcon globalCall" (click)="closeIcon()" mat-dialog-close><i
                class="material-icons">close</i></span>		 
      
       <!--  <mat-dialog-content #matContent>
            <div class="selectRechargeamount">
                
            </div>
        </mat-dialog-content> -->
        <mat-dialog-content >
            <span class="closeIcon globalCall" (click)="closeIcon()" mat-dialog-close><i
                class="material-icons">close</i></span>
            <div class="popup-inner">
                <div class="flag-wrapper"> 
                    <img _ngcontent-klh-c356="" height="32" src="./../../assets/images/blank.gif" class="flag flag-{{countryId}}">
                    <p>{{countryName}}</p>
                </div>
                <div class="price-mins">
                    <p>{{freeMinutes}}</p>
                    <p>mins</p>
                </div>

                <div class="submit-btn">
                    <a href="javascript:void(0)" (click)="tryUsFree()" mat-button>FREE TRIAL</a>
                </div>

                <div class="feature__search">
  <mat-list role="list" >
 <mat-list-item>Global Calling</mat-list-item>
 <mat-list-item>No Contract</mat-list-item>
 <mat-list-item>Excellent Quality</mat-list-item>
</mat-list>
<!-- <ul>
  <li>Global Calling</li>
  <li>No Expiry Date</li>
  <li>100% Money Back</li>
</ul> -->
</div>

            </div>
        </mat-dialog-content> 
        <div class="bg-shapes">
  <img src="./../../assets/images/search/Image_57.png">
  <img src="./../../assets/images/search/Ellipse_1.png">
  <img src="./../../assets/images/search/Ellipse_7.png">
  <img src="./../../assets/images/search/Polygon_4.png">  
  <img src="./../../assets/images/search/Rectangle_5.png">  
  <img src="./../../assets/images/search/Rectangle_48.png">  

</div>  
    </div>
</div>

