.example-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.hideinMobile {
	display: block;
}
.showInmobile {
	display: none;
}
.mat-toolbar {
	background: none;
}
.nobg {
	background: none;
	cursor: pointer;
	border: none;
}
.referafriend_banner {
  background:url(../../../assets/images/new_design_images/Refer_a_Friend.jpg) no-repeat center 100%;
  background-size: 100%;
}
h1.heading_style1 {
  left: 22%;
  line-height: 1;
}
.howitworksSection {
	text-align: left;
	padding: 20px 20px 20px 85px;
	h3 {
		&.heading_style2 {
			color: #103F8A;
			font-size: 18px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 500;
			text-align: left;
		}
	}
	p {
		color: #919EAF;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
	}
}
.second_fold {
	padding-top: 0px;
	position: relative;
}
.balDetails {
  max-width: 700px;
  margin: 0 auto;
  color: #272c39;
  margin-bottom: 70px;
  .col-md-6 {
    padding: 20px 50px 0;
    display: flex;
    align-items: flex-start;
    img {
      margin-right: 25px;
    }
    p {
        font-weight: 500;
        margin-bottom: 4px;
    }
    h3 {
        font-size: 30px;
        font-weight: 700;
    }
    &:first-child {
      border-right: 1px solid #ddd;
    }
  }
  .refButton {
      background: #f4cb26;
      border-radius: 24px;
      border: none;
      padding: 8px 16px;
      color: #08273a;
      font-size: 15px;
      font-weight: 600;
      transition: 0.3s ease-in-out;
      margin-top: 5px;
  }
}

.yourReffralCode {
  text-align: center;
  h3 {
      text-align: center;
      color: #203676;
      font-weight: 500;
      font-size: 34px;
      margin-bottom: 25px;
      span {
        font-weight: 600;
    }
  }
  button {
    border: none;
    background: transparent;
    margin: 0 8px;
  }
}

.points_summary {
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
  &.second_fold {
    padding: 0;
  }
  .shadowtype2 {
      display: flex;
      padding: 40px 0;
      align-items: center;
      h3 {
        color: #1e3370;
        font-size: 25px;
        font-weight: 700;
    }
    p {
        color: #282a2f;
        margin-bottom: 0;
        font-weight: 500;
    }
  }
  .right_section {
      margin-left: auto;
      .viewAllTr {
        border: 2px solid #f4cb26;
        display: inline-block;
        padding: 9px 15px;
        color: #282a2f;
        font-size: 14px;
        font-weight: 500;
        border-radius: 20px;
        background: #fff;
    }
  }
}

.earned_referrals {
  background: #f7f7f7;
  padding: 0;
  .shadowtype2 {
    padding: 60px 0;
  }
}

.shadowtype2 {
	width: 1100px;
	margin: 0 auto;
	padding: 60px 10px 0px 10px;
  h2 {
      text-align: center;
      color: #203676;
      // text-transform: uppercase;
      font-weight: 700;
      font-size: 44px;
      margin-bottom: 60px;
      .heading_light {
          font-weight: 600;
      }
  }
}
.gradientArea {
	background: #04A5F6;
	background: linear-gradient(to right, #04A5F6 , #0367DE );
	padding: 30px 0;
	width: 100%;
	p {
		color: #fff;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		text-align: center;
		margin: 0px;
	}
}
.deals {
	padding: 57px 45px 0px 57px;
	h3 {
		color: #103F8A;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		margin-bottom: 30px;
	}
	p {
		color: #919EAF;
		line-height: 21px;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
	}
	.table {
		margin-top: 60px;
		thead {
			th {
				border: none;
				color: #0B203E;
				font-size: 18px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 500;
			}
		}
		tr {
			td {
				color: #808080;
				font-size: 16px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 400;
			}
		}
	}
	.table-striped {
		tbody {
			tr {
				&:nth-of-type(odd) {
					background-color: #F8F8F8;
				}
			}
		}
	}
}
.deals .table td,.deals .table th {
	border: none;
	padding: 15px 30px;
}
.deals .table td:last-child, .deals .table th:last-child {
	text-align: right;
}

.point_box {
  height: 280px;
  border-radius: 20px;
  padding: 25px 0px 22px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
  h3 {
    color: #1c2b58;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0;
  }
  p {
    color: #1c2b58;
    font-weight: 600;
  }
  a {
    display: block;
    font-size: 14px;
    color: #21242a;
    font-weight: 500;
    text-decoration: underline;
    margin-top: auto;
  }
  img {
      max-height: 105px;
      max-width: 150px;
      width: auto;
      height: auto;
  }
  &:hover {
    background: #203676;
    h3, p, a {
      color: #fff;
    }
  }
}

.shareText {
  margin-top: 22px;
}

.point_box_bottom {
  height: 150px;
  border-radius: 20px;
  padding: 18px 40px;
  background: #f7ebd4;
  display: flex;
  align-items: center;
  &.callToRef {
    background: #cce3fd;
  }
  a {
    display: block;
    font-size: 18px;
    color: #1c2b58;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    margin-left: auto;
    margin-right: 70px;
    line-height: 1.3;
  }
  img {
      max-height: 115px;
      max-width: 150px;
      width: auto;
      height: auto;
  }
}

.rectTransation {
  padding: 40px 0;
  background: #ededed;
  border-bottom: 1px solid #ddd;
  p {
    margin: 0;
    font-size: 16px;
    color: #000;
    a {
      color: #203676;
      text-decoration: underline;
    }
  }
  .shadowtype2 {
    padding: 0;
    h3 {
      font-size: 25px;
      color: #1e3370;
      font-weight: 700;
      margin-bottom: 14px;
    }
  }
}

::ng-deep {
  .earnedTabs {
    padding: 55px 0 !important;
    background: #ededed;
    .shadowtype2 {
      padding: 0;
    }
    .mat-tab-group {
        width: 100%;
    }
    .mat-tab-label {
        background: #fff;
        border-radius: 25px;
        margin-right: 25px;
        margin-bottom: 30px;
        color: #282a2f;
        opacity: 1;
        font-size: 16px;
        font-weight: 700;
        height: 52px;
        padding: 0 32px;
        font-family: "Montserrat", sans-serif;
        &-active {
          background: #1e3370 !important;
          color: #fff;
        }
    }
    .mat-ink-bar {
      display: none;
    }
    .table th {
      border: none;
    }
    .mat-tab-header {
      border: none;
    }
    .mat-tab-body {
      background: #fff;
      border-radius: 30px;
      padding: 30px;
      // max-height: 500px;
    }
  }
}



@media only screen and (max-width: 650px)  {
  .gradientArea{ padding: 30px 20px;}
  .hideinMobile{display: none;}
  .showInmobile { display: block;}
  .shadowtype2{ padding: 20px 0 !important; width: 100%;}
  .howitworksSection{ padding: 61px 20px 25px 11px; background-position: center top;}
  .three_service{ height: 360px;}
  .second_fold{ padding: 30px 42px;}
  .deals{padding: 40px 0 0 !important;}
}
