
<div class="first_fold">

    <h1 class="heading_style1">
    Refer<br/> a Friend<br/>
    <!-- <span>Easy as 1 2 3 and earn points!</span> -->
    </h1>
    <div class="home_banner referafriend_banner">
        <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
    </div>
    </div>
    <section *ngIf="userLoggedin">
        <div class="second_fold">
                <div class="shadowtype2">
                    <h2 ><span class="heading_strong">Nagesh's </span> <span class="heading_light">Points</span></h2>
                    <div class="row balDetails">
                        <div class="col-md-6">
                            <img src="../../../assets/images/new_design_images/current_bal.png" alt="icon" />
                            <div>
                              <p>Current Balance</p>
                              <h3>{{rewardTotal}}</h3>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <img src="../../../assets/images/new_design_images/red_value.png" alt="icon" />
                          <div>
                            <p>Redeemable value </p>
                            <h3>{{enrollAmount | bCurrency}}</h3>
                            <div class="buttonArea">
                                <!-- <button mat-button *ngIf="enrollPoints > 1000" class="refButton" >Redeem now</button> -->
                                <!-- <button mat-button *ngIf="enrollPoints > 1000" class="submitButton" >Redeem now</button> -->

                                <div *ngIf="isAbleToRedeemFlag" class="input_holder1">
                                    <button mat-button class="refButton" (click)="redeemNow()">Redeem Now</button>
                                  </div>
                                  <div *ngIf="!isAbleToRedeemFlag" class="input_holder1 virtualCommingSoon">
                                    <button mat-button class="refButton">Redeem Now</button>
                                  </div>

                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="yourReffralCode">
                        <h3>Your unique referral code is: <span>{{referrerCode}}</span></h3>
                        <button type="button" data-href="reffralUrl">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{reffralUrl}}&amp;src=sdkpreparse" class="facebook">
                            </a>
                        </button>
                        <button type="button">
                            <a href="https://twitter.com/intent/tweet?text={{reff_text}} : {{reffralUrl}}" target="_blank" class="twitter">
                            </a>
                        </button>

                        <button type="button">
                            <a href="http://pinterest.com/pin/create/link/?url={{reffralUrl}}" target="_blank" class="pinterest">
                            </a>
                        </button>

                        <button type="button">
                            <a href="https://wa.me?text={{reff_text}} : {{reffralUrl}}" target="_blank" class="whatsApp">
                            </a>
                        </button>
                        <div class="shareText">Feel free to share it with others!</div>
                    </div>

                </div>

                <!-- <st-inline-share-buttons [config]="inlineShareButtonsConfig"></st-inline-share-buttons>  -->

        </div>

        <div class="second_fold points_summary">
          <div class="shadowtype2">
              <div class="left_section">
                <h3>Points summary</h3>
                <p>You’ve earned points from:</p>
              </div>
              <div class="right_section">
                <a href="javascript:void(0)" (click)="selectTab(0)" class="viewAllTr">View all Transactions</a>
              </div>
          </div>
        </div>

        <div class="second_fold earned_referrals">
            <div class="shadowtype2">
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="point_box">
                            <h3>{{rewardTotal+totalRedemed}}</h3>
                            <p>Earned</p>
                            <img src="../../../assets/images/new_design_images/earned.svg" alt="earned" />
                            <a href="javascript:void(0)" (click)="selectTab(0)">Learn more</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="point_box">
                            <h3>{{totalRefrals}}</h3>
                            <p>Referrals</p>
                            <img src="../../../assets/images/new_design_images/referrals.svg" alt="referrals" />
                            <a href="javascript:void(0)" (click)="selectTab(1)">Learn more</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="point_box">
                            <h3>{{totalCompleted}}</h3>
                            <p>Completed</p>
                            <img src="../../../assets/images/new_design_images/completed.svg" alt="completed" />
                            <a href="javascript:void(0)" (click)="selectTab(2)">Learn more</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="point_box">
                            <h3>{{totalRedemed}}</h3>
                            <p>Redeemed</p>
                            <img src="../../../assets/images/new_design_images/redeemed.svg" alt="redeemed" />
                            <a href="javascript:void(0)" (click)="selectTab(3)">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="point_box_bottom">
                            <img src="../../../assets/images/new_design_images/sendreferrallink.svg" alt="sendreferrallink" />
                            <a href="">Send <br/>Reffral link</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="point_box_bottom callToRef">
                            <img src="../../../assets/images/new_design_images/calltoredeem.svg" alt="calltoredeem" />
                            <a href="">Call to <br/>Redeem</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="second_fold rectTransation">
            <div class="shadowtype2">
                <h3>Recent Transactions</h3>
                <p>
                  Browse your points earned in the past 45 days. <br/>
                  Missing a transaction? <a href="#">Let us help.</a>
                </p>
            </div>
        </div>
        <div class="second_fold earnedTabs">
            <div class="shadowtype2">
                <!-- <div class="row">
                    <div class="col-md-12 ">
                        <div class="point_box_bottom">
                            <a href="">Send Reffral <br/>Link</a>
                        </div>
                    </div>
                </div> -->
                <div #tabContainer></div>
                <div class="rowDiv">
                    <mat-tab-group #tabGroup>
                        <mat-tab label="Reward Points">
                            <table class="table table-striped" *ngIf="allRewardPoints">
                                <thead>
                                  <tr>
                                    <th scope="col">Nagesh's Purchase / Refund</th>
                                    <th scope="col">Points</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of allRewardPoints">
                                    <td>
                                      {{item.EarnedDate | date :'dd-MMM-yy  h:mm a ' }}
                                    </td>
                                    <td>{{item.Point}}</td>
                                  </tr>
                                </tbody>
                              </table>
                              <button *ngIf="showLoadMore" (click)="loadMore()" class="load_more">Load More</button>
                        </mat-tab>

                        <mat-tab label="Referrals">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Referral Emails</th>
                                  <th scope="col">Points</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of referedFriends; index as i">
                                  <td>{{item.EmailId}}</td>
                                  <td>{{item.Point}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </mat-tab>

                          <mat-tab label="Completed">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Referral Emails</th>
                                  <th scope="col">Points</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of referedFriendsCompleted; index as i" >
                                  <td>{{item.EmailId}}</td>
                                  <td>{{item.Point}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </mat-tab>

                          <mat-tab label="Redeemed">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Transaction Date</th>
                                  <th scope="col">Points</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of redeemedPoints; index as i">
                                  <td>{{item.RedeemDate | date :'dd-MMM-yy h:mm:ss a '}}</td>
                                  <td>{{item.PointUsed}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </section>
    <section *ngIf="!userLoggedin">
      <div class="shadowtype2 shadowtype3">
        <h1 class="heading_style3 d-none d-md-block">
          Refer a Friend<br>
          <span>Easy as 1 2 3 and earn points!</span>
        </h1>

        <div class="row howitworksSection">
          <div class="col-md-4 mb-4">
            <div class="icon_holder1 aarow1">
              <img
                src="assets/images/new_design_images/referafriend_icon1.png"
                alt="icon"
              />
            </div>
            <h3 class="heading_style2">Log In</h3>
            <p>Login and Refer upto 5 <br> friends instantly.</p>

          </div>
          <div class="col-md-4 mb-4">
            <div class="icon_holder1 aarow2">
              <img
                src="assets/images/new_design_images/referafriend_icon2.png"
                alt="icon"
              />
            </div>
            <h3 class="heading_style2">Enter <br/>friend’s email</h3>
            <p>Earn 500 points on every <br> successful referral.</p>
          </div>
          <div class="col-md-4 mb-4">
            <div class="icon_holder1">
              <img
                src="assets/images/new_design_images/referafriend_icon3.png"
                alt="icon"
              />
            </div>
            <h3 class="heading_style2">Earn <br/>$10 FREE min</h3>
            <p>
              Redeem anytime anywhere when <br/>your points add up to 1000.
            </p>
          </div>
        </div>

        <div class="loginBoxSec">
          <p>You must be logged in to refer a friend</p>
          <button>Login</button>
        </div>

        <div class="row referedFriendsEarn">
          <div class="col-md-6">
            <div class="deals">
              <h3>
                Refer Friends & Earn<br />
                Points!
              </h3>
              <p>
                Invitation e-mail will be send to your referred e-mails, to sign
                up and purchase one of our plans. Each successful sales converted
                from your referral will earn 500 points.
              </p>
              <div class="deal-tab">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Points</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1000</td>
                      <td>$10</td>
                    </tr>
                    <tr>
                      <td>2000</td>
                      <td>$20</td>
                    </tr>
                    <tr class="total">
                      <td>5000</td>
                      <td>$50</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p class="note">A total of 1000 can earn you a $10 card. 1 referal=500 points.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="deals2">
              <h3>Track all of your referrals <br> online!</h3>
            <p>
              You can view the status of your referrals, redeem your referral
              points and view redeem history under my account page. Points can
              be redeemed as soon as you reached a minimum of 1100 points which
              is applicable for a $10 card.
            </p>
            <div class="note_box">
              <h3>Please note:</h3>
              <p>Points cannot be converted into cash.</p>
              <p>Refer a friend applies for new account activation only</p>
            </div>
            </div>
          </div>
        </div>

        <div class="howItworksSec">
          <ul>
            <li>
              <div class="number">01</div>
              <img src="" alt="icon" />
              <div class="description">
                Share your referral Link
                with your friends and
                family.
              </div>
            </li>
            <li>
              <div class="number">02</div>
              <img src="" alt="icon" />
              <div class="description">
                Your referee will click the
                link to signup and makes
                the first purchase.
              </div>
            </li>
            <li>
              <div class="number">03</div>
              <img src="" alt="icon" />
              <div class="description">
                Our system will
                automatically add 500 points
                each. (Redeemable for $5)
              </div>
            </li>
            <li>
              <div class="number">04</div>
              <img src="" alt="icon" />
              <div class="description">
                Refer more and
                earn more
              </div>
            </li>
            <li>
              <div class="number">05</div>
              <img src="" alt="icon" />
              <div class="description">
                Track your Referral and
                redeemable points
              </div>
            </li>
            <li class="tick">

            </li>
          </ul>
        </div>

      </div>
    </section>
