
<div class="first_fold">

    <h1 class="heading_style1">
    Refer<br/> a Friend<br/>
    <!-- <span>Easy as 1 2 3 and earn points!</span> -->
    </h1>
    <div class="home_banner referafriend_banner">
        <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
    </div>
    </div>
    <section *ngIf="userLoggedin">
        <div class="second_fold">
                <div class="shadowtype2">
                    <h2 ><span class="heading_strong">Nagesh's </span> <span class="heading_light">Point</span></h2>
                    <div class="row balDetails">
                        <div class="col-md-6">
                            <img src="../../../assets/images/new_design_images/current_bal.png" alt="icon" />
                            <div>
                              <p>Current Balance</p>
                              <h3>16,235</h3>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <img src="../../../assets/images/new_design_images/red_value.png" alt="icon" />
                          <div>
                            <p>Redeemable value </p>
                            <h3>{{enrollAmount | bCurrency}}</h3>
                            <div class="buttonArea">
                                <button mat-button *ngIf="enrollPoints > 1000" class="refButton" >Redeem now</button>
                                <!-- <button mat-button *ngIf="enrollPoints > 1000" class="submitButton" >Redeem now</button> -->
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="yourReffralCode">
                        <h3>Your reffral code is: <span>{{referrerCode}}</span></h3>
                        <button type="button" data-href="reffralUrl">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{reffralUrl}}&amp;src=sdkpreparse">
                              <img src="../../../assets/images/new_design_images/facebook.png" alt="facebook" />
                            </a>
                        </button>
                        <button type="button">
                            <a href="https://twitter.com/intent/tweet?text={{reff_text}} : {{reffralUrl}}" target="_blank">
                              <img src="../../../assets/images/new_design_images/twitter.png" alt="twitter" />
                            </a>
                        </button>

                        <button type="button">
                            <a href="http://pinterest.com/pin/create/link/?url={{reffralUrl}}" target="_blank">
                              <img src="../../../assets/images/new_design_images/pinterest.png" alt="pinterest" />
                            </a>
                        </button>

                        <button type="button">
                            <a href="https://wa.me?text={{reff_text}} : {{reffralUrl}}" target="_blank">
                              <!-- <img src="../../../assets/images/new_design_images/call_us.png" alt="WhatsApp" /> -->
                              <img src="../../../assets/images/new_design_images/facebook.png" alt="WhatsApp" />
                            </a>
                        </button>
                    </div>

                </div>

                <!-- <st-inline-share-buttons [config]="inlineShareButtonsConfig"></st-inline-share-buttons>  -->

        </div>

        <div class="second_fold points_summary">
          <div class="shadowtype2">
              <div class="left_section">
                <h3>Points summary</h3>
                <p>In the past 45 days, you’ve earned points from</p>
              </div>
              <div class="right_section">
                <a href="#" class="viewAllTr">View all Transactions</a>
              </div>
          </div>
        </div>

        <div class="second_fold earned_referrals">
            <div class="shadowtype2">
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="point_box">
                            <h3>{{rewardTotal}}</h3>
                            <p>Earned</p>
                            <img src="../../../assets/images/new_design_images/earned.svg" alt="earned" />
                            <a href="">Learn more</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="point_box">
                            <h3>{{totalRefrals}}</h3>
                            <p>Referrals</p>
                            <img src="../../../assets/images/new_design_images/referrals.svg" alt="referrals" />
                            <a href="">Learn more</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="point_box">
                            <h3>{{totalCompleted}}</h3>
                            <p>Completed</p>
                            <img src="../../../assets/images/new_design_images/completed.svg" alt="completed" />
                            <a href="">Learn more</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="point_box">
                            <h3>{{totalRedemed}}</h3>
                            <p>Redeemed</p>
                            <img src="../../../assets/images/new_design_images/redeemed.svg" alt="redeemed" />
                            <a href="">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="point_box_bottom">
                            <img src="../../../assets/images/new_design_images/sendreferrallink.svg" alt="sendreferrallink" />
                            <a href="">Send Reffral <br/>Link</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="point_box_bottom">
                            <img src="../../../assets/images/new_design_images/calltoredeem.svg" alt="calltoredeem" />
                            <a href="">Call to <br/>Redeem</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="second_fold">
            <div class="shadowtype2">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="point_box_bottom">
                            <a href="">Send Reffral <br/>Link</a>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <mat-tab-group>
                        <mat-tab label="All">
                            <div class="box_container">
                                <div class="section">
                                    <div class="left_section">
                                        <div class="buyer_title">Nagesh's Purcchase</div>
                                        <div class="balance_div"> 40GB</div>
                                        <div class="date_div">March 1 2012 $15</div>
                                    </div>
                                    <div class="right_section">
                                        <div class="points_div">+512 Points</div>
                                    </div>
                                </div>
                                    <div class="st_line"></div>
                                <div class="section">
                                    <div class="left_section">
                                        <div class="buyer_title">Nagesh's Purcchase</div>
                                        <div class="balance_div"> 40GB</div>
                                        <div class="date_div">March 1 2012 $15</div>
                                    </div>
                                    <div class="right_section">
                                        <div class="points_div">+512 Points</div>
                                    </div>
                                </div>

                                <div class="st_line"></div>
                                <div class="section">
                                    <div class="left_section">
                                        <div class="buyer_title">Nagesh's Purcchase</div>
                                        <div class="balance_div"> 40GB</div>
                                        <div class="date_div">March 1 2012 $15</div>
                                    </div>
                                    <div class="right_section">
                                        <div class="points_div">+512 Points</div>
                                    </div>
                                </div>

                            </div>
                        </mat-tab>
                        <mat-tab label="Earned"> Content 2 </mat-tab>
                        <mat-tab label="Completed"> Content 3 </mat-tab>
                        <mat-tab label="Redeemed"> Content 3 </mat-tab>
                    </mat-tab-group>

                </div>

            </div>
        </div>
    </section>
    <section *ngIf="!userLoggedin">
        <p>User is not logged in</p>
    </section>
