.example-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.hideinMobile {
	display: block;
}
.showInmobile {
	display: none;
}
.mat-toolbar {
	background: none;
}
.nobg {
	background: none;
	cursor: pointer;
	border: none;
}
.three_service {
	height: auto !important;
}
.first_fold {
	margin-bottom: 35px;
}
.aboutusCont {
	h5 {
		color: #0B203E;
		font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		line-height: 26px;
		padding: 0 52px 0 0;
	}
	h4 {
		color: #0B203E;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		line-height: 26px;
		margin-bottom: 32px;
	}
	p {
		color: #808080;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		line-height: 27px;
	}
	ul {
		padding-left: 17px;
		li {
			color: #808080;
			font-size: 16px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			line-height: 27px;
		}
	}
}
.aboutUsblueArea {
	background: #0367DE;
	min-height: 200px;
	padding: 50px 0;
	h3 {
		color: #fff;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
	}
	p {
		color: #fff;
		font-size: 13px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		line-height: 26px;
	}
}
.icon_holder1 {
	height: auto;
}
.second_fold {
	padding: 10px 0px 35px 0;
}
.mobileOnly {
	margin: 0 20px 30px 20px !important;
}
.deskTopOnly {
	display: block;
}
.mobileTopAccordion {
	width: 90%;
	margin: 0 auto 0px;
	max-width: 1100px;
	padding-bottom: 30px;
	.headingText {
		color: #0B203E;
		font-size: 18px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		padding: 10px 0;
		border-bottom: 1px solid #ccc;
	}
}

@media only screen and (max-width: 650px) { 
	.hideinMobile{display: none;}
	.showInmobile { display: block;}  
	.three_service{ height: 360px;}
	.second_fold {padding: 30px 14px;}
	.deskTopOnly{ display: none;}
	.mobileOnly{ display: block; margin:0 20px;}
	.home_banner.mobileterms_banner {
		height: 410px !important;
		border-bottom-left-radius: 100% 80px;
		border-bottom-right-radius: 100% 80px;
	}	
	.mobileTopAccordion .headingText {
		font-weight: 600;
		font-size: 22px;
		padding-top: 0;
	}
	h1.heading_style1 {
		display: none;
	}
	.mat-expansion-panel-header-title {
		font-size: 16px;
	}
}