.divider {
    width: 1px;
    background: #cacaca;
}
.card-header {
    padding: 20px;
    border-bottom: 1px solid #cacaca;
    .header-title {
        font-size: 14px;
        font-weight: 700;
        color: #253853;
    }
    svg {
        height: 16px;
        width: 16px;
    }
}

::ng-deep{
    mat-bottom-sheet-container {
        border-radius: 20px 20px 0 0;
        padding: 0!important;
    }
}
.img-1>div {
    margin-bottom: 10px;
}
.img-1 {
    color: #8D8D8D;
    font-size: 13px;
}