<div class="forgetPassword">
  <div class="forgetPassContent">
    <h1>Forgot your password? No problem</h1>
    <p>Enter your Phone number to receive your password.</p>
    <div class="passFieldArea">
      <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
        <div class="col-sm-12 formRowM15">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Mobile Number" formControlName="phoneEmailControl">
            <mat-hint>Start with +(country code), e.g +1, +44, or +91 </mat-hint>
            <mat-error *ngIf="forgotPasswordForm.get('phoneEmailControl').errors?.required">
              Mobile number is required.
            </mat-error>
            <mat-error *ngIf="forgotPasswordForm.get('phoneEmailControl').errors?.invalid">
              <!-- Mobile number does not exist. -->
              {{phoneEmailError}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 formRowM15" [hidden]="!otpSend">

          <mat-form-field class="example-full-width">
            <input matInput type="password" maxlength="6" placeholder="Enter 6 digit passcode" formControlName="otp">
            <mat-error *ngIf="forgotPasswordForm.get('otp').errors?.invalid">
              <!-- Incorrect Username/Password. -->

              {{passError}}
            </mat-error>
          </mat-form-field>

          <span class="floatRight forgetPass" *ngIf="isEnableResendOtp">
            <a tabindex="0" (click)="sendOtp()">Resend Passcode</a>
          </span>
        </div>
        <div class="form_row1">
          <div class="input_holder1">
            <button type="submit" mat-button class="submitButton">Submit</button>
            <p *ngIf="subscribeTimer > 0">{{subscribeTimer}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>