.topuppPlanDialog {
    position: relative;
    max-height: 85vh;
    overflow-y: auto;
      a {
        position: absolute;
        color: #fff !important;
        right: 18px;
        top: 8px;
        font-size: 30px;
      }
      .topuppPlanDialogTop {
        background-image: url(../../../../assets/images/plan_details.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #142560;
        color: #fff;
        padding: 35px 25px 20px;
        text-align: center;
        h2 {
          font-weight: 700;
          font-size: 35px;
          max-width: 400px;
          margin: 0 auto 40px;
      }
      p {
        font-weight: 500;
        font-size: 18px;
      }
    }
    >p {
        padding: 50px;
        text-align: center;
    }
    button.promo {
        border: none;
        color: #142560;
        border-radius: 20px;
        font-weight: 600;
        padding: 6px 22px;
        margin-bottom: 38px;
    }
}

@media only screen and (max-width: 767px) {
    .topuppPlanDialog {
          .topuppPlanDialogTop {
            padding: 25px 25px 10px;
            background-size: 100% 100%;
            h2 {
              font-size: 28px;
              margin: 0 auto 25px;
          }
          p {
            font-size: 16px;
          }
        }
        >p {
            padding: 20px;
        }
        button.promo {
          margin-bottom: 25px;
      }
    }
}
