@import '__variables';
@import '__mixins';
$tab-bg :"/assets/images/features/tab-bg.png";
$common-font-color: #000;
$content-bg-color: #fff;
$tab-bg-color: #ffffff;
$font-family:'Montserrat', sans-serif;

.mobilePage_banner {
  background-image: url(../../../assets/images/new_design_images/mobile_page_banner.jpg);
  margin-top: 77px;
}
.headerScanWrap {
  position: absolute;
  left: 13%;
  bottom: 14%;
  .heading_mobilePage {
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 35px;
  }
  .scanTextWrap {
    display: flex;
    color: #fff;
    align-items: center;
  }
  .scanTextWrap img {
    margin-right: 35px;
  }
  .textWrap {
    max-width: 270px;
  }
}

@media only screen and (min-width: 1650px) {
  .mobilePage_banner {
      height: 675px;
  }
  .containerMp {
      max-width: 1290px;
  }
}
