<div class="first_fold">
	<h1 class="heading_style1 contact-header">
		Try Us Free!<br />
		<span>No purchase necessary, No contract.</span>
	  </h1>
	<div class="home_banner deal1_banner"></div>
</div>


<!-- search section start here -->
<div class="">
	 

	<div class="wrappers">
		<div class="search__wrapper_new">
            <h2>Connect. Communiate <br/>All  in one place</h2>
            <p>
                Effortless account management, limitless controll.
                <br/>
                Experience the power at your fingertips.
            </p>
            <a href="javascript:void(0)" (click)="searchRates()" >Search rates ></a>
        </div>
        <div>

            <div class="tab-wrapper">
                <div *ngFor="let item of data;  let i = index" [ngClass]="main_bg == i? 'active' : ''" class="main_bg main_bg_{{i}}" style="background: url({{item.bg_img}}); background-size: cover"></div>
                <div class="containers">
                  <div class="title-wrapper">
                  </div>
                  <mat-tab-group dynamicHeight animationDuration="0ms" mat-stretch-tabs [(selectedIndex)]="main_bg">
                    <mat-tab *ngFor="let item of data;  let i = index">
                      <ng-template mat-tab-label>
                        <div class="custom_label">
                          <img src="{{item.tab.img}}">
                          <p>{{item.tab.title}}</p>
                        </div>
                      </ng-template>
                      <div class="content-wrapper mobiletab-content">
                        <h1 [innerHTML]="item.heading"></h1> 
                        <p [innerHTML]="item.subhead"></p>
                        
                       <div class="list-wrapper">
                        <mat-list role="list" class="horizontal" *ngFor="let img_l of item.img_list;" (mouseover)="(main_img = img_l.img_hover)">
                          <mat-list-item role="listitem">
                              <div class="icon-wrapper" matTooltip="{{img_l.tool}}" matTooltipPosition="above">
                        <img src="{{img_l.img}}" >
                      <img src="{{img_l.img_hover}}"  >
                      </div>
                          </mat-list-item>
                        </mat-list>
                       </div>
                        
                      </div>
                    </mat-tab>
                    <!-- one touch dialing -->
                  </mat-tab-group>
                  <div class="bottom-image hide_desktop">
                    <div *ngFor="let item of data;  let i = index" [ngClass]="main_bg == i? 'active' : ''" class="main_bg main_bg_{{i}}" style="background: url({{item.bg_img}}); background-size: cover; background-position: center;"></div>
                  </div>
                </div>
              </div>
        </div>

    </div> 
