@import '__variables';
@import '__mixins';
$tab-bg :"/assets/images/features/tab-bg.png";
$common-font-color: #000;
$content-bg-color: #fff;
$tab-bg-color: #ffffff;
$font-family:'Montserrat', sans-serif;


::ng-deep {
  .mobilePage_banner {
    background-image: url(../../../assets/images/new_design_images/mobile_page_banner.jpg);
    margin-top: 77px;
  }
  .headerScanWrap {
    position: absolute;
    left: 13%;
    bottom: 14%;
    .heading_mobilePage {
      font-size: 70px;
      line-height: 1.1;
      color: #fff;
      font-weight: 700;
      margin-bottom: 40px;
    }
    .scanTextWrap {
      display: flex;
      color: #fff;
      align-items: center;
    }
    .scanTextWrap img {
      margin-right: 35px;
    }
    .textWrap {
      max-width: 370px;
      font-size: 22px;
      line-height: 1.3;
    }
  }

  .search__wrapper_new {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    h2 {
      font-size: 80px;
      line-height: 1.1;
      font-weight: 700;
      letter-spacing: -3px;
      margin-bottom: 15px;
    }
    p {
        font-size: 22px;
        font-weight: 600;
    }
    .searchRates {
        font-size: 20px;
        font-weight: 700;
        color: #2c9af9;
        display: inline-block;
    }
  }
  .callSupportTab {
    position: relative;
    height: 870px;
    .hide_desktop {
      display: none;
    }
    .mat-tab-labels {
      background: #000;
      color: #fff;
      border-radius: 30px;
    }
    .mat-ink-bar {
      display: none;
    }
    .mat-tab-header {
      border: none;
    }
    .mat-tab-label {
      background: transparent !important;
      opacity: 1;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      height: 65px;
      &.mat-tab-label-active {
        color: #ffd600;
      }
      p {
        margin: 0;
      }
    }
    .main_bg {
      position: absolute;
      top: 135px;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      background-repeat: no-repeat;
      background-position: top 0 center;
      &.active {
        display: block;
      }
      &_0, &_1, &_2, &_3 {
        background-position: top 0 right;
      }
    }
    .mobiletab-content {
        margin-top: 410px;
        margin-left: 80px;
        max-width: 310px;
        font-family: "Montserrat", sans-serif;
        &.slideText_0 {
          margin-top: 358px;
          max-width: 414px;
        }
        &.slideText_1 {
          margin-top: 360px;
          max-width: 335px;
        }
        &.slideText_2 {
          margin-top: 448px;
          margin-left: 90px;
          max-width: 465px;
        }
        &.slideText_3 {
          margin-top: 395px;
          max-width: 365px;
        }

        h1 {
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 15px;
            letter-spacing: -1px;
            line-height: 1.1;
        }
        p {
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 2px;
        }
        p.subhea2 {
            font-size: 22px;
        }
    }
  }

  .experienceSecTop {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      h2 {
          font-size: 80px;
          line-height: 1.1;
          font-weight: 700;
          max-width: 649px;
          letter-spacing: -3px;
      }
      .desText {
        font-size: 16px;
        font-weight: 600;
        max-width: 344px;
        margin-left: auto;
    }
  }
}

.containerMp {
  padding-bottom: 65px;
}

@media only screen and (min-width: 1650px) {
  .mobilePage_banner {
      height: 675px;
  }
  .containerMp {
      max-width: 1290px;
  }
}

::ng-deep {
  @media only screen and (max-width: 1299px) {
    .callSupportTab {
       height: 650px;
      .mat-tab-label {
          font-size: 16px;
          height: 60px;
          padding: 0;
      }
      .main_bg {
          background-size: contain;
      }
      .mobiletab-content {
        margin-left: 0;
        margin-top: 362px;
        &.slideText_0 {
              margin-top: 274px;
        }
      }
    }
    .search__wrapper_new, .experienceSecTop {
      h2 {
        font-size: 60px;
      }
    }
    .experienceSecTop {
      h2 {
        padding-right: 50px;
      }
    }
  }
}


::ng-deep {
  @media only screen and (max-width: 991px) {
    .callSupportTab {
      height: 500px;
      .mat-tab-label {
          font-size: 15px;
          height: 55px;
          min-width: 140px;
          padding: 0 10px;
          &:nth-child(1) {
            padding-left: 20px;
          }
          &:nth-child(4) {
            min-width: 180px;
          }
      }
      .mobiletab-content {
        margin-top: 260px;
        h1 {
          font-size: 36px;
        }
        p {
          font-size: 16px;
        }
        &.slideText_0 {
            margin-top: 98px;
            max-width: 315px;
        }
        &.slideText_1 {
            margin-top: 220px;
        }
        &.slideText_2 {
            margin-top: 169px;
            max-width: 290px;
            margin-left: 0;
        }
        &.slideText_3 {
          margin-top: 196px;
          max-width: 325px;
        }
      }
    }
    .search__wrapper_new, .experienceSecTop {
      h2 {
        font-size: 40px;
      }
    }
  }
}

::ng-deep {
  @media only screen and (max-width: 767px) {
    .mobilePage_banner {
      background-position: right 25% top;
    }
    .headerScanWrap {
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.50);
      padding: 18px 20px;
      .heading_mobilePage {
        font-size: 35px;
        margin-bottom: 20px;
      }
      .scanTextWrap img {
        margin-right: 15px;
        width: 90px;
        height: auto;
      }
      .textWrap {
        max-width: 100%;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .search__wrapper_new {
        margin-top: 40px;
        margin-bottom: 30px;
        p {
            font-size: 18px;
        }
    }
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .callSupportTab {
      height: 630px;
      .main_bg {
        height: 280px;
        top: 80px;
        background-size: auto 267px
      }
      .mobiletab-content {
        margin-top: 330px !important;
        h1 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
        }
      }
      .mat-tab-header {
          margin: 0 -18px;
      }
    }
    .experienceSecTop {
      display: block;
      .desText {
        margin: 0;
      }
      h2 {
        padding: 0;
        max-width: 100%;
      }
    }
    .search__wrapper_new, .experienceSecTop {
      h2 {
        font-size: 35px;
        letter-spacing: -1px;
      }
    }
    .mat-tab-header-pagination-chevron {
      border-color: rgba(0,0,0,.87) !important;
    }
  }
}
