<div class="recharge_block recharge2">


  <!-- <p class="updateCard" *ngIf="!isPromotion" >Almost there...</p> -->
   <div class="row">
          <div class="col-md-12 mb-5" *ngIf="promoCode =='RAMADAN2024'">
      <img src="./assets/images/promotion/{{promoCode}}.jpg" class="img-fluid" alt="Ramdan Promotion Banner" />
    </div>  
  </div>
  <div class="container containerMobile">
    <div class="row">
      <div class="col-xl-6 expCheck">
        <div class="col-md-12">
          <h2 class="heading_style4">
            <span>Almost there</span>
          </h2>
        </div>
        <div class="col-md-12" *ngIf="currentCart && currentCountry">
          <form [formGroup]="purchaseInfoForm" (ngSubmit)='onPurchaseInfoFormSubmit()' novalidate>
            <div class="form_holder form_holder2 express_checkout">
              <p class="mobile_guest">Mobile</p>
              <div class="smallLine"></div>

              <div *ngIf="isPromotion==false" class="col-sm-12 formRowM15 text-left current-country">
                <img alt="flag" height="20" src="./../../assets/images/blank.gif" width="30" [class]="countryFlagCss">


                 You are in {{currentCountry.CountryName}}
              </div>
              <div *ngIf="isPromotion==true" class="position-relative">
              <div class="select_top1 text-left" (click)="openFlagDropDown()">
                <img src="./../../assets/images/blank.gif" alt="flag" width="30" height="20"
                  [ngClass]="'flag flag-f-'+ currentSetting?.country?.CountryId">
                <svg version="1.1" class="ml-2" height="15" width="15" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 386.257 386.257" style="enable-background:new 0 0 386.257 386.257;" xml:space="preserve">
                <polygon points="0,96.879 193.129,289.379 386.257,96.879 "/>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg>
                  You are in {{currentSetting.country?.CountryName}}
              </div>

            </div>

              <div class="col-sm-12 formRowM15">
                <mat-form-field class="example-full-width">
                  <span matPrefix *ngIf="hidePrefix" >+ {{currentCountry.CountryCode}} &nbsp;</span>
                  <!--<input matInput placeholder="Phone number/email" (keyup)="validateUsername()" type="tel" formControlName="phoneNumber" />-->
                  <input matInput placeholder="Phone number" type="number" formControlName="phoneNumber" />
                </mat-form-field>
              </div>

              <div class="form_row1">
                <div class="input_holder1 text-center">
                  <button mat-button class="submitButton_confirms">{{ submitButtonText }}</button>
                  <div class="or">
                    or
                  </div>
                  <button mat-button class="login-button" (click)="loginWithEmail()">
                    <img src="./assets/images/app-icons/email.png" alt=""> Continue with Email
                  </button>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-1"></div>
      <div class="col-xl-5 yourOrder">
        <div class="col-md-12">
          <h2 class="heading_style4">
            <span>Your order</span>
          </h2>

        </div>
        <table class="table" *ngIf="currentCart.transactiontype != 4">
          <tbody>
            <tr>
              <td>Plan</td>
              <td>{{currentCart?.getOrderName()}}</td>
            </tr>
            <!-- <tr>
              <td>Purchase Amount</td>
              <td>{{ currentCart?.getPurchaseAmount() | bCurrency : currentCart?.currencyCode  }} </td>
            </tr> -->

            <tr *ngIf="currentCart?.couponCode == 'Buy1Get1'">
              <td>Purchase Amount</td>
              <td>{{ (currentCart?.getPurchaseAmount() *2) | bCurrency : currentCart?.currencyCode }} </td>
            </tr>
            <tr *ngIf="currentCart?.couponCode == 'Buy1Get1'">
              <td>Discount (Buy1 Get1)&nbsp;<span class="discountBuy1Get1"></span></td>
              <td><span class="color_red">- {{ currentCart?.getPurchaseAmount() | bCurrency : currentCart?.currencyCode }}</span> </td>
            </tr>
            <tr *ngIf="currentCart?.couponCode != 'Buy1Get1'">
              <td>Purchase Amount</td>
              <td>{{ currentCart?.getPurchaseAmount() | bCurrency : currentCart?.currencyCode }} </td>
            </tr>

            <tr>
              <td>Service Fee</td>
              <td>{{ currentCart?.calculateServiceFee() | bCurrency : currentCart?.currencyCode  }}</td>
            </tr>

			<tr *ngIf="currentCart?.offerPercentage">
              <td><b>Bonus</b></td>
              <td><b>{{currentCart?.offerPercentage}}%</b></td>
            </tr>

            <tr class="total">
              <td>Total ({{currentCart?.currencyCode}})</td>
              <td>{{currentCart?.totalAmount() | bCurrency : currentCart?.currencyCode  }}</td>
            </tr>
          </tbody>
        </table>


        <table class="table" *ngIf="currentCart.transactiontype === 4">
          <tbody>
            <tr>
              <td>Mobile Recharge</td>
              <td>{{ currentCart?.getPurchaseAmount() | bCurrency : currentCart?.currencyCode }} </td>
            </tr>
            <tr>
              <td>Service Fee</td>
              <td>{{ currentCart?.calculateServiceFee() | bCurrency : currentCart?.currencyCode }} </td>
            </tr>
            <tr>
              <td>Amount Sent</td>
              <td> {{ currentCart?.topupOption.DestinationCurrency }}
                {{ currentCart?.topupOption.DestinationAmount }}</td>
            </tr>
            <tr>
              <td>Mobile Number</td>
              <td>{{currentCart?.phoneNumber }}</td>
            </tr>
            <tr>
              <td>Operator</td>
              <td>{{currentCart?.topupOption.Operator}}</td>
            </tr>
            <tr class="total">
              <td>Total ({{currentCart?.currencyCode}})</td>
              <td>{{currentCart?.totalAmount() | bCurrency : currentCart?.currencyCode}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
