
<div class="first_fold">

<h1 class="heading_style1">	
Refer a Friend<br/>
<span>Easy as 1 2 3 and earn points!</span>
</h1>
<div class="home_banner referafriend_banner"> 
    <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
</div>
</div>

<div class="second_fold">
		<div class="shadowtype2">
			<div class="row">
				<div class="col-md-4 howitworksSection number1">
					<div class="icon_holder1"><img src="assets/images/howitworks_icon1.svg" alt="icon"></div>
					<h3 class="heading_style2">Sign up</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
				</div>
				<div class="col-md-4 howitworksSection number2">
					<div class="icon_holder1"><img src="assets/images/howitworks_icon2.svg" alt="icon"></div>
					<h3 class="heading_style2">Enter friend’s email</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
				</div>
				<div class="col-md-4 howitworksSection number3">
					<div class="icon_holder1"><img src="assets/images/howitworks_icon3.svg" alt="icon"></div>
					<h3 class="heading_style2">Earn {{ 10 | bCurrency : currentCurrency | async }} FREE min</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
				</div>
			</div>
            <div class="row">
                <div class="gradientArea">
                <p>If you don't have an account please</p>
                <div class="buttonArea">
                    <button mat-button class="submitButton" >Sign up now</button> 
                </div>
                </div>
            </div>
            
            <div class="row">
               <div class="col-md-5 deals">
                    <h3>Refer Friends & Earn Points!</h3>
                    <p>Invitation e-mail will be send to your referred e-mails, to sign up and purchase one of our plans. Each successful sales converted from your referral will earn 250 points.</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Points</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1000</td>
                            <td> {{ 10 | bCurrency : currentCurrency | async }}</td>
                        </tr>
                        <tr>
                            <td>2000</td>
                            <td>{{ 20 | bCurrency : currentCurrency | async }}</td>
                        </tr>
                        <tr class="total"> 
                            <td>5000</td>
                            <td>{{ 50 | bCurrency : currentCurrency | async }}</td>
                        </tr>
                        
                        </tbody>
                    </table>
                    <p class="text-center">A total of 1000 can earn you a {{ 10 | bCurrency : currentCurrency | async }} card.	</p>
                    <p class="text-center">1 referal=250 points.</p>
               </div>
               <div class="col-md-5 deals">
                   <h3>Track all of your referrals online!</h3>
                   <p>You can view the status of your referrals, redeem your referral points and view redeem history under my account page. Points can be redeemed as soon as you reached a minimum of 1000 points which is applicable for a {{ 10 | bCurrency : currentCurrency | async }} card.</p>
                   <p>Please note:</p>
                   <p>Points cannot be converted into cash.</p>
                   <p>Refer a friend applies for new account activation only</p>
               </div> 
            </div>
		</div>
</div>
