 

  <div class="first_fold">
  
  <h1 class="heading_style1">	
  Terms & Conditions<br/>
  <span>The Industry Leader in International Calling Plans, Raza Keeps You Talking.</span>
  </h1>
  <div class="home_banner terms_banner">
      <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
  </div>
  </div>
  
  
  <div class="deskTopOnly">
  
  <div class="second_fold">
      <div class="container">
      
          <div class="col-md-12  aboutusCont">
            <h5>Terms & Conditions</h5>
          </div>
          <div class=" col-md-8 aboutusCont">
            <p>This Raza.com Customer Agreement ("Agreement") sets forth the terms and conditions that apply to your purchases of calling plans and other products from www.Raza.com (the "Raza.communications Website") By registering to use this Website or by purchasing and using our products, You (as hereinafter defined) agree to the terms and conditions in this Agreement, the Conditions of Use for the Raza.com website, and any changes that may be made to the Agreement or to the Conditions of Use. If you do not agree to the terms of this Agreement or have any questions about the Agreement, do not purchase or use our products without contacting Raza.communications immediately at 1877-463-4233.</p>
          
      </div>
      </div>
  </div>
  
  <div class="second_fold">
      <div class="container">
        
          <div class="col-md-4 aboutusCont">
            <h5>Definitions</h5>
          </div>
          <div class="col-md-8 aboutusCont">
              <p>"You" and "Your" mean the purchaser and/or the user of the Products (as defined below). "Raza.com," "We," "Our," and "Us" mean Raza.communications and any Raza.com affiliates authorized to sell and/or distribute the Products. "Product" or "Products" means any and all Products you purchase and/or use from the Raza.com Website now or in the future. "Raza.communications Website" is found at www.Raza.com and contains the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products. You can also request information about the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products by calling Raza.com toll free at 1-877-463-4233.</p>
              <p>This Agreement incorporates by reference to a Product's prices, charges, restrictions and the terms and conditions for such Product listed on our website, as well as any disclosures, provisions, limitations or other information provided with, or printed on, the Products.</p>
          </div>
        
      </div>
  </div>
  
 </div>


 <div class="mobileOnly">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Terms & Conditions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="aboutusCont">
        <p>This Raza.com Customer Agreement ("Agreement") sets forth the terms and conditions that apply to your purchases of calling plans and other products from www.Raza.com (the "Raza.communications Website") By registering to use this Website or by purchasing and using our products, You (as hereinafter defined) agree to the terms and conditions in this Agreement, the Conditions of Use for the Raza.com website, and any changes that may be made to the Agreement or to the Conditions of Use. If you do not agree to the terms of this Agreement or have any questions about the Agreement, do not purchase or use our products without contacting Raza.communications immediately at 1877-463-4233.</p>
       
        
      </div>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Definitions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="aboutusCont">
        <p>"You" and "Your" mean the purchaser and/or the user of the Products (as defined below). "Raza.com," "We," "Our," and "Us" mean Raza.communications and any Raza.com affiliates authorized to sell and/or distribute the Products. "Product" or "Products" means any and all Products you purchase and/or use from the Raza.com Website now or in the future. "Raza.communications Website" is found at www.Raza.com and contains the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products. You can also request information about the specific prices and charges, Product descriptions and other terms and conditions not set forth here that apply to the Products by calling Raza.com toll free at 1-877-463-4233.</p>
        <p>This Agreement incorporates by reference to a Product's prices, charges, restrictions and the terms and conditions for such Product listed on our website, as well as any disclosures, provisions, limitations or other information provided with, or printed on, the Products.</p>
       
      </div>
    </mat-expansion-panel>
</mat-accordion>
</div>

  



 

  
 

 



          
 
  

  