

<div class="tabContentMyaccount pt-5 pb-0" id="virtualNumber" *ngIf="showTopupForm">
<a href="javascript:void(0)" (click)="goBack()">Go Back</a>


<div *ngIf="!mobileTopupData">
   
    <div class="row">
    
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3 mt-lg-0 mt-md-0 mx-auto">
        <div class="card p-3 p-md-5 shadow mt-4 rounded-lg">
          <form class="example-form mobileTopup" [formGroup]="mobileTopupForm" (ngSubmit)="onMobileTopupFormSubmit()" autocomplete="off">
            <mat-form-field class="example-full-width">
              <mat-label class="font-weight-bold text-dark">Choose Country</mat-label>

               <span *ngIf="mycountryId > 0" matPrefix class="prefix-mobiletopup">
                <img src="assets/images/blank.gif" [ngClass]="'flag flag-' + mycountryId" />
              </span>
              <input matInput type="text" [matAutocomplete]="auto" formControlName="countryTo" (keyup)="unsetFlag()"
                class="ml-2" />
              <mat-icon matSuffix>search</mat-icon>

              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let country of filteredCountry | async" [value]="country"
                  (click)="onSelectCountrFrom(country)">
                  <span class="mr-2">
                    <img src="assets/images/blank.gif" [ngClass]="'flag flag-' + country.CountryId"
                      [alt]="country.CountryName" />
                  </span>
                  {{ country.CountryName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


            <mat-form-field class="example-full-width input-number">
              <mat-label class="font-weight-bold text-dark">Enter Mobile Number</mat-label>
              <span matPrefix class="prefix-mobiletopup"
                *ngIf="this.mobileTopupForm.get('countryTo').value?.CountryCode">+{{
                this.mobileTopupForm.get("countryTo").value?.CountryCode }}
              </span>

              <input type="tel" matInput formControlName="phoneNumber" class="ml-2"  (keyup)="storePhoneNumber()" />
              <span class="floatRight forgetPass" *ngIf="isTopUpEnable">
                <a tabindex="3" (click)="changeNumber()">Change Number?</a></span>
            </mat-form-field>
            <!--<p class="numberXX">+971 5299XXXXX</p>-->
            <mat-error *ngIf="
              mobileTopupForm.get('phoneNumber').errors?.Invalid_Operator
            ">
              Top-up to this number is not available at this time.
            </mat-error>


            <!--<a mat-button href="#" class="submit-btn">SUBMIT</a>-->

            <div class="button-wrapper">
              <button mat-button class="submit-btn btn-block mb-3 mb-md-0 w-50">{{ buttonText }}</button>
            </div>
          </form>
        </div>
      </div>
      
    

    </div>
   
</div>


</div>
<!---------- Mobile topup listing ---------->
<div class="tabContentMyaccount pt-5 pb-0" id="virtualNumber" *ngIf="!showTopupForm">
  <p class="tabTitle">International Topup</p>
  <p class="desc">Worldwide top-up to over 500 networks across 140 countris</p>
  <div class="input_holder1 myNumberButtonArea">
    <button mat-button class="submitButton" (click)="internationalTopUp()">Topup Now</button>
  </div>

  <div class="myaccountTabArea p-0">
    <div class="tabContentMyaccount planDetails" id="mynumber">
      <p class="tabTitle d-none">International Topup</p>
      <table class="table table-striped table-borderless">
        <thead>
          <tr>
            <th scope="col" class="pl-0">My Plan</th>
            <th scope="col" class="pl-0">Recharge Date</th>
            <th scope="col" class="pl-0">Amount</th>
            <th scope="col" class="pl-0">Add-Funds</th>
            <th scope="col" class="pl-0">Pin/Phone No.<span
                matTooltip="Calling from PayPhone or any Private Phone? Call us to get your Pin Number."><img loading="lazy"
                  src="https://d2uij5nbaiduhc.cloudfront.net/images/info_icon.svg" alt="" /></span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderHistoryList; index as i" >
            <ng-container >
              <td>{{item.CardName}}</td>
              <td>{{item.OrderDate | date :'M/d/yy h:mm a'}}</td> 
              <td>{{item.Price | bCurrency : item.CurrencyCode}}</td>
              <!--<td *ngIf="item.IsAllowRecharge"><a (click)="recharge(item.PlanId)">Recharge</a></td> -->
              <td *ngIf="item.IsAllowRecharge"><a (click)="rechargeRedirect(item)">Topup Now</a></td>
               
              <td *ngIf="!item.IsAllowRecharge"><a>Monthly Recharge</a>&nbsp;<span
                  matTooltip="Monthly plans will recharge every 30 days from the date of purchase. Please Call us if you like to recharge now"><img loading="lazy"
                    src="https://d2uij5nbaiduhc.cloudfront.net/images/info_icon.svg" alt="" /></span></td>
               
              <td >{{item.Pin}}</td>
          </ng-container>
          </tr>
    
        </tbody>
      </table>
      <a class="showFullHistory" (click)="onClickShowMore()">Show More</a>
    
    </div>
    </div>
</div>
 