<div class="tabContentMyaccount planDetails">
    <p class="tabTitle">Call Details</p>
    <a routerLink="/account/call-details/{{plan?.PlanId}}" routerLinkActive="active-link">Call Details</a>
    <!-- <mat-form-field class="option-dd">
      <mat-select [formControl]="callDetailsSelectionControl">
        <mat-option value="7"> Last 7 days </mat-option>
        <mat-option value="30"> Last 30 days </mat-option>
        <mat-option value="60"> Last 60 days </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngFor="let item of callHistories; index as i">
      <table class="table greyBg orderHistory" [ngClass]="{'greyBg': i%2===0}">
        <tbody>
          <tr>
            <td>Date</td>
            <td>{{item.CallDate | date :'M/d/yy h:mm a'}}</td>
          </tr>
          <tr>
            <td>Source Number</td>
            <td>{{item.SourceNumber}}</td>
          </tr>
          <tr>
            <td>Destination</td>
            <td>{{item.Destination}}</td>
          </tr>
          <tr>
            <td>Dest. City</td>
            <td>{{item.DestinationCity}}</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>{{item.Duration}}</td>
          </tr>
          <tr>
            <td>Amount</td>
            <td>{{item.Amount | number:'1.1-2' | bCurrency : 'Pre'}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->


  </div>
