@import '__variables';
@import '__mixins';

.faq-section{
    .section-title {
        font-size: 46px;
        color: #162f75;
        font-weight: 800;
        font-family: "Montserrat";
        text-align: center;
        margin-bottom: 50px;
        @include breakpoint(sm) {
            font-size:34px;
            margin-bottom: 30px;
        }
    }
    mat-icon{
        color: #152f75;
    }
    .loadmore {        
        margin: 74px auto 0 !important;
        background: #ffffff;
        border: 2px #ffc50b solid;        
        
       /* background: #f4cb26;*/
        border-radius: 24px !important;
        -moz-border-radius: 24px !important;
        -webkit-border-radius: 24px !important;
        
        padding: 11px 34px !important;
       /* margin: 60px auto 0 !important;*/
        color: #08273a;
        text-transform: uppercase;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        transition: background 0.3s ease-in-out;
        display: block;
    }
}

::ng-deep {
    .testPadding {
        padding: 35px 0 35px 0;
    }
    .authorIcon {
        background-image: url(/assets/images/new_design_images/hp_sprites.png);
    }
    .faq-section mat-panel-title{
        color: #042d43;
        font-weight: 500;
        font-family: "Montserrat";
    }
    .faq-section .mat-expansion-panel-content p{
        color: #042d43;
        font-weight: 500;
        font-family: "Montserrat";
    }

    .testimonial_area {
        padding: 30px 0;
        clear: both;
        overflow: hidden;
        h3 {
            text-align: center;
            font-size: 33px;
            font-weight: 600;
        }
        p {
            text-align: center;
            font-size: 20px;
            font-weight: 400;
        }
        .ratingStar {
            display: flex;
            margin-top: 5px;
        }
        .rtStar {
          background-image: url(../../../../assets/images/icon/star.png);
          background-size: 14px;
          background-repeat: no-repeat;
          width: 15px;
          height: 15px;
          margin-right: 5px;
        }
        .testiBlocksWrap {
            background: url(/assets/images/testimonial-bg-5_d2eb09.webp) 0% 0% / cover;
            height: 540px;
            width: 1100px;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            position: relative;
            .testHoverBlk {
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }
            .testiBlockInner {
                height: 229px;
                display: flex;
                flex-direction: column;
            }
            .testiBlockSec {
                color: #fff;
                display: flex;
                flex-direction: column;
                padding: 20px;
                height: 270px;
                transition: all .24s linear 0s;
                cursor: pointer;
                position: relative;
                z-index: 1;
                .testiBtm {
                    margin-left: 15px;
                    position: relative;
                    transition: all .24s linear 0s;
                    bottom: -22px;
                }
                p {
                  font-size: 16px;
                  text-align: left;
                  margin-bottom: 0;
                  display: none;
                  transition: all .24s linear 0s;
                }
                &:hover {
                  background-color: rgba(77, 101, 111, 0.9);
                  p, .authorIcon {
                    display: block;
                  }
                  .testiBtm {
                      bottom: 0;
                  }
                }
                &:nth-child(1) {
                  width: 75%;
                  flex: 0 0 75%;
                  border-bottom: 1px solid #fff;
                  &:hover {
                    ~ .testiBlkHover1 {
                        display: block;
                        background: url(/assets/images/testimonial-bg-4_uqze4v.webp) 0% 0% / cover;
                    }
                  }
                }
                &:nth-child(2) {
                  width: 28%;
                  border-right: 1px solid #fff;
                  &:hover {
                    background-color: rgba(39, 49, 55, 0.9);
                    ~ .testiBlkHover2 {
                        display: block;
                        background: url(/assets/images/testimonial-bg-3a_noysfw.webp) 0% 0% / cover;;
                    }
                  }
                }
                &:nth-child(3) {
                  width: 47%;
                  &:hover {
                    background-color: rgba(225, 189, 93, 0.9);
                    ~ .testiBlkHover3 {
                        display: block;
                        background: url(/assets/images/testimonial-bg-6_objrev.webp) 0% 0% / cover;;
                    }
                  }
                }
                &:nth-child(4) {
                  width: 25%;
                  height: 540px;
                  position: absolute;
                  right: 0;
                  top: 0;
                  border-left: 1px solid #fff;
                  &:hover {
                    background-color: rgba(105, 73, 87, 0.9);
                    ~ .testiBlkHover4 {
                        display: block;
                        background: url(/assets/images/testimonial-bg-1_o2x9d9_q58aaf.webp) 0% 0% / cover;
                    }
                  }
                  .testiBlockInner {
                    height: 500px;
                  }
                }
            }
        }
    }

    .testiBtmWrap {
        margin-top: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        overflow: hidden;
        .authorIcon {
          padding: 8px;
          border: 1px solid #fff;
          border-radius: 50%;
          width: 62px;
          height: 62px;
          background-position: -1px -200px;
          display: none;
          &.twitter {
            background-position: -63px -200px;
          }
          &.RazaAppIcon {
            background-position: -1px -1px;
            background-size: 158px;
          }
          img {
            border-radius: 50%;
          }
        }
    }

    @media only screen and (min-width: 767px) {
        .testiSliderContentMobile {
            display: none;
        }
    }

    @media only screen  and (max-width: 767px) {
    .splide__arrow {
        display: none;
    }
    .testPadding {
        padding: 13px 0 13px 0;
    }
    .testiSliderContent {
        display: none;
    }
    .testimonial_area_container {
        width: 90%;
        margin: 0 auto;
    }
    .testiSliderContentMobile {
        background-image: url(/assets/images/testimonial-bg-5_d2eb09.webp);
        .testiBlockSec {
          height: 550px;
          width: 100% !important;
          border-bottom: 1px solid #fff;
          background-size: cover;
          background-position: center;
          padding: 0;
          background-image: url(/assets/images/testimonial-bg-5_d2eb09.webp);
          p, .testiBtm  {
            display: block;
            font-size: 15px;
            text-align: left;
            br {
              display: none;
            }
          }
          &.testiBlkSec2 {
            background-image: url(/assets/images/testimonial-bg-4_uqze4v.webp);
          }
          &.testiBlkSec3 {
            background-image: url(/assets/images/testimonial-bg-3a_noysfw.webp);
          }
          &.testiBlkSec4 {
            background-image: url(/assets/images/testimonial-bg-6_objrev.webp);
          }
        }
        .testHoverBlk {
          display: none !important;
        }
        .testiBlockInner {
          background-color: rgba(77, 101, 111, 0.7);
          padding: 10px 10px 35px;
          height: auto !important;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          color: #fff;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }
        .testiBtmWrap {
          overflow: unset;
          margin: 0;
          .authorIcon {
            display: block;
            padding: 4px;
            margin-right: 10px;
            img.example-header-image {
              width: 42px;
              height: 42px;
            }
          }
          .testiBtm {
            position: static;
          }
        }
      }
    }
}