<div class="forgetPassword">
  <div class="forgetPassContent">
    <h1>Update Password</h1>
    <p class="haveAccountAlready"> change it later? <a routerLink='/account'>click here to skip!</a></p>
    <div class="passFieldArea">
      <form name="forgotPasswordForm" [formGroup]="updatePasswordForm" (ngSubmit)="submitUpdatePasswordForm()">
        <div class="col-sm-12 formRowM15">
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Enter new password" formControlName="password">
            <mat-hint>Minimum 6 characters</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-12 formRowM15">
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
            <mat-error
              *ngIf="updatePasswordForm.get('confirmPassword').errors && updatePasswordForm.get('confirmPassword').errors.ConfirmPassword">
              Password and confirm password does not matched.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form_row1">
          <div class="input_holder1">
            <button type="submit" mat-button class="submitButton">Submit</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>