@import "../../../../_variables";
@import "../../../../_mixins";


.topup-wrapper{
    position: relative;
    overflow: visible;
    .close-btn {
        position: absolute;
    right: -24px;
    height: 58px;
    width: 57px;
    display: flex;
    align-items: center;
    z-index: 99;
    top: -23px;
    background: url("https://d2uij5nbaiduhc.cloudfront.net/images/closebutton.png") no-repeat  top right;
        @include breakpoint(sm) {
            right: -10px;
            height: 30px;
            width: 30px;
            background: #fff;
            top: -10px;
            border: 2px solid #000;
            color: #000;
            background-image: none;
            text-align: center;
            justify-content: center;
            display: flex;
            align-items: center;
            border-radius: 50%;
            z-index: 99;
        }
    }
    .left-panel{
        background-color: #afdbf5;
        text-align: center;
        padding: 40px 12px;
        border: 1px solid #8fc0dd;
        border-radius: 20px 0 0 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(sm) {
            padding: 20px 16px;
            border-radius: 14px 0 0 0;
            flex-direction: row;
        }
        img{
            margin: 20px 0;
            @include breakpoint(sm) {
                width: 31%;
                margin: 0 auto;
            }
        }
        .title{
            font-size: 28px;
            letter-spacing: -1px;
            line-height: 30px;
            color: #1d2733;
            font-weight: 700;
            font-family: "Montserrat";
            text-align: center;
            @include breakpoint(sm) {
                font-size: 19px;
                line-height: 20px;
                color: #1d2733;
                font-weight: 700;
                font-family: "Montserrat";
                width: 60%;
                text-align: left;
            }
        }
        .description{
            font-size: 13px;
            letter-spacing: 0px;
            line-height: 19px;
            color: #000000;
            font-weight: 600;
            font-family: "Montserrat";
            text-align: center;
            width: 80%;
        }
    }
    .right-panel{
        .hello-text{
            font-size: 20px;
            color: #1d2733;
            font-weight: 700;
            font-family: "Montserrat";
            text-align: center;
            @include breakpoint(sm) {
                margin-top: 16px;
            }
        }
        .cus-name{
            font-size: 22px;
            color: #1d2733;
            font-weight: 300;
            font-family: "Montserrat";
            text-align: center;
        }
        .denomination-box{
            margin-top: 40px;
            border-radius: 16px;
            background-color: rgba(29,39,51,0);
            border: 1px solid #dfdfdf;
            padding: 20px;
            position: relative;
            @include breakpoint(sm) {
                margin-top: 24px;
                padding: 20px 16px;
            }
            .plan-title{
                background-color: #1e3c73;
                padding: 6px 12px;
                position: absolute;
                border-radius: 33px;
                font-size: 12px;
                letter-spacing: 0px;
                color: #ffffff;
                font-weight: 600;
                font-family: "Montserrat";
                top: -14px
            }
            .plan-name{
                font-size: 18px;
                letter-spacing: 0px;
                line-height: 48px;
                color: #1d2733;
                font-weight: 700;
                font-family: "Montserrat";
                margin-top: 8px;
                @include breakpoint(sm) {
                    line-height: 30px;
                    font-size: 17px;
                    letter-spacing: -1px;
                    line-height: 24px;
                    color: #1d2733;
                    font-weight: 700;
                    font-family: "Montserrat";
                    margin-bottom: 20px;
                }
            }
            .divider {
                height: 1px;
                background-color: #e7e7e7;
                margin: 16px 0;
                @include breakpoint(sm) {
                    margin: 6px 0;
                }
            }
            .denomination-title{
                font-size: 13px;
                letter-spacing: 0px;
                line-height: 48px;
                color: #525c68;
                font-weight: 600;
                font-family: "Montserrat";
            }
            .denomination{
                width: 58px;
                height: 50px;
                border-radius: 8px;
                background-color: #f2f5f7;
                border: 1px solid #ececec;
                font-size: 18px;
                letter-spacing: 0px;
                line-height: 48px;
                color: #1d2733;
                font-weight: 600;
                font-family: "Montserrat";
                color: #1d2733;
                text-align: center;
                cursor: pointer;
                span {
                    font-size: 14px;
                }
                @include breakpoint(sm) {
                    font-size: 18px;
                    span{
                        font-size:14px;
                    }
                }
            }
            .denomination.selected{
                background-color: #3562ad;
                border: 1px solid #30589c;
                color: #fff;
            }
            select{
                border-radius: 8px;
                background-color: #f2f5f7;
                border: 1px solid #ececec;
                padding-right: 16px;
                height: 48px;
                font-size: 15px;
                letter-spacing: 0px;
                line-height: 24px;
                color: #1d2733;
                font-weight: 600;
                font-family: "Montserrat";
            }
            .text-right
            {
                margin-top: 5px!important;
            }
            .add-card{
                border-radius: 12px;
                background-image: linear-gradient(268deg, #ff6b23 0%, #ff6b23 0%, #f1176b 99%, #f1176b 100%);
                outline: none;
                border: 0;
                font-size: 11px;
                letter-spacing: 0px;
                color: #ffffff;
                font-weight: 600;
                font-family: "Montserrat";
                padding: 4px 8px;
                justify-content: flex-end;
                margin-top: 16px;
            }
        }
        .bottom-part{
            margin-top: 16px;
            label{
                font-size: 12px;
                color: #1d2733;
                font-weight: 400;
                font-family: "Montserrat";
            }
            .submit-Button{
                border-radius: 22px;
                background-color: #fec432;
                font-size: 16px;
                letter-spacing: 0px;
                color: #000000;
                font-weight: 700;
                font-family: "Montserrat";
                border: 0;
                outline: none;
                width: 100%;
                padding: 10px;
                @include breakpoint(sm) {
                    margin-top: 10px;
                }
                }
                p{
                    font-size: 13px;
                    letter-spacing: 0px;
                    line-height: 19px;
                    color: #000000;
                    font-weight: 400;
                    font-family: "Montserrat";
                    text-align: center;
                    margin-top: 10px;
                    @include breakpoint(sm) {
                        padding: 16px;
                    }
                }
        }
    }
}


.paymet_screen{
    padding: 16px;
    background-color: #f8f8f8;
    max-height: 91vh;
    overflow: scroll;
    border-radius: 14px;
    .back{
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #1d2733;
        font-weight: 700;
        font-family: "Montserrat";
        margin-bottom: 20px;
        svg {
            margin-right: 8px;
        }
    }
    .card_wrapper{
        padding: 16px;
        border-radius: 14px;
        background-color: #ffffff;
        border: 1px solid #e1e5e8;
    }
    .expiryDate {
        flex: 0 0 65%;
    }
    .labelCard{
        font-size: 15px;
        line-height: 24px;
        color: #1d2733;
        font-weight: 600;
        font-family: "Montserrat";
        position: relative;
        text-align: center;
        margin-bottom:16px;
        &:after{
            content: '';
            background-color: #bcbcbc;
            height: 1px;
            width: 28%;
            position: absolute;
            right: 0;
            top: 50%;
        }
        &:before{
            content: '';
            background-color: #bcbcbc;
            height: 1px;
            width: 28%;
            position: absolute;
            left: 0;
            top: 50%;
        }
    }
    .denomination-title{
        font-size: 12px;
        line-height: 24px;
        color: #525c68;
        font-weight: 500;
        font-family: "Montserrat";
        margin-bottom: 8px;
    }
    select{
        border-radius: 6px;
        background-color: #f2f5f7;
        border: 1px solid #ececec;
        height: 42px;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #1d2733;
        font-weight: 600;
        font-family: "Montserrat";
    }
    input{
        border-radius: 6px;
        background-color: #f2f5f7;
        border: 1px solid #ececec;
        height: 42px;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #1d2733;
        font-weight: 600;
        font-family: "Montserrat";
    }
    .month{
        border-radius: 6px;
        background-color: #f2f5f7;
        border: 1px solid #ececec;
    }
    .addCard{
        border-radius: 6px;
        background-image: linear-gradient(270deg, #fd5f2f 0%, #f4285e 100%);
        border: 0;
        padding: 6px 8px;
        font-size: 10px;
        color: #ffffff;
        font-weight: 600;
        font-family: "Montserrat";
    }
    .cardTitle {
        font-size: 16px;
        line-height: 24px;
        color: #1d2733;
        font-weight: 600;
        font-family: "Montserrat";
        padding-top: 16px;
    }
    .divider {
        height: 1px;
        background-color: #bcbcbc;
        margin: 16px 0;
    }   
    .submit-Button{
        border-radius: 22px;
        background-color: #fec432;
        font-size: 16px;
        letter-spacing: 0px;
        color: #000000;
        font-weight: 700;
        font-family: "Montserrat";
        border: 0;
        outline: none;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    } 
}

::ng-deep{
    .mat-checkbox-inner-container {
        margin-top: 8px!important;
        width: 20px!important;
            height: 20px!important;
      }

    .auto-refill-class {
        max-width: 868px!important;
    }
    .auto-refill-class mat-dialog-container {
        border-radius: 30px;
        overflow: hidden;
        
        @include breakpoint(sm) {
            overflow: visible;
            padding: 0;
            margin: 0px;
        }
    }
}

 
    
  