.example-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.example-radio-group {
	display: block;
	border: 1px solid #555;
	margin: 20px;
	padding: 10px;
}
.mat-toolbar {
	background: none;
}
.nobg {
	background: none;
	cursor: pointer;
	border: none;
}
.colorWhite {
	color: #0B203E;
}
.mat-radio-button {
	padding-right: 6px;
}
.header_style {
	background: #fff;
}
.selectRechargeamountMain {
	padding: 28px 0;
	margin: 0;
	width: 100%;
	background-color: #f6f8fa;
	background-color: #f5f7f9;
	margin-top: 104px;
	h1 {
		color: #293b7c;
		font-size: 30px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 25px;
	}
}
.selectRechargeamount {
    margin: 0 auto;
    padding: 40px 20px;
    clear: both;
    overflow: hidden;
    max-width: 1180px;
}
p {
	&.selectAmountText {
		text-align: center;
		color: #293b7c;
		font-size: 24px;
		font-weight: 600;
		padding: 0 0 5px;
		margin: 0px;
	}
}
.bonusArea {
	text-align: center;
	display: block;
	margin: 0 auto;
	clear: both;
	span {
		&:first-child {
			color: #3e8906;
			font-size: 24px;
			font-weight: 500;
			font-family: 'Caveat', cursive;
		}
		&:last-child {
			color: #0B203E;
			font-weight: 400;
			padding: 6px 0 0 14px;
		}
	}
}
.mat-slide-toggle {
	display: inline !important;
	&.mat-checked {
		&:not(.mat-disabled) {
			.mat-slide-toggle-thumb {
				background-color: #309C69;
			}
			.mat-slide-toggle-bar {
				background-color: #D8D8D8 !important;
			}
		}
	}
}
.selectRechargeAmnt {
	padding-top: 58px;
    border-top: 1px solid #c7d2db;
    margin-top: 25px;
	ul {
		list-style: none;
		padding-left: 0px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			text-align: center;
			margin: 20px 16px 0;
			width: 260px;
			height: 210px;
			background: #fff;
			border-radius: 15px;
			position: relative;
			button {
				border: 2px solid #222;
				color: #000;
				font-size: 15px;
				font-weight: 700;
				text-transform: uppercase;
				padding: 7px 32px;
				background: #fff;
				border-radius: 6px;
				&:hover {
					background: #edcd4d;
					border-color: #edcd4d;
				}
			}
		}
	}
}
.oldPrice {
	color: lightgrey;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: line-through;
	margin: 10px 0 0 0;
	left: 43%;
	position: absolute;
}
.newPrice {
    color: #000;
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    top: -55px;
    background: #fff;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    left: 50%;
    margin-left: -57px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #f6f8fa;
	span {
		font-size: 30px;
		margin-top: -6px;
		margin-right: 4px;
	}
}
p.points {
    margin-top: 88px;
	margin-bottom: 24px;
	font-size: 18px;
    color: #3b3b3b;
    font-weight: 600;
}
.mobileContentSlider {
	display: none;
}
.relative {
	position: relative;
}
.i_icon {
	position: absolute;
	right: -22px;
	top: 5px;
	cursor: pointer;
}

  
  @media only screen and (max-width: 500px) {
    .selectRechargeamount{ padding: 34px 0 62px 0;}
    p.selectAmountText{font-size: 15px;}
    .bonusArea span:first-child{ display: block; text-align: center; width: 100%;}
    .bonusArea span:last-child{display: block;text-align: center; padding: 6px 0 0px 27%;}
    .mobileContentSlider{ display: block;}
    .commonpriceArea{ width: 190px; height: 182px; border:1px solid #E2E7ED; padding: 39px 0;    margin: 0 auto; text-align: center; position: relative;}
    .commonpriceArea.active{ border:1px solid blue;}
    .selectRechargeAmnt{ overflow: visible;}
    .carousel-indicators {bottom: -46px !important;}
    .i_icon{right: -22px;top: 10px;}
    .selectRechargeamount{ width: 90%;}
    .selectRechargeAmnt ul li{ display: table; margin: 5px; float: none;}
    
  }
  
  .mouse-pointer {
    cursor: pointer;
  }
