<div class="selectRechargeamountMain">
  <h1>Redeem Rewards</h1>
  <div class="selectRechargeamount">
    <p class="selectAmountText">Select Redeem Amount</p>
    <div class="bonusArea">
      <span *ngIf="enrollAmount==10">A maximum of {{ 30 | bCurrency : plan?.CurrencyCode}} can be redeemed at once</span>
      <span *ngIf="enrollAmount!=10">A maximum of {{ 15 | bCurrency : plan?.CurrencyCode}} can be redeemed at once</span>
      <span class="relative"></span></div>
    <div class="selectRechargeAmnt">
      <ul>
        <li *ngFor="let item of rechargeOptions?.Options" (click)="onClickAmountOption(item.Points)">
          <div matRipple class="commonpriceArea mouse-pointer">
            <p class="newPrice"> {{item.Amount | bCurrency : plan?.CurrencyCode}}</p>
            <p>{{item.Points}} points</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>