<!-- <div class="mobile-dialog">
    <img loading="lazy" src="../../../assets/gif/phonebg.png" alt="" class="mobile-bg">
    <video width="320" height="600" autoplay muted>
        <source src="../../../assets/video/Raza-Mobile-app.mp4" type="video/mp4">
        <source src="../../../assets/video/Raza-Mobile-app.mp4" type="video/ogg">
        Your browser does not support the video tag.
      </video>
</div>
 
<button mat-mini-fab mat-dialog-close color="primary" class="bg-primary close-btn"><mat-icon>close</mat-icon></button> -->