<section class="section-1">
  <div class="container">
      <div class="row">
          <div class="col-md-8 m-auto">
              <div class="activated-box">
                  <div class="title">FREE Trial Activated</div>
                  <div class="description">You have $2 to start making your calls</div>
                  <div class="note">Order details have been sent by text & email.</div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="works-title">How it works?</div>
              <div class="works-note">Start calling with Raza access number  </div>
              <div class="number">{{accessNo}}</div>
          </div>
      </div>

      <div class="row pt-4 pb-md-5 pb-3">
          <div class="col-md-4">
              <div class="text-center pb-4 pb-md-5">
                  <img src="./assets/images/free_1.png" alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-md-4">
              <div class="text-center pb-4 pb-md-5 pt-4 pt-md-0 border-y">
                  <img src="./assets/images/free_2.png" alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-md-4">
              <div class="text-center pb-4 pb-md-5 pt-4 pt-md-0">
                  <img src="./assets/images/free_3.png" alt="" class="img-fluid">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="details-box card">
                  <div class="card-header">
                    <div class="details-title">How to make International and local calls using Raza.com</div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex flex-wrap border-bottom align-items-center">
                      <div class="py-3 py-md-4 impo-text pr-5">
                        International calls:                                                      
                      </div>
                      <div class="py-3 py-md-4 impo-text blue-text">Dial Raza access number + 011 + country code + area code + 
                        phone number</div>
                  </div>
                  <div class="d-flex flex-wrap border-bottom align-items-center">
                      <div class="py-3 py-md-4 impo-text">
                        Long distance calls to the Caribbean:
                                                      
                      </div>
                      <div class="py-3 py-md-4 impo-text blue-text">Dial Raza access number + 1 + area code + phone number</div>
                  </div>
                  <div class="d-flex flex-wrap align-items-center">
                      <div class="py-3 py-md-4 impo-text pr-5">
                        Long distance calls within Canada and to 
                        the United States (including Hawaii and Alaska):   
                      </div>
                      <div class="py-3 py-md-4 impo-text blue-text">Dial Raza access number + 1 + area code + phone number</div>
                  </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</section>

<!-- section 1 end here -->

<div class="section-2">
  <div class="container">
      <div class="row">
          <div class="col-md-6 order-2 order-lg-1">
              <div class="left-img">
                  <img src="./assets/images/hand.png" alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-md-6 order-1 order-lg-2">
              <div class="left-img mb-3 mb-md-0">
                  <img src="./assets/images/bubble_trail.png" alt="" class="img-fluid mb-3">
                  <div class="d-flex">
                     <a href="https://play.google.com/store/apps/details?id=com.razacomm.universe" target="_blank"> <img src="./assets/images/google.png" alt="" class="img-fluid ml-3 d-none d-md-block"></a>
                     <a href="https://play.google.com/store/apps/details?id=com.razacomm.universe" target="_blank"> <img src="./assets/images/play_mobile.png" alt="" class="img-fluid d-block d-md-none"></a>

                     
                      <a href="https://apps.apple.com/ca/app/raza-universe/id1226298666" target="_blank"><img src="./assets/images/app.png" alt="" class="img-fluid pl-2 d-none d-md-block"></a>
                      <a href="https://apps.apple.com/ca/app/raza-universe/id1226298666" target="_blank"><img src="./assets/images/apple_mobile.png" alt="" class="img-fluid pl-2 d-block d-md-none"></a>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- section 2 end here -->


<section class="section-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="faq-wrapper">
          <div class="faq-title">Most common questions</div>
        </div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Once I purchase a calling plan, how do I place my first call?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Upon purchasing a calling plan you will receive a confirmation Email providing you with a local access number to dial out. <br>
              1. Use your registered phone and dial the local access number.<br>
              2. Dial 011+ Country code + Destination number to get connected.<br>
              3. Keep Talking!
              </p>
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Will my calling plan expire?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Most of our calling plans have no expiration date; there is 6 month validity on our special or discounted plans.</p>
  
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                What is Money Back Guarantee?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>If for any reason you are not satisfied with our product, the unused balance on your account will be refunded back. Any Balance that is 6 months or older will not be refunded.</p>
  
          </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                How soon can I view call details?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Immediately, call details reflects right away after the call is disconnected.</p>
          </mat-expansion-panel>
  
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                How far can I go back to view call history?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Call details are available for the last 60 days.</p>
          </mat-expansion-panel>
  
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Can I see how much each call charged me?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Yes, it shows you the duration as well as the charges of the call.</p>
          </mat-expansion-panel>
  
  
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                How can I contact you for further details?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p><a href="/contactus">Click here</a> to Call, Chat or email us.</p>
          </mat-expansion-panel>
        </mat-accordion>
  
      </div>
    </div>
  </div>
</section>