<div class="first_fold">
	<h1 class="heading_style1 contact-header">
    Contact Us
		<br />
		<span>Reach Us Anytime 24/7, 365 Days...!</span>
	</h1>
	<div class="home_banner contactus_banner">
		<!-- <img src="assets/images/banner_image.png" alt="banner"> -->
	</div>
</div>
<section class="contactus-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 d-none d-md-block">
				<h2 class="contactus">Contact Us</h2>
				<p>Reach Us Anytime 24/7, 365 Days...!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">						
				<div class="contact-box call">
					<div class="box-icon"><img src="assets/images/new_design_images/contact_call.png" alt="call"></div>

					<div class="box-title">Call</div>
					<div class="box-description">
            			We’re here to help with any 
						<br> questions you have.          
						</div>
						<a class="btn btn-primary" href="{{customerCare}}">Call us</a>
					</div>
					</div>	
				
				<div class="col-md-6">
					<div class="contact-box message">
						<div class="box-icon"><img src="assets/images/new_design_images/contact_chat.png" alt="call"></div>
						<div class="box-title">Message</div>
						<div class="box-description">
							<a href="mailto:Support@raza.com">Support@raza.com</a>
							<br>
								<a href="mailto:Info@raza.com">Info@raza.com</a>
							</div>
							<a class="btn btn-primary" href="mailto:Support@raza.com">Message us</a>							
						</div>
					</div>
				</div>
				<div class="row mx-0">
					<div class="col-md-12 contact-adress-wrapper">
						<div class="row">
							<div class="col-md-4">
								<div class="border-right contact-address">
									<div class="box-title">Our Head Office
										</div>
										<p>Raza Telecom
											<br>
                5219 N Harlem Ave
												<br>
                Chicago, IL 60656, U.S.A
												</p>
											</div>
										</div>
										<div class="col-md-4">
											<div class="border-right contact-address">
												<div class="box-title">Our Corporate
													<br> Office
													</div>
													<p>Raza Communication 
														<br>
                991 Albion Road.
															<br>
                Etobicoke, ON M9V 1A6, Canada
															</p>
														</div>
													</div>
													<div class="col-md-4">
														<div class="contact-address">
															<div class="box-title">Fax us</div>
															<p>
                United States
																<br>
                1-773-792-8291
																	<br>
                1-773-792-2292 (Wholesale)
                
																		<br>
																			<br>
                Canada
																				<br>
                1-416-746-5239
              
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
													<!-- accordion area -->
													<h6 class="contactus pt-lg-5 pt-0">Frequently Asked Questions</h6>
													<div class="mobileTopAccordion">
														<div class="headingText">My Account</div>
														<mat-accordion>
															<mat-expansion-panel hideToggle="true" #example8>
																<mat-expansion-panel-header>
																	<mat-panel-title> How do I access My Account online? </mat-panel-title>
																	<mat-icon *ngIf="!example8.expanded">add</mat-icon>
																	<mat-icon *ngIf="example8.expanded">remove</mat-icon>
																</mat-expansion-panel-header>

																<p>
        Log in to your account with a registered Phone number or E-mail address.
        You will have access to view and edit your information on My Account
        page
      </p>
															</mat-expansion-panel>
															<mat-expansion-panel hideToggle="true" #example8>
																<mat-expansion-panel-header>
																	<mat-panel-title> I lost my password, how do I reset? </mat-panel-title>
																	<mat-icon *ngIf="!example8.expanded">add</mat-icon>
																	<mat-icon *ngIf="example8.expanded">remove</mat-icon>
																</mat-expansion-panel-header>
																<p>
        Click “Forgot Password” link on the login page to receive your password
        by Text or E-mail.
      </p>
																<p></p>
															</mat-expansion-panel>
														</mat-accordion>
														<div class="headingText">Calling</div>
														<mat-accordion>
															<mat-expansion-panel hideToggle="true" #example8>
																<mat-expansion-panel-header>
																	<mat-panel-title>
          Once I purchase a calling plan, how do i place my first call?
        </mat-panel-title>
		<mat-icon *ngIf="!example8.expanded">add</mat-icon>
																	<mat-icon *ngIf="example8.expanded">remove</mat-icon>
																	
																</mat-expansion-panel-header>
																<p>
        Upon purchasing a calling plan you will receive a confirmation Email
        providing you with a local access number to dial out.
      </p>
																<p>1. Use your registered phone and dial the local access number.</p>
																<p>2. Dial 011+ Country code + Destination number to get connected.</p>
																<p>3. Keep Talking!</p>
															</mat-expansion-panel>
															<mat-expansion-panel hideToggle="true" #example8>
																<mat-expansion-panel-header>
																	<mat-panel-title>
          Can I use my calling plan to dial any country other than what I
          selected while sign up.
        </mat-panel-title>
		<mat-icon *ngIf="!example8.expanded">add</mat-icon>
		<mat-icon *ngIf="example8.expanded">remove</mat-icon>
																</mat-expansion-panel-header>
																<p>
        Yes, however the rates advertised on the web only apply to the specific
        country of selection. Please visit our “search rate” page to view all
        rates.
      </p>
																<p></p>
															</mat-expansion-panel>
														</mat-accordion>
														<div class="headingText">Billing/Payment</div>
														<mat-accordion>
															<mat-expansion-panel hideToggle="true" #example8>
																<mat-expansion-panel-header>
																	<mat-panel-title>
          What method of payments is accepted?
        </mat-panel-title>
		<mat-icon *ngIf="!example8.expanded">add</mat-icon>
		<mat-icon *ngIf="example8.expanded">remove</mat-icon>
																</mat-expansion-panel-header>
																<p>
        We accept almost all major Credit and Debit cards from USA and only Visa
        Debit from CANADA. Payments are also accepted using PayPal however few
        discounted plans may not be eligible to use PayPal as payment method.
      </p>
																<p></p>
															</mat-expansion-panel>
															<mat-expansion-panel hideToggle="true" #example8>
																<mat-expansion-panel-header>
																	<mat-panel-title> How do I make the payment? </mat-panel-title>
																	<mat-icon *ngIf="!example8.expanded">add</mat-icon>
		<mat-icon *ngIf="example8.expanded">remove</mat-icon>
																</mat-expansion-panel-header>
																<p>
        Payments can be made using our Automated system, Raza Mobile
        Applications, Website, Live chat help or by calling our 24/7 customer
        service.
      </p>
																<p></p>
															</mat-expansion-panel>
														</mat-accordion>
													</div>
													<!-- accordion area -->