<div *ngIf="IsEnableLoggedIn">

  <ul class="homeSideMenus">
    <li class="recharge"><a routerLink="/account/overview" ><span></span> Recharge</a></li>
    <li class="payment-details"><a routerLink="/account/payment-details/{{plan?.PlanId}}" ><span></span> Payment Details</a>
    </li>
    <li class="autorefill" *ngIf="plan"><a routerLink="/account/autorefill/{{plan?.PlanId}}" ><span></span> Auto -
        Refill</a></li>
    <li class="order-history"><a routerLink="/account/order-history" ><span></span> Order-History</a></li>
    <li class="noBorder plandetails" *ngIf="plan">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="plan_details">
            <span></span>
            <mat-panel-title>
              Plan Details
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul>
            <li><a routerLink="/account/plandetails/{{plan?.PlanId}}" >Your Raza #</a>
            </li>
            <li><a routerLink="/account/call-details/{{plan?.PlanId}}" >Call Details</a></li>

            <li *ngIf="plan.IsAllowPinLess">
              <a routerLink="/account/mynumber/{{plan?.PlanId}}" >My
                Numbers</a></li>
            <li><a routerLink="/account/onetouchSetups/{{plan?.PlanId}}" >One Touch
                Dial</a></li>
            <li *ngIf="plan.IsAllowCallForwarding">
              <a routerLink="/account/callForwardingSetups/{{plan?.PlanId}}" >
                Call Forwarding</a>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </li>
    <li class="rewards"><a routerLink="/account/rewards" ><span></span> Rewards</a></li>
    <li class="international-topup"><a routerLink="/account/international-topup" ><span></span> International Topup</a></li>
    <li class="virtualnumber"><a routerLink="/account/virtualnumber"  class="d-none"><span></span> Virtual Numbers</a></li>
    <li class="my-profile"><a routerLink="/account/my-profile" ><span></span> My Profile</a></li>
    <li class="other-plans">
      <a routerLink="/account/other-plans" ><span></span> Other Plans</a>
    </li>
    <li class="notifications"><a routerLink="/account/overview/notification" ><span></span> Notifications</a></li>
    <li class="logOut" (click)="log_out_click()"><a href="javascript:void(0);">Log Out</a></li>

  </ul>
</div>

<div *ngIf="!IsEnableLoggedIn">
<a mat-list-item routerLink="/">
  <span class="mainSpan">HOME
    <span class="slider"></span>
  </span>
</a>

<a  mat-list-item (click)="redirectQuickClick();" >
  <span class="mainSpan">QUICK RECHARGE
    <span class="slider"></span>
  </span>
</a>
<a mat-list-item routerLink="/searchrates">
  <span class="mainSpan">SEARCH RATES
    <span class="slider"></span>
  </span>
</a>
<a *ngIf="currentSetting?.country?.CountryId !=3" mat-list-item routerLink="/mobiletopup">
  <span class="mainSpan">MOBILE TOP-UP
    <span class="slider"></span>
  </span>
</a>
<!-- <a mat-list-item routerLink="/mobiledeals" class="hide-desktop">
  <span class="mainSpan">DEALS
    <span class="slider"></span>
  </span>
</a> -->
<!-- <a mat-list-item routerLink=".">
  <span class="mainSpan">CALL ME LOCAL
    <span class="slider"></span>
  </span>
  <span class="subMenu"><img src="assets/images/sub_menu_icon.svg" alt="arrow down" /></span>
</a> -->
<a mat-list-item  (click)="redirectClick();" >
  <span class="mainSpan">SIGNUP / LOGIN
    <span class="slider"></span>
  </span>
  <span class="subMenu"><img src="assets/images/sub_menu_icon.svg" alt="arrow down" width="10" height="14" /></span>
</a>
<!-- <a mat-list-item routerLink=".">
  <span class="mainSpan">LIVE CHAT
    <span class="slider"></span>
  </span>
</a> -->

<a mat-list-item routerLink="/features">
  <span class="mainSpan">FEATURES
    <span class="slider"></span>
  </span>
</a>
<a mat-list-item routerLink="/contactus">
  <span class="mainSpan">CONTACT US
    <span class="slider"></span>
  </span>
</a>

<a mat-list-item class="d-md-none d-block">
  <span class="mainSpan w-100">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        DOWNLOAD APP
      </div>
      <div>
        <a routerLink="/mobile-page"><img src="./assets/images/playstore_grey.svg" width="18" height="18" alt="img" class="ml-1"></a>
        <a routerLink="/mobile-page"><img src="./assets/images/apple_grey.svg" width="18" height="18" alt="img" class="ml-4"></a>
      </div>
    </div>
    <span class="slider"></span>
  </span>
</a>
</div>
<!-- <div class="language d-md-none d-block pt-3 mx-3" ><img src="./assets/images/globe_footer.png" alt="" class="mr-2"> <span>Eng
  (CA)</span></div> -->
