@import '__variables';
@import '__mixins';


.faq-section{
	padding-bottom: 100px;
	mat-icon{
		color: #152f75;
	}
	.loadmore{
		background-color: #ffc50b;
		border-radius: 24px !important;
		-moz-border-radius: 24px !important;
		-webkit-border-radius: 24px !important;
		border: none;
		padding: 11px 34px !important;
		margin: 60px auto 0 !important;
		color: #08273a;
		text-transform: uppercase;
		font-size: 14px;
		font-family: "Montserrat", sans-serif;
		font-weight: bold;
		transition: background 0.3s ease-in-out;
		display: block;
	}
}
.section-title {
    font-size: 46px;
    color: #162f75;
    font-weight: 800;
    font-family: "Montserrat";
    text-align: center;
    margin: 50px 0;
    @include breakpoint(sm) {
        font-size:34px;
		margin: 25px 0 20px;
    }
   
}

::ng-deep{
    .faq-section mat-panel-title{
        color: #042d43;
        font-weight: 500;
        font-family: "Montserrat";
    }
    .faq-section .mat-expansion-panel-content p{
        color: #042d43;
        font-weight: 500;
        font-family: "Montserrat";
    }
}

@include breakpoint(sm) {
	.container {
		width: 100%;
		padding: 0 25px;
	}
	h1.heading_style1 {
		font-size: 30px;
		background: rgba(0, 0, 0, 0.35);
		left: 15px;
		right: 15px;
		padding: 15px;
		border-radius: 10px;
		bottom: 40px;
		span {
			margin-top: 10px;
			line-height: 1.4;
		}
	}	
	.home_banner.faq_banner {
		height: 440px !important;
		border-bottom-left-radius: 100% 80px;
		border-bottom-right-radius: 100% 80px;
		background-position: left 0 top -40px;
	}
	.faqCnt {
		margin-top: 20px;
	}
	.faq-section .loadmore {
		margin-top: 40px !important;
	}
}
