$font-family:'Montserrat',sans-serif;
.margin .footer_style { margin-top: -95px;}
.display6 {
    display: none;
}
.copyright1 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}
.copyright {
  color: #ffffff;
  text-decoration: none;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 300;
  display: none;
}
.pintrest_icon,
.twitter_icon,
.fb_icon {
    height: 40px;
    width: 40px;
    background: url("/assets/images/new_design_images/icon_sprite.png") -41px 168px;
}
.twitter_icon {
    background: url("/assets/images/new_design_images/icon_sprite.png") 0px 168px;
}
.fb_icon {
    background:url("/assets/images/new_design_images/icon_sprite.png") -82px 168px;
}
.footer_style {
  margin: 0;
  width: 100%;
  background-color: #1c63f8;
  position: relative;

}
.footer_section2 {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #e3e8ee;
  .app_list {
      ul {
          li {
              max-width: 45%;
          }
      }
  }
}
.footer_section3 {
  padding: 30px 0;
  margin: 0;
  width: 100%;
  &>div {
      &>div {
          &:last-of-type {
              text-align: left !important;
          }
      }
  }
}
.footer_menu {
  padding: 0;
  margin: 0;
  ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
          padding: 0;
          margin: 0 0 5px 0;
          display: block;
          &:last-of-type {
              margin: 0;
          }
          a {
              padding: 0;
              margin: 0;
              color: #e5f0ff;
              font-size: 14px;
              text-decoration: none;
              font-family: $font-family;
              font-weight: 500;
              &:hover {
                  color: #fff;
                  text-decoration: none;
              }
          }
      }
  }
}
.ph_no {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  span {
      padding: 0;
      margin: 0 0 5px 0;
      display: block;
      color: #ffffff;
      font-size: 13px;
      font-family: $font-family;
  }
}
.footer_section1 {
  padding: 0 0 60px 0;
  margin: 0;
  width: 100%;
  h4 {
      &.heading_style3 {
          font-size: 20px;
          color: #ffffff;
          font-weight: 700;
          margin-bottom: 14px;
      }
  }
}
.footer_menu2 {
  padding: 0;
  margin: 0 0 15px 0;
  ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
          padding: 0 10px 0 0;
          margin: 0 10px 0 0;
          position: relative;
          display: inline-block;
          &:after {
              padding: 0;
              margin: 0;
              width: 1px;
              height: 90%;
              display: block;
              background-color: #a2a8b0;
              content: "";
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
          }
          &:last-of-type {
              padding: 0;
              margin: 0;
              &:after {
                  display: none;
              }
          }
          a {
              color: #ffffff;
              text-decoration: none;
              font-size: 15px;
              font-weight: 600;
              &:hover {
                  color: #0b203e;
                  text-decoration: none;
              }
          }
      }
  }
}

.footer_column1,
.footer_column2 {
  padding: 0 15px;
  margin: 0;
  flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.footer_column2 {
  flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.footerMargin {
  margin-top: -95px;
}
.raza_logo2 {
  padding: 0;
  margin: 0 0 30px 0;
  max-width: 219px;
  height: auto;
  img {
      height: 40px;
      width: auto;
  }
}
.app_list {
  ul {
      li {
          margin: 0 9px 0 0 !important;
          float: left;
      }
  }
}
.app_list {
  padding: 0;
  margin: 0;
  ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
          padding: 0;
          margin: 0 9px 0 0 !important;
          float: left;
          &:last-of-type {
              margin: 0;
          }
          img {
              padding: 0;
              margin: 0;
              max-width: 100%;
              height: auto;
          }
      }
  }
}
.social_list {
  padding: 0;
  margin: 0;
  ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
          padding: 0;
          margin: 0 25px 0 0;
          display: inline-block;
          &:last-of-type {
              margin: 0;
          }
          a {
              padding: 0;
              margin: 0;
              display: inline-block;
              color: #0b203e;
              font-size: 25px;
              i {
                  &.fa-facebook-square {
                      color: white;
                  }
                  &.fa-twitter {
                      color: #1da1f2;
                  }
                  &.fa-google-plus-g {
                      color: #d34836;
                  }
              }
              &:hover {
                  i {
                      &.fa-facebook-square {
                          color: #3c5a99;
                      }
                      &.fa-twitter {
                          color: #1da1f2;
                      }
                      &.fa-google-plus-g {
                          color: #d34836;
                      }
                  }
              }
          }
      }
  }
}
@media only screen and (max-width: 767px) {
  .copyright1 {
      display: none !important;
  }
  .footer_menu2 ul li a {
      font-size: 13px;
      font-weight: 400;
  }
  .copyright {
      display: block;
  }
  .footer_column1 {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding-bottom: 30px;
  }
  .footer_column2 {
    padding: 0 15px;
    margin: 0;
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    padding-bottom: 30px;
  }
  .ph_no {
    font-size: 17px;
    font-weight: 600;
 }
 .footer_section1 {
    h4 {
        &.heading_style3 {
            font-size: 15px;
            font-weight: 500;

        }
    }
  }
  .social_list .h4 {
      font-size: 20px;
  }
  .footer_menu {
      ul {
          li {
              a {
                  font-size: 13px;
                  font-weight: 400;
              }
          }
      }
  }
  .display5 {
      display: none;
  }
  .display6 {
      display: block !important;
  }
  .social_list {
      width: 100%;
      display: table;

      &>ul {
          display: table-row;

          &>li {
              margin: 0 20px 0 0;
              text-align: left;
              float: left;
              text-align: left;
          }
      }
  }
}
