<footer class="footer_style">
    <div class="container bordertop">
        <div class="footer_section1">
            <div class="row">
                <div class="footer_column1">
                    <div class="raza_logo2">
                        <a routerLink="/"><img src="assets/images/raza_logo.png" loading="lazy" alt="logo" width="98" height="34" /></a>
                    </div>
                    <div class="ph_no">
                        <span>Call us today</span>
                        {{contact1800Number}}
                    </div>
                </div>


                <div class="col-lg-8 text-center diplay display6 mb-3">
                    <div class="social_list">
                        <p class="h4 mb-3 text-white text-lg-center text-left">Connect With</p>
                        <ul>
                            <!--<li class="language" onclick="opentraans();"><img src="./assets/images/globe_footer.png" alt=""> <span>Eng (CA)</span></li>-->

                            <li>
                                <a href="https://www.facebook.com/Raza.Com1" class="fb_icon">
                                    <!-- <img src="assets/images/new_design_images/facebook.png" loading="lazy" alt="social-icons"> -->
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/RazaCallingCard" class="twitter_icon">
                                    <!-- <img src="assets/images/new_design_images/twitter.png" loading="lazy" alt="social-icons"> -->
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://in.pinterest.com/RazaCallingCard/razacom-international-calling-service/" class="pintrest_icon">
                                    <!-- <img src="assets/images/new_design_images/pinterest.png" loading="lazy" alt="social-icons"> -->
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="footer_column2">
                    <h4 class="heading_style3">My account</h4>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="javascript:void(0)" (click)="redirectClick('account');">Overview</a></li>
                            <li><a href="javascript:void(0)" (click)="redirectClick('account/my-profile');">My profile</a></li>
                            <li><a href="javascript:void(0)" (click)="redirectClick('account/order-history');">Purchase history</a></li>
                            <li><a href="javascript:void(0)" (click)="redirectClick('account');">Recharge</a></li>
                            <li><a href="javascript:void(0)" (click)="redirectClick('account/rewards');">Raza Rewards</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_column2">
                    <h4 class="heading_style3">Company</h4>
                    <div class="footer_menu">
                        <ul>
                            <li><a routerLink="/aboutus">About raza</a></li>
                            <li><a routerLink="/howitworks">How it works</a></li>
                            <li><a routerLink="/contactus">Contact us</a></li>
                            <li><a routerLink="/becomeapartner">Become a partner</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_column2">
                    <h4 class="heading_style3">Services</h4>
                    <div class="footer_menu">
                        <ul>
                            <li><a routerLink="/searchrates">International calling</a></li>
                            <li><a routerLink="/mobiletopup" >Mobile Top-up</a></li>
                            <li><a routerLink="/mobileapp">Raza Mobile App</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_column2">
                    <h4 class="heading_style3">Quick Links</h4>
                    <div class="footer_menu">
                        <ul>
                            <li><a routerLink="/features">Features</a></li>
                            <li><a routerLink="/searchrates">Search Rates</a></li>
                            <li><a routerLink="/faq">FAQs</a></li>
                            <li><a routerLink="/refer-a-friend">Refer a friend</a></li>
                            <li><a routerLink="/feedback">Give us your feedback</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer_section2">
            <div class="align-items-end row">


                <div class="col-md-3">
                    <div class="app_list">
                        <ul>
                            <li>
                                <img src="assets/images/icon_payment.png" width="228" height="41" loading="lazy" alt="app">
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 text-center diplay display5">
                    <div class="social_list">
                        <p class="h4 mb-3 text-white text-lg-center text-left">Connect With</p>
                        <ul>
                            <!--<li class="language" onclick="opentraans();"><img src="./assets/images/globe_footer.png" alt=""> <span>Eng (CA)</span></li>-->

                            <li>
                                <a href="https://www.facebook.com/Raza.Com1" class="fb_icon">
                                    <!-- <img src="assets/images/new_design_images/facebook.png" loading="lazy" alt="social-icons"> -->
                                    <!-- <img src="assets/images/new_design_images/icon_sprite.png" loading="lazy" alt="social-icons" style="width:40px; height:40px; background-position: -200% -100%;"> -->
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/RazaCallingCard" class="twitter_icon">
                                    <!-- <img src="assets/images/new_design_images/twitter.png" loading="lazy" alt="social-icons"> -->
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://in.pinterest.com/RazaCallingCard/razacom-international-calling-service/" class="pintrest_icon">
                                    <!-- <img src="assets/images/new_design_images/pinterest.png" loading="lazy" alt="social-icons"> -->
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_section3">
            <div class="row">




                <div class="col-xl-12 text-center">
                    <div class="footer_menu2">
                        <ul>
                            <li class="copyright1">
                                &copy; {{currentYear}} Raza Communications™
                            </li>
                            <li>
                                <!-- <a routerLink="/privacypolicy">Privacy and cookies statement</a> -->
                                <a routerLink="/support">Privacy and cookies statement</a>
                            </li>
                            <li>
                                <a routerLink="/termsandcondition">Terms and conditions</a>
                            </li>
                            <li>
                                <a routerLink="/sitemap">Sitemap</a>
                            </li>
                            <li>
                                <a routerLink="/mobileterms">Mobile Top-up T &amp; C</a>
                            </li>

                        </ul>
                    </div>
                   <div class="copyright">
                        &copy; {{currentYear}} Raza Communications™
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




