.submitButton_confirms {
    background: #f4cb26;
    border-radius: 24px !important;
    -moz-border-radius: 24px !important;
    -webkit-border-radius: 24px !important;
    border: none;
    padding: 3px 20px !important;
    width: 150px;
    display: block !important;
    color: #0b203e;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    transition: background 0.3s ease-in-out;
    text-align: center;
    margin: auto;
}
.forgetPass {
    margin-left: auto;
    font-size: 14px;
    margin-top: -12px;
    margin-bottom: 20px;
    padding-right: 10px;
}
@media only screen and (max-width:768px){
  .submitButton_confirms {
    margin: 0px auto 0 !important;
    width: 50%;
    max-width: 280px;
  }
  .form_holder.commonPopup.addNumber {
    padding: 8px !important;
  }
  .forgetPass {
      font-size: 13px;
  }
}
