<div class="d-flex align-items-center justify-content-between mb-3">
    <h2 mat-dialog-title class="mb-0">BONUS MINUTES TO OTHER COUNTRIES
    </h2>
    <button mat-button mat-dialog-close class="bg-white">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="mat-typography">
    <div class="bonus-wrapper">
        <div class="mins">
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Andorra</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Argentina</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Australia</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Austria</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Belgium</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Brazil</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Brunei</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Canada</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Chile</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>China</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Colombia</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Cyprus</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Czech Republic</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Denmark</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Estonia</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
            <div class="d-flex justify-content-between px-3 px-lg-0">
                <div>Finland</div>
                <div>10 mins</div>
            </div>
        </div>
    </div>
</mat-dialog-content>