<div class="containerMyCard" *ngIf="currentCart">
  <div class="body-tab mt-5">
        <div class="row">
        <div class="{{isTopupPage ?'col-xl-8':'col-xl-12'}}">
          <div  class="saveCardWrap">
            <h3>Payment Details</h3>
            <mat-radio-group class="example-radio-group" name="cardNumber" [(ngModel)]="selectedCard">
              <div class="savedCard" *ngFor="let item of customerSavedCards; let ind = index"
                [ngClass]="{'cardOpacity': selectedCard?.CardId != item.CardId }">
                <mat-radio-button [value]="item">
                  <div class="cardImg">
                    <img [src]="getCardIcon(item)" alt="" />
                  </div>

                  <div class="cardDetails">
                    <p class="cardNumber">Card Ending in … {{ item.CardNumber | creditCard }}</p>
                    <p class="cardExpires">Expires {{item.ExpiryMonth}}/{{item.ExpiryYear}}

                    </p>
                  </div>
                </mat-radio-button>
                <div class="cvvCard" *ngIf="item.CardId === selectedCard?.CardId">
                    <mat-form-field class="example-full-width">
                      <input matInput type="password" maxlength="4" placeholder="CVV" name="{{item.CardId}}"
                        [(ngModel)]="item.Cvv" class="{{errorClass}}" />
                      <span class="lock" (click)="whatiscvv()">
                        What is CVV?

                      </span>
                    </mat-form-field>

                </div>

                <div class="editDelete">
                  <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                    <mat-icon>more_horiz</mat-icon>
                    More
                  </button>
                  <mat-menu #moreMenu="matMenu" class="editDeleteAreaMain">
                    <ul>
                      <li><a (click)="editCardDetails(item)">Edit</a></li>
                      <li><a (click)="deleteCardDetails(item)">Delete</a></li>
                    </ul>
                  </mat-menu>
                </div>
              </div>
            </mat-radio-group>
            <div class="form_row1">
              <div class="input_holder1">
                <section class="submit-wrapper">
                    <div class="d-block d-lg-flex px-4 justify-content-between align-items-center">
                      <div class="order-2 mr-0">
                      </div>
                      <p class="haveAccountAlready text-center text-lg-right mb-0 order-1"> <a (click)="addNewCard()"><span class="addCard"></span> Add New Card</a></p>
                    </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-1"></div> -->
        <div class="col-xl-4" *ngIf="isTopupPage">
          <div class="col-md-12">
            <h2 class="heading_style4">
              <span>Your order</span>
            </h2>
          </div>
          <table class="table" *ngIf="currentCart.transactiontype != 4">
            <tbody>
              <tr>
                <td>Plan Name</td>
                <td>{{currentCart?.getOrderName()}}</td>
              </tr>
              <tr>
                <td>Purchase Amount</td>
                <td>{{ currentCart?.getPurchaseAmount() | bCurrency : currentCart?.CurrencyCode |async }} </td>
              </tr>
              <tr>
                <td>Service Fee</td>
                <td>{{ currentCart?.calculateServiceFee() | bCurrency : currentCart?.CurrencyCode |async }}</td>
              </tr>

              <tr *ngIf="currentCart?.offerPercentage">
                <td><b>Bonus</b></td>
                <td><b>{{currentCart?.offerPercentage}}%</b></td>
              </tr>

              <tr class="total">
                <td>Total ({{currentCart?.CurrencyCode}})</td>
                <td>{{currentCart?.totalAmount() | bCurrency : currentCart?.CurrencyCode|async}}</td>
              </tr>
             <!--<tr class="total" *ngIf="currentCart?.couponCode">
                <td>Promo Code </td>
                <td>{{getCustomPromocode()}}</td>
              </tr>-->
            </tbody>
          </table>

          <table class="table" *ngIf="currentCart.transactiontype === 4">
            <tbody>
              <tr>
                <td>Mobile Recharge</td>
                <td>{{ currentCart?.getPurchaseAmount() | bCurrency : currentCart?.CurrencyCode | async}} </td>
              </tr>
              <tr>
                <td>Service Fee</td>
                <td>{{ currentCart?.calculateServiceFee() | bCurrency : currentCart?.CurrencyCode | async}} </td>
              </tr>
              <tr>
                <td>Amount Sent</td>
                <td> {{ currentCart?.topupOption.DestinationCurrency }}
                  {{ currentCart?.topupOption.DestinationAmount }}</td>
              </tr>
              <tr>
                <td>Mobile Number</td>
                <td>{{currentCart?.phoneNumber }}</td>
              </tr>
              <tr>
                <td>Operator</td>
                <td>{{currentCart?.topupOption.Operator}}</td>
              </tr>
              <tr class="total">
                <td>Total ({{currentCart?.currencyCode}})</td>
                <td>{{currentCart?.totalAmount() | bCurrency : currentCart?.CurrencyCode | async}}</td>
              </tr>
            </tbody>
          </table>

          <a *ngIf="!currentCart?.isHideCouponEdit" (click)="openPromoDialog()" class="redeemPromo">Redeem promo code</a>
        </div>
      </div>
  </div>
  <button *ngIf="havingExistingCard" mat-button (click)="onClickCreditCardPayment()" class="submitButton_confirms overviewRechg">Recharge</button>
  </div>


