<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="lock_icons"><img src="/assets/images/lock.png"></div>
      <form class="login100-form validate-form" name="forgotPasswordForm" [formGroup]="updatePasswordForm" (ngSubmit)="submitUpdatePasswordForm()">
        <span class="login100-form-title p-b-3 m-t-20">
          Update	Password
        </span>
        <p class="text-center m-b-25 para-style">Change Password or <a  routerLink="/account/overview">Click to Skip</a></p>
        <div class="input_style">
        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" [type]="showPass ? 'text' : 'password'"  (keyup)="onKeypressEvent($event)" placeholder="Enter new password" matInput  formControlName="password">
          <!-- <span class="focus-input100" data-placeholder="Password"></span> -->
          <!-- <i (click)="showPassword()" class="field-icon bi bi-eye" [ngClass]="(!showPass)?' fa-eye':' fa-eye-slash'"></i> -->
          <!-- <mat-icon matSuffix  class="field-icon" (click)="showPassword()">{{!showPass ? 'visibility_off' : 'visibility'}}</mat-icon> -->
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter password">
        
          <input class="input100" [type]="showPass ? 'text' : 'password'" matInput placeholder="Confirm Password"  formControlName="confirmPassword">
          <!-- <span class="focus-input100" data-placeholder="Confirm Password"></span> -->
          <!-- <i (click)="setShowConfPass()" class="bi bi-eye" [ngClass]="(!showConfPass)?' fa-eye':' fa-eye-slash'"></i> -->
          <mat-icon matSuffix  class="field-icon" (click)="showPassword()">{{!showPass ? 'visibility_off' : 'visibility'}}</mat-icon>
          <!-- <mat-icon matSuffix class="field-icon" (click)="setShowConfPass()">{{!showConfPass ? 'visibility_off' : 'visibility'}}</mat-icon> -->
        </div>
          <div>
          <p class="tips_text">
          Your Password must include the following

          </p>
          <div class="tip-list-text">	
          <div >
            <img *ngIf="number_err" src="/assets/images/error.svg" class="tip-list-image-error">
            <img *ngIf="!number_err" src="/assets/images/tick.svg" class="tip-list-image-right">
            8-15 characters</div>
            


            <div>

            <img *ngIf="atoz_err" src="/assets/images/error.svg" class="tip-list-image-error">
            <img *ngIf="!atoz_err" src="/assets/images/tick.svg" class="tip-list-image-right">
            Upper & Lowercase Letters</div>
          <div>
            <img *ngIf="spcl_err"  src="/assets/images/error.svg" class="tip-list-image-error">
            <img *ngIf="!spcl_err"  src="/assets/images/tick.svg" class="tip-list-image-right">
            At Least one number or special character</div>

            <div
              *ngIf="submitted && updatePasswordForm.get('confirmPassword').errors && updatePasswordForm.get('confirmPassword').errors.ConfirmPassword">
              <img src="/assets/images/error.svg" class="tip-list-image-error"> Password and confirm password does not matched.
            </div>


          </div>
          </div>



      </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit" mat-button >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>











<!-- <div class="forgetPassword">
  <div class="forgetPassContent">
    <h1>Update Password</h1>
   
    <div class="passFieldArea">
      <form name="forgotPasswordForm" [formGroup]="updatePasswordForm" (ngSubmit)="submitUpdatePasswordForm()">
        <div class="col-sm-12 formRowM15">
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Enter new password" formControlName="password">
            <mat-hint>Minimum 6 characters</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-sm-12 formRowM15">
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
            <mat-error
              *ngIf="updatePasswordForm.get('confirmPassword').errors && updatePasswordForm.get('confirmPassword').errors.ConfirmPassword">
              Password and confirm password does not matched.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form_row1">
          <div class="input_holder1">
            <button type="submit" mat-button class="submitButton">Submit</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->