<div class="first_fold">

	<h1 class="heading_style1">
		Privacy Policy<br />
		<span>The Industry Leader in International Calling Plans, Raza Keeps You Talking.</span>
	</h1>
	<div class="home_banner privacy_banner">
		<!-- <img src="assets/images/banner_image.png" alt="banner"> -->
	</div>


	<div class="deskTopOnly">

		<div class="second_fold">
			<div class="container">
				<div class="row">
					<div class="col-md-4 aboutusCont">
						<h5>General</h5>
					</div>
					<div class="col-md-8 aboutusCont">
						<p>Raza.com is committed to protecting your privacy and developing technology that gives you the
							most powerful and safe online experience. This Privacy Policy governs data collection and
							usage at our Website. Please read the complete Privacy Policy below.</p>
						<p>The purpose of this Privacy Policy is to inform you, as a welcome visitor to our Website,
							about:</p>
						<ul>
							<li>The kinds of information we may gather about you when you visit our Website</li>
							<li>How we may use that information</li>
							<li>Whether we disclose that information to anyone and
								Your ability to correct that information.</li>
						</ul>
						<p>Please note that this policy applies only to the Raza.com Website and not to other companies
							or organizations websites to which we link. We have clearly marked our Website with our logo
							so you know where this policy applies.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="second_fold">
			<div class="container">
				<div class="row">
					<div class="col-md-4 aboutusCont">
						<h5>Information We Gather About All of Our Website Visitors</h5>
					</div>
					<div class="col-md-8 aboutusCont">
						<p>Raza.com keeps track of the pages our customers visit within our Website in order to
							determine what pages and services are the most popular. This data is used to deliver
							customized content and advertising within Raza.com to customers whose behavior indicates
							that they are interested in a particular subject area. Our service automatically gathers
							certain usage information like the numbers and frequency of visitors to our Website and its
							areas. This is similar to the way television ratings tell the networks how many people tuned
							in to a program. We only use such data in the aggregate and not on an individual basis. This
							collective data helps us determine how much our customers use parts of the Website, so we
							can improve our site to assure that it is as appealing as we can make it for as many of you
							as possible.</p>
						<p>For example, our Website may use a technology nicknamed "cookies" that tells us how and when
							pages in our site are visited, and by how many people. Raza.com cookies do not collect
							personally identifiable information and we do not combine information collected through
							cookies with other personally identifiable information to tell us who you are or even what
							your screen name or e-mail address is</p>
					</div>
				</div>
			</div>
		</div>

		<div class="second_fold">
			<div class="container">
				<div class="row">
					<div class="col-md-4 aboutusCont">
						<h5>Use of Cookies</h5>
					</div>
					<div class="col-md-8 aboutusCont">
						<p>Raza.com may use "cookies" to help you personalize your online experience. A cookie is a text
							file that is placed on your hard disk by a Web page server. Cookies cannot be used to run
							programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can
							only be read by a web server in the domain that issued the cookie to you.</p>
						<p>One of the primary purposes of cookies is to provide a convenience feature to save you time.
							The purpose of a cookie is to tell the Web server that you have returned to a specific page.
							For example, if you personalize Raza.com pages, or register with our Website or for our
							services, a cookie helps us to recall your specific information on subsequent visits. This
							simplifies the process of recording your personal information, such as billing addresses,
							email addresses, and so on. When you return to our Website, the information you previously
							provided can be retrieved, so you can easily use the Website features that you customized.
						</p>
						<p>You have the ability to accept or decline cookies. Most Web browsers automatically accept
							cookies, but you can usually modify your browser setting to decline cookies if you prefer.
							If you choose to decline cookies, you may not be able to fully experience the interactive
							features of our Web site.</p>
						<p>Raza.com displays retargeted ads to our site prospects across the Internet. We collect
							Non-Personally Identifiable Information about your visits to our website, and your
							interaction with our products and services. The anonymous information is collected through
							the use of a pixel tag, which is industry standard technology used by most major web sites.
							No Personally Identifiable Information is collected during this process. If you do not want
							us to collect this information, you may opt out of their service. Opting out will not affect
							your use of our site. To Opt-out of retargeting, please <a href="#">click here.</a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="second_fold">
			<div class="container">
				<div class="row">
					<div class="col-md-4 aboutusCont">
						<h5>Information About You</h5>
					</div>
					<div class="col-md-8 aboutusCont">
						<p>Sometimes, we may specifically ask for information about you when you sign up to use a
							service or when you order a product. Raza.com does not sell, rent or lease its customer
							lists to third parties. We do, however, need certain information -- such as name, Internet
							address or screen name, billing address, type of computer, credit card number -- in order to
							provide that service or product to you. We may also use that information to let you know of
							additional products and services about which you might be interested. You can choose not to
							receive such information if you don't want to by letting us know on the registration screen
							when you sign up for the product or service.</p>
						<p>Raza.com does not associate sensitive data, such as your race, religion, or political
							affiliations, with personally identifiable information. Raza.com takes precautions to
							segregate any sensitive data you may provide on our Website and any services that reference
							your race, religion, sexual orientation, ethnicity or political affiliations.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="second_fold">
			<div class="container">
				<div class="row">
					<div class="col-md-4 aboutusCont">
						<h5>Securing Your Personal Information</h5>
					</div>
					<div class="col-md-8 aboutusCont">
						<p>Raza.com secures your personal information from unauthorized access, use or disclosure. We
							secure the personally identifiable information you provide on computer servers in a
							controlled, secure environment, protected from unauthorized access, use or disclosure.
							Personal information (such as a credit card number) is transmitted to other websites through
							the use of Secure Socket Layer (SSL) encrypted protection.</p>
					</div>
				</div>
			</div>
		</div>


		<div class="second_fold">
			<div class="container">
				<div class="row">
					<div class="col-md-4 aboutusCont">
						<h5>Third Party Disclosure and Protection</h5>
					</div>
					<div class="col-md-8 aboutusCont">
						<p>We do not use or disclose information about your individual visits to our Website or
							information that you may give us, such as your name, address, email address or telephone
							number, to any outside companies. Raza.com may share data with trusted departments to help
							us perform statistical analysis.</p>
						<p>The Raza.com website will never disclose your personal information without notice unless it
							is required to do so by law or in the good faith belief that such action is necessary to:
							Conform to the law or comply with legal process served on our Website;
							Protect and defend the rights or property of our Website; and act under exigent
							circumstances to protect the personal safety of users of our products or services, our
							Website, or the public.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="second_fold">
			<div class="container">
				<div class="row">
					<div class="col-md-4 aboutusCont">
						<h5>Children On The Web</h5>
					</div>
					<div class="col-md-8 aboutusCont">
						<p>Raza.com takes special care to protect the safety and privacy of children using our services.
							We do not specifically collect information about children and believe that children should
							get their parents' consent before giving out any personal information. We encourage you to
							participate in your child's experience in cyberspace and to review our important safety tips
							before your child explores the Internet. Raza.com also recommends that parents use Web
							filtering technology to supervise their kids' access to the Web.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="second_fold">
			<div class="container">
				<div class="row">
					<div class="col-md-4 aboutusCont">
						<h5>Raza.com Web site Privacy Policy Changes</h5>
					</div>
					<div class="col-md-8 aboutusCont">
						<p>Raza.com will occasionally update this Privacy Policy to reflect company and customer
							feedback. When we post changes to this Privacy Policy, you will see the word "updated" next
							to the Privacy Policy link on the front page of our Website. If there are material changes
							to this Privacy Policy or in how we will use your personally identifiable information, then
							we will prominently post such changes prior to implementing the change. Raza.com encourages
							you to periodically review this Privacy Policy to be informed of how we are protecting your
							information.</p>
					</div>
				</div>
			</div>
		</div>


		<div class="second_fold">
			<div class="container">
				<div class="row">
					<div class="col-md-4 aboutusCont">
						<h5>Enforcement and Questions</h5>
					</div>
					<div class="col-md-8 aboutusCont">
						<p>By upholding our commitment to protecting the privacy of your personal information, Raza.com
							has agreed to disclose its information practices. We welcome your comments regarding this
							Privacy Policy. If you have any questions or believe that Raza.com has not adhered to this
							Privacy Policy, please contact us at 1-877-463-4233 any time 24X7, 365 Days.</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="mobileOnly">

		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						General
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="aboutusCont">
					<p>Raza.com is committed to protecting your privacy and developing technology that gives you the
						most powerful and safe online experience. This Privacy Policy governs data collection and usage
						at our Website. Please read the complete Privacy Policy below.</p>
					<p>The purpose of this Privacy Policy is to inform you, as a welcome visitor to our Website, about:
					</p>
					<ul>
						<li>The kinds of information we may gather about you when you visit our Website</li>
						<li>How we may use that information</li>
						<li>Whether we disclose that information to anyone and
							Your ability to correct that information.</li>
					</ul>
					<p>Please note that this policy applies only to the Raza.com Website and not to other companies or
						organizations websites to which we link. We have clearly marked our Website with our logo so you
						know where this policy applies.</p>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Information We Gather About<br /> All of Our Website Visitors
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="aboutusCont">
					<p>Raza.com keeps track of the pages our customers visit within our Website in order to
						determine what pages and services are the most popular. This data is used to deliver
						customized content and advertising within Raza.com to customers whose behavior indicates
						that they are interested in a particular subject area. Our service automatically gathers
						certain usage information like the numbers and frequency of visitors to our Website and its
						areas. This is similar to the way television ratings tell the networks how many people tuned
						in to a program. We only use such data in the aggregate and not on an individual basis. This
						collective data helps us determine how much our customers use parts of the Website, so we
						can improve our site to assure that it is as appealing as we can make it for as many of you
						as possible.</p>
					<p>For example, our Website may use a technology nicknamed "cookies" that tells us how and when
						pages in our site are visited, and by how many people. Raza.com cookies do not collect
						personally identifiable information and we do not combine information collected through
						cookies with other personally identifiable information to tell us who you are or even what
						your screen name or e-mail address is</p>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Use of Cookies
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="aboutusCont">
					<p>Raza.com may use "cookies" to help you personalize your online experience. A cookie is a text
						file that is placed on your hard disk by a Web page server. Cookies cannot be used to run
						programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can
						only be read by a web server in the domain that issued the cookie to you.</p>
					<p>One of the primary purposes of cookies is to provide a convenience feature to save you time.
						The purpose of a cookie is to tell the Web server that you have returned to a specific page.
						For example, if you personalize Raza.com pages, or register with our Website or for our
						services, a cookie helps us to recall your specific information on subsequent visits. This
						simplifies the process of recording your personal information, such as billing addresses,
						email addresses, and so on. When you return to our Website, the information you previously
						provided can be retrieved, so you can easily use the Website features that you customized.
					</p>
					<p>You have the ability to accept or decline cookies. Most Web browsers automatically accept
						cookies, but you can usually modify your browser setting to decline cookies if you prefer.
						If you choose to decline cookies, you may not be able to fully experience the interactive
						features of our Web site.</p>
					<p>Raza.com displays retargeted ads to our site prospects across the Internet. We collect
						Non-Personally Identifiable Information about your visits to our website, and your
						interaction with our products and services. The anonymous information is collected through
						the use of a pixel tag, which is industry standard technology used by most major web sites.
						No Personally Identifiable Information is collected during this process. If you do not want
						us to collect this information, you may opt out of their service. Opting out will not affect
						your use of our site. To Opt-out of retargeting, please <a href="#">click here.</a></p>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Securing Your Personal<br /> Information
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="aboutusCont">
					<p>Raza.com secures your personal information from unauthorized access, use or disclosure. We
						secure the personally identifiable information you provide on computer servers in a
						controlled, secure environment, protected from unauthorized access, use or disclosure.
						Personal information (such as a credit card number) is transmitted to other websites through
						the use of Secure Socket Layer (SSL) encrypted protection.</p>
				</div>
			</mat-expansion-panel>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Third Party Disclosure<br /> and Protection
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div class="aboutusCont">
					<p>We do not use or disclose information about your individual visits to our Website or
						information that you may give us, such as your name, address, email address or telephone
						number, to any outside companies. Raza.com may share data with trusted departments to help
						us perform statistical analysis.</p>
					<p>The Raza.com website will never disclose your personal information without notice unless it
						is required to do so by law or in the good faith belief that such action is necessary to:
						Conform to the law or comply with legal process served on our Website;
						Protect and defend the rights or property of our Website; and act under exigent
						circumstances to protect the personal safety of users of our products or services, our
						Website, or the public.</p>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>