<div class="bg-comman">
  <div class="main__wrapper">
    <div class="bg-top">
      <div class="d-flex align-items-center pt-4 justify-content-between align-items-center w-100">
        <button class="bg-icon-blue border-0 text-white invisible">

        </button>
        <h4 class="logo"><img loading="lazy" src="https://d2uij5nbaiduhc.cloudfront.net/images/raza_logo.png" alt="logo"></h4>


        <button class="bg-icon-blue border-0 text-white">

        </button>
      </div>
      <div class="container scroll-fixed">
        <div class="row comman-shadow mb-2 px-2 br-radius bg-white balance__amount py-3">
          <div class="waller-amount-wrapper">
            <div class="wallet-amount">
              <div class="d-flex justify-content-between align-items-center">
                <div class="wallet-msg">Payment successfull</div>
                <div class="wallet-msg">
                  <mat-icon class="text-success">check_circle</mat-icon>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-wrapper overflow-hidden mt-1">

      <div class="app-msg">Download Raza Mobile App and get $2 Free</div>
      <div class="app_list">
        <ul>
          <li>
            <a routerLink="/mobile-page">
              <img loading="lazy" src="https://d2uij5nbaiduhc.cloudfront.net/images/icon_googleplaystore.png" alt="app" />
            </a>
          </li>
          <li>
            <a routerLink="/mobile-page">
              <img loading="lazy" src="https://d2uij5nbaiduhc.cloudfront.net/images/icon_appstore.png" alt="app" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center">
      <h6 class="mb-0 pb-3">OR</h6>
    </div>

    <div class="w2 shadow-common desktop overflow-hidden mt-1 bg-white p-3 m-20">


      <div class="accessNumber">
        <div>Your access #</div>
        <div>{{accessNumber}}</div>
      </div>

      <div class="feature-title">How to place you first call?</div>
      <ol class="features_list">
        <li>Use you registered phone and dial the local access number.</li>
        <li>Dial 011+Country Code+ Destination Number to get connected.</li>
        <li>Keep Talking</li>
      </ol>

    </div>

    <p class="m-20 note desktop">Text message has been sent to your registered phone number</p>



  </div>
</div>