<div class="tabContentMyaccount planDetails" id="mynumber">
  <div class="onlyDesktopAccount">
    <ng-container *ngTemplateOutlet="callDetail"></ng-container>
  </div>
  <div class="onlySmallScreenAccount">
    <ng-container *ngTemplateOutlet="callDetailMobile"></ng-container>
  </div>
</div>

<ng-template #callDetail>
  <div class="tabContentMyaccount planDetails" id="planDetails">
    <p class="tabTitle">Call Details</p>
    <mat-form-field class="option-dd">
      <mat-select [formControl]="callDetailsSelectionControl">
        <mat-option value="7"> Last 7 days </mat-option>
        <mat-option value="30"> Last 30 days </mat-option>
        <mat-option value="60"> Last 60 days </mat-option>
      </mat-select>
    </mat-form-field>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Source Number</th>
          <th scope="col">Destination</th>
          <th scope="col">Dest. City</th>
          <th scope="col">Duration</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of callHistories; index as i">
          <td>{{item.CallDate | date :'M/d/yy h:mm a'}}</td>
          <td>{{item.SourceNumber}}</td>
          <td>{{item.Destination}}</td>
          <td>{{item.DestinationCity}}</td>
          <td>{{item.Duration}}</td>
          <td>{{item.Amount | number:'1.1-2' | bCurrency |async}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #callDetailMobile>
  <div class="tabContentMyaccount planDetails">
    <p class="tabTitle">Call Details</p>
    <mat-form-field class="option-dd">
      <mat-select [formControl]="callDetailsSelectionControl">
        <mat-option value="7"> Last 7 days </mat-option>
        <mat-option value="30"> Last 30 days </mat-option>
        <mat-option value="60"> Last 60 days </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngFor="let item of callHistories; index as i">
      <table class="table greyBg orderHistory" [ngClass]="{'greyBg': i%2===0}">
        <tbody>
          <tr>
            <td>Date</td>
            <td>{{item.CallDate | date :'M/d/yy h:mm a'}}</td>
          </tr>
          <tr>
            <td>Source Number</td>
            <td>{{item.SourceNumber}}</td>
          </tr>
          <tr>
            <td>Destination</td>
            <td>{{item.Destination}}</td>
          </tr>
          <tr>
            <td>Dest. City</td>
            <td>{{item.DestinationCity}}</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>{{item.Duration}}</td>
          </tr>
          <tr>
            <td>Amount</td>
            <td>{{item.Amount | number:'1.1-2' | bCurrency | async}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</ng-template>