<div class="first_fold">

  <h1 class="heading_style1">
    Monthly Plan<br />
    <span>Excellent Rates to call Anywhere in the world!</span>
  </h1>
  <div class="home_banner landing_banner">
    <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
  </div>
</div>

<div class="deskTopOnly ">

  <div class="second_fold">
    <div class="container">

      <div class="row">
        <div class="col-md-3 ng-star-inserted">




        </div>
        <div class="col-md-6  ng-star-inserted1" style="margin-top:-17%">
          <div class="border_style" style="background: #fff;">
            <div class="heading_style" style="margin: 10px 0 30px;font-weight:bold">
              <img src="../assets/images/raza-letter.png" class="blueimg" alt="icon">
            </div>
            <div class="heading_style" style="margin: 10px 0 30px;font-weight:bold">

              <span style="font-size:2em;color:#103f8a">RAZA WORLD</span><br />
              Mobile & Landlines<br />

            </div>

            <div style="font-size: 1.5em;margin: 10px 0 0px;font-weight:bold;border-bottom:0px solid #ddd">
              Unlimited Calls<br />
              <span style="font-size: 16px;font-weight:400; border-bottom: 2px solid #ddd;
              padding-bottom: 20px;">$9.99 / month</span><br />
              <div style="font-size: 16px;
              padding-top: 30px;font-weight: 500;
              color: #103f8a">Cancel Anytime</div>

            </div>
            <button _ngcontent-c18="" class="submitButton" style="font-weight: 700;margin-top: 15px;margin-bottom:10px"
              mat-button="">Buy
              Now</button>
            <div class="row">
              <div class="col-xs-6 col-md-6" style="text-align: right;border-right: 1px solid #103f8a;"><a
                  (click)="messageUs2()" style="font-size:14px;color: #103f8a;font-weight:500;">Countries</a></div>
              <div class="col-xs-6 col-md-6" style="text-align: left;"><a
                  style="font-size:14px;font-weight:500;color:#103f8a" (click)="messageUs()">Learn More</a></div>
            </div><br />
          </div>

        </div>
        <div class="col-md-3 ng-star-inserted">



        </div>
      </div>


      <br />
      <br />
      <div class="heading_style2">FAQ'S</div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              1. Who is eligible for this Offer?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Both Existing and New members can avail this offer.</p>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              2. Is this offer valid from both USA and CANADA?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p> Yes! This offer is for both USA and CANADA customers.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              3. How many times can I recharge/purchase this Offer?

            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Your plan will automatically recharge every month (30 days) as per your billing cycle.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              4. Do I qualify for Raza rewards or can I apply any additional coupons on this plan?

            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>No, this is already a discounted plan, no rewards or additional coupons apply to this low rate plan.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>


</div>