.form_holder.commonPopup.cardPopUp {
    margin: -9px;
    @media only screen and (max-width: 767px) {
        padding: 0 !important;
    }
}
.form_holder.commonPopup.cardPopUp span.closeIcon {
    right: 20px;
}
a.what-cvv {
    bottom: 0;
}
.red_text{
    border-color:#ff0000;
    color: #ff0000;
}