<div class="form_holder commonPopup callUsPopup contactForm">
    <mat-dialog-actions>
        <span mat-button (click)="closeIcon()" class="closeIconContactUs"><i class="material-icons">close</i></span>
    </mat-dialog-actions>
    <h2>Country List </h2>
    <mat-dialog-content>



        <table class="table table-striped">
            <tbody>
                <!--bindings={
                "ng-reflect-ng-for-of": "[object Object],[object Object"
              }-->
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-1" ng-reflect-ng-class="flag flag-1"
                                alt="Afghanistan"></span><span>Afghanistan</span></td>
                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-27" ng-reflect-ng-class="flag flag-27"
                                alt="Bangladesh"></span><span>Bangladesh</span></td>
                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-57" ng-reflect-ng-class="flag flag-57"
                                alt="Canada"></span><span>Canada</span></td>
                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-87" ng-reflect-ng-class="flag flag-87"
                                alt="Egypt"></span><span>Egypt</span></td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-110"
                                ng-reflect-ng-class="flag flag-110" alt="Ghana"></span><span>Ghana</span></td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-130"
                                ng-reflect-ng-class="flag flag-130" alt="India"></span><span>India</span></td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-178"
                                ng-reflect-ng-class="flag flag-178" alt="Jordan"></span><span>Jordan</span></td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-180"
                                ng-reflect-ng-class="flag flag-180" alt="Kenya"></span><span>Kenya</span></td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-224"
                                ng-reflect-ng-class="flag flag-224" alt="Nepal"></span><span>Nepal</span></td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-232"
                                ng-reflect-ng-class="flag flag-232" alt="Nigeria"></span><span>Nigeria</span></td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-238"
                                ng-reflect-ng-class="flag flag-238" alt="Pakistan"></span><span>Pakistan</span></td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-248"
                                ng-reflect-ng-class="flag flag-248" alt="Philippines"></span><span>Philippines</span>
                    </td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-265"
                                ng-reflect-ng-class="flag flag-265" alt="Saudi Arabia"></span><span>Saudi Arabia</span>
                    </td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-281"
                                ng-reflect-ng-class="flag flag-281" alt="Sri Lanka"></span><span>Sri Lanka</span></td>

                </tr>
                <tr style="cursor: pointer;" class="ng-star-inserted">
                    <td><span><img src="assets/images/blank.gif" class="flag flag-309"
                                ng-reflect-ng-class="flag flag-309" alt="United Arab Emirates"></span><span>United Arab
                            Emirates</span></td>
                </tr>
            </tbody>
        </table>



    </mat-dialog-content>
</div>
<style>
    .flag {
        margin-right: 20px;
    }
</style>