<div class="first_fold">
  
  <h1 class="heading_style1">	
  About Raza<br/>
  <span>The Industry Leader in International Calling Plans, Raza Keeps You Talking.</span>
  </h1>
  <div class="home_banner about_banner">
      <!-- <img src="https://d2uij5nbaiduhc.cloudfront.net/images/banner_image.png" alt="banner"> -->
  </div>
  </div>
  
  <div class="second_fold">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aboutusCont ">
            <div class="blue_border"></div>
            <h5 class="">About Us</h5>
          </div>
          <div class="col-md-8 aboutusCont">
            <p>Since 1995, we’ve been the industry pioneer, creating reliable and affordable international calling plans that keep you talking for less. Staying connected in today’s fast-paced world is easy when you get an international calling plan from Raza.com. Our state-of-the-art fiber optic network puts you in touch with more than 200 different countries. We stand behind every purchase to provide Unparalled customer service 24/7 & 100% money back guarantee if you are not satisfied with our service and quality at anytime.</p>
          </div>
        </div>
      </div>
  </div>
  
  <!--<div class="aboutUsblueArea">
        <div class="container">
            <div class="row">
              <div class="col-md-4 three_service">
                <div class="icon_holder1"><img src="https://d2uij5nbaiduhc.cloudfront.net/images/about_icon1.png" alt="icon"></div>
                <h3>Talk More Spend Less</h3>
                <p>Our rates are very competitive, we make every effort not to match but beat the market prices so you can talk more for less.</p>
              </div>
              <div class="col-md-4 three_service tab2Service">
                <div class="icon_holder1"><img src="https://d2uij5nbaiduhc.cloudfront.net/images/about_icon2.png" alt="icon"></div>
                <h3>EXCEPTIONAL CALL QUALITY</h3>
                <p>Our State of the art fiber optic network will enable you to make high quality calls to anywhere in the world.</p>
              </div>
              <div class="col-md-4 three_service tab3Service">
                <div class="icon_holder1"><img src="https://d2uij5nbaiduhc.cloudfront.net/images/about_icon3.png" alt="icon"></div>
                <h3>100% Money Back Guarantee</h3>
                <p>Get your unused balance refunded at any time if you are not completed satisfied with our Product, quality or Price.</p>
              </div>
            </div>
          </div>
  </div>-->
  
  <div class="second_fold">
      <div class="container">
        <div class="row">
          <div class="col-md-4 aboutusCont">
            <div class="blue_border"></div>
            <h5>Raza’s<br> Features Outshine the Competition</h5>
          </div>
          <div class="col-md-8 aboutusCont">
            <p>Raza leads the world in international calling plans with popular features to make it easier for you to manage your calls. We’re working to add new features every day. Manage your account online with our user-friendly interface, and get special offers and exclusive deals directly from Raza.</p>
            <p>Still not convinced? If you find a prepaid international calling plan at a lower price than ours, we’ll beat it! Sign up online now and start saving on your international calls with Raza.com</p>
          </div>
        </div>
      </div>
  </div>
  <div class="aboutUsblueArea">
    <div class="container">
        <div class="row">
          <div class="col-md-4 three_service">
            <div class="icon_holder1"><img src="assets/images/new_design_images/keep_talking.png" alt="icon"></div>
            <h3>Talk More <br> Spend Less</h3>
            <p>Our rates are very competitive, we make every effort not to match but beat the market prices so you can talk more for less.</p>
          </div>
          <div class="col-md-4 three_service tab2Service">
            <div class="icon_holder1"><img src="assets/images/new_design_images/industry_leader.png" alt="icon"></div>
            <h3>Exceptional Call <br>Quality</h3>
            <p>Our State of the art fiber optic network will enable you to make high quality calls to anywhere in the world.</p>
          </div>
          <div class="col-md-4 three_service tab3Service">
            <div class="icon_holder1"><img src="assets/images/new_design_images/international_calling.png" alt="icon"></div>
            <h3>100% Money Back Guarantee</h3>
            <p>Get your unused balance refunded at any time if you are not completed satisfied with our Product, quality or Price.</p>
          </div>
        </div>
      </div>
</div>
  
  
