<div class="form_holder commonPopup howItworksPopup" *ngIf="isShow ==0 ? true : false">
    <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
   <h2>How it works</h2>
   <mat-dialog-content>
   
	
   <ul class="howItWorks">
       <li>
           <span><img src="assets/images/success_tick.png" alt=""/></span>
           Asign One Touch Dial number to your destination phone number. 
       </li>
       <li>
           <span><img src="assets/images/success_tick.png" alt=""/></span>
           Dial the One Touch Dial number saved in your contact list.
       </li>

       <li>
           <span><img src="assets/images/success_tick.png" alt=""/></span>
           Simply call from a phone that is registered with us. The rest will be taken care by Raza.
       </li>
   </ul>
   
  
   </mat-dialog-content>
</div>

<div class="form_holder commonPopup howItworksPopup" *ngIf="isShow == 1? true : false">
       <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
      <h2>How it works</h2>
      <mat-dialog-content>
      <ul class="howItWorks">
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Dial the Raza access number. 
          </li>
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Dial 011+ country code+ Phone number +# key.
          </li>
  
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Keep talking.
          </li>
      </ul>
      
     
      </mat-dialog-content>
</div>

<div class="form_holder commonPopup howItworksPopup" *ngIf="isShow == 2? true : false">
       <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
      <h2>How it works</h2>
      <mat-dialog-content>
      <ul class="howItWorks">
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              It shows the date and time of your call, the "Calling from" and "Calling to" number. 
          </li>
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Times are based on Central Standard Time (CST).
          </li>
  
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
               Amounts shown are based on US Dollars (USD).
          </li>
      </ul>
      
     
      </mat-dialog-content>
</div>

<div class="form_holder commonPopup howItworksPopup" *ngIf="isShow == 3? true : false">
       <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
      <h2>How it works</h2>
      <mat-dialog-content>
      <ul class="howItWorks">
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Get your unused portion of your balance at any time. 
          </li>
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              No questions asked!
          </li>
  
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Try our services today for free or just download our app to get free mins.
          </li>
      </ul>
      
     
      </mat-dialog-content>
</div>

<div class="form_holder commonPopup howItworksPopup" *ngIf="isShow == 4? true : false">
       <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
      <h2>How it works</h2>
      <mat-dialog-content>
      <ul class="howItWorks">
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Get additional 10% extra minutes on every recharge.
          </li>
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              With balance-driven Instant Refills, you don't have to worry about making refills at all.
          </li>
  
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              You can manage activating and deactivating the auto-refill feature at any time.
          </li>
      </ul>
      
     
      </mat-dialog-content>
</div>

<div class="form_holder commonPopup howItworksPopup" *ngIf="isShow == 5? true : false">
       <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
      <h2>How it works</h2>
      <mat-dialog-content>
      <ul class="howItWorks">
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Enter your phone number then Provide a "Ring To" number of the country you will be forwarding the calls.
          </li>
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              The start and end dates to receive calls.
          </li>
  
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Simply give out your 1-800 number to your family and friends.
          </li>
      </ul>
      
     
      </mat-dialog-content>
</div>


<div class="form_holder commonPopup howItworksPopup" *ngIf="isShow == 6? true : false">
       <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
      <h2>How it works</h2>
      <mat-dialog-content>
      <ul class="howItWorks">
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Sign up : Get 200 Instant bonus points for signing up for Raza Rewards™. 
          </li>
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Recharge : For every $1 spent on eligible purchases or recharge, you will receive 4 Reward points.
          </li>
  
          <li>
              <span><img src="assets/images/success_tick.png" alt=""/></span>
              Refer a friend: Earn 250 points from each successful sale converted from your referral.
          </li>
          <li>
               <span><img src="assets/images/success_tick.png" alt=""/></span>
               Get $10 Free mins when you redeem 1000 points to US customers and 1100 points for Canadian customers.
           </li>
      </ul>
      
     
      </mat-dialog-content>
</div>

