<div class="otp-confirm-wrap">
  <div mat-dialog-content class="otp-confirm">
    <img src="assets/images/email_send.png" alt="checked"/>
    <h1>E-mail Sent</h1>
    <p> 
      Please check your Email for log in details. 
    </p>
    <!-- <p>See if your link to login has arrived.</p> -->
    <!-- <p>Please allow up to 60 seconds for your code to reach you before
      requesting a new code.</p> -->
      <!-- <p>For further assistance, please call <a href="/contactus" mat-dialog-close>customer service.</a> </p> -->
  </div>
  <div mat-dialog-actions class="text-center">
    <button mat-button class="px-5 my-3 btn btn-primary mx-auto ok_btn" (click)="goToLogin()">OK</button>
  </div>
  <div class="more_opt">
    <a href="javascript:void(0)" (click)="showMoreOptions()" *ngIf="!moreOptions">More options</a>
  </div>


  <div class="example-container" *ngIf="moreOptions">

    <!-- <h3 class="options" (click)="chatWithUs()">Chat with us</h3>   -->
    <h3 class="options" (click)="sendPasswordAgain(); moreOptions=!moreOptions" >Resend code</h3>  
    
     
    <h3 class="options" (click)="loginWithPhone();"  >Login with phone</h3>    
    <!-- <p></p> -->
    <!-- <p>Or</p> -->
    <div class="contact_div_wrap">
       <div class="contact_div">
         <span class="phone_text"><a href="tel:+18774634233">1877-463-4233</a></span> 24/7
       </div>

        <!-- <p>Or</p>
         <h3 class="options" *ngIf="loginWith == 'phone'" (click)="processWith('email')">Login with Email</h3>  
         <h3 class="options" *ngIf="loginWith == 'email'" (click)="processWith('phone')">Login with Phone</h3>  -->
     </div>
 </div>

</div>