<div mat-dialog-content class="otp-confirm">
  <img src="assets/images/checked.png" alt="checked"/>
  <h1>Code Sent</h1>
  <p><b>See if your code has arrived.</b></p>
  <!-- <p>Please allow up to 60 seconds for your code to reach you before
    requesting a new code.</p> -->
    <p>For further assistance, please call <a href="/contactus" mat-dialog-close>customer service.</a>
      </p>
</div>
<div mat-dialog-actions class="text-center">
  <button mat-button mat-dialog-close class="px-5 my-3 btn btn-primary mx-auto">OK</button>
</div>