<div class="form_holder commonPopup">
    <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
   
    <h2 *ngIf="message == ''">Are you sure you want to cancel? Remember, <br />you were receiving a 10% bonus on every auto recharge.</h2>
    <h2 *ngIf="message != ''">{{message}}</h2>
    <mat-dialog-content>
    

    <div class="myNumberButtonArea2">
        <button mat-button class="submitButton" style="margin-left: 85px!important;" [mat-dialog-close]="data.success">Yes</button> 
        <button mat-button class="submitButton" style="float: left!important; margin-left:15px!important;" (click)="closeIcon()">No</button>
    </div>
    </mat-dialog-content>
</div>