@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  .hideinMobile {
    display: block;
  }
  .sendtopup{
    font-size: 30px !important;
    font-weight: 600 !important;
    width: 100% !important;
  }
  .heading_style1{
    margin-left: 188px;
    left: 17%;
  }
  .submit-btn{
    width: 30% !important;
  }
  .showInmobile {
    display: none;
  }
  .mat-toolbar {
    background: none;
  }
  .nobg {
    background: none;
    cursor: pointer;
    border: none;
  }
  .commonWrapperArea {
    padding: 30px 7%;
    p {
      &.label {
        color: #103f8a;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
        span {
          display: block;
          font-size: 12px;
          color: #808080;
        }
      }
      &.price {
        color: #103f8a;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        line-height: 29px;
        margin-bottom: 25px;
        span {
          font-size: 12px;
          color: #808080;
          line-height: 12px;
        }
      }
    }
  }
  p {
    &.numberXX {
      color: #919eae;
      font-size: 13px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      margin-top: -33px;
    }
  }

  // .footer_style {
  // margin-top: -95px;
  // }

  .oparationImg {
    margin: 15px 0;
  }
  .imgStyle {
    width: 60px;
  }
  .radio_checkbox_wraper1 {
    margin: 25px 0;
  }
  .virtual1Form {
    background: #f6f8fa;
    padding: 40px;
    position: relative;
    width: 620px;
  }
  .commonWrapperArea h3,
  .commonWrapperArea p.headerText {
    font-weight: 300;
  }
  .amountSent {
    border: 1px solid #ccc;
    padding: 60px;
    margin: 0 0 30px 0;
    p {
      font-size: 22px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      text-align: center;
    }
  }
  .bottom{
    font-size: 18px;
    color: #1c2b58;
    font-weight: 500;
    margin-top: 81px;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 650px) {
    .submit-btn{
      width: 62% !important;
    }
    .heading_style1{
      left: 0;
      margin-left: 0px;
      font-size: 32px;
      width: 100%;
      top: 48%;
      padding: 0 20px;
    }
    .heading_style1 span{
      font-size: 16px;
    }
    .sendtopup{
      font-size: 25px !important;
    }
    .hideinMobile {
      display: none;
    }

    .showInmobile {
      display: block;
    }

    .three_service {
      height: 360px;
    }

    .virtual1Form {
      width: auto;
      margin: 25px auto 0;
      padding: 40px 20px;
    }

    .commonWrapperArea h3 {
      font-size: 19px;
    }

    .commonWrapperArea {
      padding: 30px 12px;
    }

    .commonWrapperArea p.headerText {
      font-size: 12px;
      line-height: 20px;
    }

    .virtualNumberList h4 {
      font-size: 19px;
    }

    .mobileTopup .mat-radio-button {
      margin-right: 10px !important;
    }
  }

  .forgetPass {
    position: absolute;
    right: 15px;
    font-size: 12px;
    top: 15px;
    color: #0a1f3f;
    z-index: 2;
    a {
      color: #0b3d8d;
    }
  }

  ::ng-deep .mat-input-element:disabled {
    color: #212529 !important;
  }

  @media only screen and (max-width: 675px) {
    .home_banner.mobileterms_banner {
      height: 550px !important;
    }
  }
  .marginBottomimg{
    margin-top: 20px;
  }

  // new scss for mobile topup

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  $common-bg-color: #ffffff;

  .mobile-topup-wrapper {
    background-color: $common-bg-color;
    // background-color: #f5f5f5;
    padding-bottom: 77px;

    .col-lg-8 {
      margin: auto;
    }

    .top-banner {
      padding: 0;
      margin-bottom: -170px;
      width: 100%;

      height: 550px;
      background-size: cover;
      position: relative;

      .title-wrapper {
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);

        h1 {
          font-size: 44px;
        }

        h1,
        p {
          font-weight: 600;
          font-family: Montserrat, sans-serif;
        }

        p {
          font-size: 35px;
        }
      }
    }

    .form-wrapper {
      width: 660px;
      max-width: 100%;
      margin: 50px auto 0;

      .rounded-lg {
        border-radius: 20px !important;
        border: 1px solid #c6c6c6;
        &.card {
          padding: 8px 30px 30px;
        }
      }
      .country,
      .country-img {
        font-size: 18px;
        font-weight: 600;
      }

      .edit-button {
        font-size: 18px;
        font-weight: 600;
      }

      span.prefix-mobiletopup {
        margin-top: -10px;
        display: inline-flex;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 600;
      }

      .mat-form-field-infix {

        .mat-form-field-label {
          font-size: 18px;
          letter-spacing: 0px;
          color: #000 !important;
          font-weight: 500 !important;
          font-family: "Montserrat", sans-serif;

        }
      }

      p {
        font-weight: 600;
      }

      .form-desc {
        background: $common-bg-color;
        padding: 0 10px;
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        border: 5px solid #2a3d6e;
        border-radius: 13px;
      }

      .button-wrapper {
        .submit-btn {
          background: #f3c423;
          padding: 10px 50px;
          border-radius: 30px;
          color: #000;
          font-weight: 700;
          border: none;
          text-decoration: none;
          width: 100% !important;
          font-size: 20px;
          &:hover {
            background-color: #f4d24c;
          }
        }
      }

      mat-form-field {
        margin-bottom: 15px;
        position: relative;
      }

      .example-form {
        min-width: 100%;
        max-width: 100%;
      }

      input.mat-input-element {
        margin-top: 8px;
        margin-bottom: 4px;
        font-size: 18px;
      }

      .example-full-width {
        width: 100%;
      }

      .mat-form-field-infix {
        margin-left: 10px;
      }

      mat-icon {
        margin-right: 5px;
      }
    }
  }



  ::ng-deep {
    .denomination .mat-checkbox-inner-container {
      display: none;
    }
    .mat-checkbox-layout {
      width: 100%;
      margin: 0;
    }

    .mat-checkbox-label {
      width: 100%;
    }
  }

  .denomination__box {
    border-radius: 12px;
    border: 1px solid #c8e8f6;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .operator-details.border-bottom {
    border-color: #b9b9b9!important;
  }
  .amount {
    font-size: 24px;
    margin: 4px 0;
    h3 {
      font-weight: 700;
      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  button.buy_btn {
    background: #ff5b46;
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    min-width: 85px;
    font-weight: 600;
    margin: auto 0 15px 15px;
    max-width: fit-content;
}
  .denomination__box.selected {
    // background: #04a2f6;
    border-color: #04a2f6;
  }

  // .denomination__box.selected .amount {
  //   color: #fff;
  // }
  .popular {
    font-size: 18px;
    font-weight: 500;
    color: #04a2f6;
  }
  // .denomination__box.selected .popular {
  //   color: #fff;
  //   font-size: 18px;
  //   font-weight: 500;
  // }
  .flag{
    object-fit: contain;
  }
  .operator{
    object-fit: contain;
    width: 64px;
    height: 32px;
  }
  .edit-button a {
    display: flex;
    justify-content: flex-end;
    color: #0160e0;
  }
  .card {
    // border: 15px solid #283a69 !important;
  }
  .top_section {
    background-color: #ebf8fe;
    border-bottom: 1px solid #c8e8f6;
    padding: 15px;
    border-radius: 12px 12px 0 0;
    h2 {
        font-size: 32px;
        font-weight: bolder;
        text-align: left;
        color: #031a62;
        margin: 10px 0;
    }
    p {
      font-weight: 600;
      font-size: 15px;
      color: #031a62;
      margin: 10px 0;
    }
    a {
      color: #0578b1;
      font-weight: 500;
    }
  }
  .bottom_section{
    padding: 15px;
    font-size: 14px;
    color: #4b4b4b;
    ul {
        margin-top: 10px;
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 7px;
          font-weight: 500;
          background-image: url(../../../../assets/images/small-tick.png);
          background-repeat: no-repeat;
          background-position: left 6px top 6px;
          padding-left: 25px;
         }
    }
    p {
      font-weight: 500 !important;
      margin-bottom: 0;;
    }
  }
  .top_up_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.top_up_btn {
  .mat-button-toggle {
    background: #203676;
    color: #fff !important;
    font-family: "Montserrat", sans-serif;
    padding: 0 8px;
  }
  .mat-button-toggle-group-appearance-standard {
      border-radius: 30px;
      background: #203676;
      padding: 8px;
      font-weight: 600;
  }
  .mat-button-toggle.mat-button-toggle-checked {
      background: #ffc72c;
      border-radius: 30px;
      color: #000 !important;
  }
}

.topup_items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  .topup_item {
    width: 33.33%;
    padding: 0 8px;
    margin-bottom: 20px;
  }
}

  // media quries for form

  @media only screen and (max-width: 767px) {
    .submit-btn{
      padding: 10px 20px !important;
    }

    .width_image{
      width: 370px;
    }

    .country,.country-img,.edit-button {
      font-size: 14px!important;
  }
    .mobile-topup-wrapper {
      padding-top: 0px;
      padding-bottom: 50px;
  }

    .form-wrapper .form-desc {
      font-size: 16px;
      margin: auto;
    }

    .top-banner {
      height: 405px !important;
      background-position: 0% !important;
    }

    .mobile-topup-wrapper .container {
      margin-top: 50px;
      width: 100%;
    }

    .title-wrapper h1 {
      font-size: 36px !important;
    }

    .title-wrapper p {
      font-size: 22px !important;
      font-weight: 500 !important;
    }
    .forgetPass {
      position: absolute;
      right: 0;
      bottom: -20px;
      top: unset;
    }
    .mobile-topup-wrapper .form-wrapper mat-form-field {
      margin-bottom: 0px;
      position: relative;
    }
    .topup_items {
      .topup_item {
        width: 100%;
      }
    }
    .top_up_btn .mat-button-toggle {
      font-size: 14px;
      padding: 0;
    }
    .top_up_btn{
        margin: 0 -12px 25px;
    }
  }

  @media only screen and (max-width: 1366px) {
    .top-banner {
      height: 405px !important;
      background-position: 0% !important;
    }

    .mobile-topup-wrapper .container {
      margin-top: 50px;
    }
  }

  ::ng-deep {
    .form-wrapper .mat-form-field-should-float .mat-form-field-label {
        left:0 !important;
    }
    .form-wrapper .mat-form-field-should-float .mat-form-field-infix {
      position:static;

    }
    .mobileTopup {
      .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        padding-left: 25px;
        padding-top: 10px;
      }
      .labelText {
        font-size: 20px;
        color: #9a9a9a;
        font-weight: 500;
      }
      .globe {
        .globeIcon {
          position: absolute;
          top: 14px;
          width: 30px;
          height: 30px;
          background-image: url(../../../../assets/images/globe.png);
          background-repeat: no-repeat;
          background-position: left;
          ~ input[type="text"] {
            padding-left: 45px;
          }
        }
        .labelText {
          padding-left: 45px;
        }
      }
      .mat-form-field-underline {
        bottom: 8px;
        background-color: #e2e2e2;
        overflow: hidden;
      }
    }
    .topUpText {
      text-align: center;
      margin: 80px 0 40px;
      font-size: 20px;
      font-weight: 600;
    }
    .mobileTopupData {
        padding: 0 20px;
        max-width: 700px;
        margin: 0 auto;
        &Inner {
          margin-bottom: 20px;
        }
    }
  }
  input{
    font-size: 16px;
    font-weight: 600;
  }

  @media only screen and (max-width:1200px){
    .form-wrapper {
      padding: 0px !important;
    }
  }
  @media only screen and (min-width:1700px){
    .mobile-topup-wrapper .top-banner {
      height: 680px;
    }
  }

  /*@media only screen and (max-width: 480px)
  {
  .heading_style1{

        font-size: 40px;
        left: 23%;
        top: 70%;
        text-align: left !important;
        transform: translate(-12%, -50%);
    }
  }*/
