<div class="form_holder commonPopup faqPopup" *ngIf="isShow == 0 ? true : false">
<div *ngIf="showloader == true"> 
    <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
     <h2>FAQ</h2>
    <mat-dialog-content >
     
    <div class="headingText"></div>

    <mat-accordion>
      <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                How can I make a call using the One Touch Dialing feature?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Dial the local # corresponding to your friend's name that you have saved in your phone</p>
            <p>The rest will be taken care by Raza..Just Keep Talking</p>
            <p>(Once you dial the One Touch # from your phone, our system recognizes your account and connects the call appropriately to the pre-assigned destination number).</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Does One Touch Dialing feature work with all service providers?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Yes, as long as your phone service provider supports caller ID.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Can I use "One Touch Dial" if my caller ID is blocked?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes!. When you save 'One Touch Dial' Number into your phone contacts, add *82 before the actual 10 digit number (*82 646XXXXXXX). Caller ID of your phone will still be blocked if you are placing any other call.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How many One Touch Dialing numbers can I register?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>You can register upto 15 One Touch Dialing numbers in your account.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How soon can I start using the service after setting up the One Touch Dialing?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Instantly!</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Is this feature chargeable?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>No, this amazing feature is offered free of cost for better convenience.</p>
      </mat-expansion-panel>

    </mat-accordion>

     </mat-dialog-content>
</div>
</div>

<div class="form_holder commonPopup faqPopup" *ngIf="isShow == 1 ? true : false">
<div *ngIf="showloader == true">
  <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
   <h2>FAQ</h2>
  <mat-dialog-content>
   
  <div class="headingText"></div>

  <mat-accordion>

    <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                How many pin-less numbers (calling from numbers) can I register?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>You can register up to 5 pin-less numbers to your account. (This may not apply for few discounted plans)</p>
    </mat-expansion-panel>

    <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
              Can I edit my numbers online?
          </mat-panel-title> 
        </mat-expansion-panel-header>
        <p>Absolutely! You can add and delete your pin-less setup at any time.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            How soon can start using my account once I edit my pin-less setup?
        </mat-panel-title>
 
      </mat-expansion-panel-header>
      <p>Immediately!</p>
    </mat-expansion-panel>

  </mat-accordion>

   </mat-dialog-content>
</div>
</div>

<div class="form_holder commonPopup faqPopup" *ngIf="isShow == 2 ? true : false">
<div *ngIf="showloader == true">
    <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
     <h2>FAQ</h2>
    <mat-dialog-content>
     
    <div class="headingText"></div>
  
    <mat-accordion >
      
      <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                How soon can I view call details?
              </mat-panel-title> 
            </mat-expansion-panel-header>
            <p>Immediately, call details reflects right away after the call is disconnected.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              How far can I go back to view call history?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Call details are available for the last 60 days.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Can I see how much each call charged me?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes, it shows you the duration as well as the charges of the call.</p>
      </mat-expansion-panel>
  
    </mat-accordion>
  
     </mat-dialog-content>
</div>
</div>

<div class="form_holder commonPopup faqPopup" *ngIf="isShow == 3 ? true : false">
<div *ngIf="showloader == true">
    <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
     <h2>FAQ</h2>
    <mat-dialog-content>
     
    <div class="headingText"></div>
  
    <mat-accordion>
      
      <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  What is Money back guarantee?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>If, for any reason you’re not satisfied with the product or service, we will refund your money back.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
                Will I get 100% money back irrespective of the usage? 
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>We will refund 100% of your unused balance back to your account.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Can I see how much each call charged me?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes, it shows you the duration as well as the charges of the call.</p>
      </mat-expansion-panel>
  
    </mat-accordion>
  
     </mat-dialog-content>
</div>
</div>

<div class="form_holder commonPopup faqPopup" *ngIf="isShow == 4 ? true : false">
<div *ngIf="showloader == true">
    <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
     <h2>FAQ</h2>
    <mat-dialog-content>
     
    <div class="headingText"></div>
  
    <mat-accordion>
      
      <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                  How can I enroll my plan to auto-refill?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>You can enroll your plan to auto-refill by logging into your account or by calling our customer service.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
                When can I cancel my auto-refill?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>You can cancel the auto-refill feature at any given time by logging into your account.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
              When will my plan recharge?
          </mat-panel-title> 
        </mat-expansion-panel-header>
        <p>Your account will be changed only when the balance falls below $2.</p>
      </mat-expansion-panel>
  
    </mat-accordion>
  
     </mat-dialog-content>
</div>
</div>

<div class="form_holder commonPopup faqPopup" *ngIf="isShow == 5 ? true : false">
<div *ngIf="showloader == true">
    <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
     <h2>FAQ</h2>
    <mat-dialog-content>
     
    <div class="headingText"></div>
  
    <mat-accordion *ngIf="isShow == 5 ? true : false">
      
      <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  What is the Call Forwarding feature?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>The Call Forwarding feature allows you to have your family; friends and co-workers reach you on any phone, anywhere in the world. Now you can travel anywhere in the world and not miss those important calls!</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
                How does Call Forwarding work?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Let's say you're going overseas to India. Just let us know the hotel, mobile or relatives phone number in India you would like to be reached at. Then we will provide you with your own personal toll-free number that when dialed from USA or Canada it will automatically ring to your designated number in India. All you have to do is give out your personal toll-free number to your family, friends & co-workers.! and if you want to make sure you don't miss any calls, just forward your home, mobile and/or office phone to your personal toll-free number and all your calls will be directed to your designated number in India. It's as simple as 123.</p>
      </mat-expansion-panel>
  
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
              What is my personal toll-free number?
          </mat-panel-title> 
        </mat-expansion-panel-header>
        <p>Your personal toll-free number is an 800/866/877 number specifically assigned to you. When this number is dialed from USA or Canada, it will ring to any number in the world you chose.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
                Can I change the number I want to be reached at?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>The number where you would like to be reached can be changed anytime you choose. Just login to our website and just change the number you would like to be reached at.</p>
        </mat-expansion-panel>
      
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                When does the Call Forwarding feature become active?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>The Call Forwarding feature is activated as soon as you purchase and setup the number you would like to be reached at.</p>
        </mat-expansion-panel>
  
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
                What is my custom itinerary?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>If you will be traveling to many destinations and would like to have your Call Forwarding number ring to all your different destinations, just setup a custom itinerary. The custom itinerary allows you to have your destination number change based on your travel dates and the phone number you would like to be reached at. As an example, let's say you will be traveling to London from the 1st of the month till the 7th and from there you will be in India from the 8th till the 15th. You can setup your custom itinerary to have your calls ring to your number in London from the 1st till the 7th and then have you calls ring to you in India from the 8th till the 15th.</p>
        </mat-expansion-panel>

        <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                  What if I don't know the number I want to be reached at?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>No problem! When you arrive to your traveling destination and know what number you want to be reached at. Just login to our website and setup your number at that time.</p>
          </mat-expansion-panel>

          <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Do my friends, family and co-workers get charged for calling me?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Absolutely not! Your family, friends and co-workers will not be charged for your Call Forwarding feature no matter where you travel in the world! Note: Not responsible for charges applied to calling party by their provider for dialing toll-free number.</p>
            </mat-expansion-panel>

          <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                    What if I run out of balance while I am away?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>You will never run out of your minutes if you enroll your plan to auto-refill however if you choose not to enroll then please visit our website to recharge or chat with us from any country to recharge your account.</p>
            </mat-expansion-panel>

            <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      How do I forward my calls to my personal toll-free number?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Each mobile provider as well as home and office phone providers have their own way of forwarding calls. Please contact your phone providers to find out how you can forward your calls to the personal toll-free number that is provided to you when you purchase the Call Forwarding feature.</p>
              </mat-expansion-panel>
  
    </mat-accordion>
  
     </mat-dialog-content>
</div>
</div>

<div class="form_holder commonPopup faqPopup" *ngIf="isShow == 6 ? true : false">
<div *ngIf="showloader == true">
    <span class="closeIcon" (click)="closeIcon()"  mat-dialog-close><i class="material-icons">close</i></span>
     <h2>FAQ</h2>
    <mat-dialog-content>
     
    <div class="headingText"></div>

    <mat-accordion  >
      <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                  How many points do I get upon signup?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>By signing up to Raza rewards you get 200 free signup bonus points.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
                How many points do I get upon referring a friend?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>You will receive 250 reward points upon your friends account activation and first successful recharge.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
              How can I earn more reward points?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>You will automatically earn 4 points for every $1 spent to recharge your account.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
              How long can I keep my Reward points before exchanging them for rewards?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Your Raza Rewards™ points never expire and hence you can keep adding your points on your valid plan and exchange the points anytime.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
              When can I redeem my Raza Rewards?
          </mat-panel-title> 
        </mat-expansion-panel-header>
        <p>Your plan can be credited with as low as $10 when you earn a minimum of 1000 points for US customers and 1100 for Canadian customers.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
              How can I redeem my reward points?
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>Reward points can be redeemed by calling our 24/7 customer service.</p>
        <p>Crediting Account - Raza Rewards™ Points will be credited to a customer's account within 2 weeks of the qualifying activity. Customers are responsible for verifying that Points are credited to their account. All account discrepancies must be reported in writing within one month of date of activity.</p>
        <p>Expiration and Termination -Raza and Raza Rewards™ reserves the right to terminate your membership in the Program at any time if you violate the Program's rules or policies or any term or condition of the website, including the Subscriber Agreement and the Conditions of Use. Termination of your membership will result in a loss of all accumulated Raza Rewards™ Bonus Points and the loss of all other Program benefits. Terminated members are not eligible to participate in any aspect of the Program. In lieu of termination, Raza and Raza Rewards™ may at its sole discretion deduct Raza Rewards™ Bonus Points from your account, but permit you to continue participating in the Program. If a customer returns a card (PIN) and receives a refund, then all of the Bonus Points associated with that card (PIN) will be automatically cancelled. Bonus Points do not expire except as expressly set forth herein.</p>
        <p>Points Eligibility - Raza Rewards™ Points are only eligible for purchases made through Raza.com website. Points are only available through recharges, purchases or gift purchases through the Raza.com website. Special Promotions that require the use of a "Coupon Code" at checkout are NOT ELIGIBLE for Points accumulation.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
              Do i need to enroll first to be eligible to earn Raza Reward Points ?
          </mat-panel-title> 
        </mat-expansion-panel-header>
        <p>Yes, enroll and get 200 signup bonus points.</p>
      </mat-expansion-panel>

    </mat-accordion>

     </mat-dialog-content>
</div>
</div>
 