/* search box css */
@import '__variables';
@import '__mixins';
$background-color_1: #293a6a;
.activerow .sticky_row th .ano-col,
.bonus-new,
.col-wrapper.active .button button,
.inner_price,
.sticky_row th .bottom_bg {
    transition: 0.2s ease-in;
}

.activerow .sticky_row
{
    overflow: hidden;
}
.text_blue {
    color: #0569e5;
    text-transform: uppercase;
}
.button button,
.button small,
.denomination-box tbody tr td div,
.first-col,
.first-col div div,
.first-col small,
.inner-cell {
    color: #2f3b55;
    font-family: Montserrat;
}
.col-wrapper .ano-col,
.first-inner {
    min-height: 70px;
}
.col-wrapper {
    flex-grow: 1;
    text-align: center;
}
.col-wrapper .inner-cell,
.first-col div {
    border-bottom: 0 solid #e5e5e5;
    padding: 16px;
}
.active {
 
    
    margin-top: -2px;
}
.first-col {
    font-size: 16px;
    font-weight: 600;
}
.ano-col {
    padding: 16px;
    font-size: 36px;
    line-height: 25px;
    font-weight: 400;
    font-family: Montserrat;
}
.inner-cell {
    font-size: 16px;
    height: auto;
}
.first-col div div {
    font-size: 12px;
    font-weight: 500;
}
.first-col small {
    display: block;
    line-height: 17px;
    font-size: 13px;
    font-weight: 500;
}
.check {
    height: 142px;
    border-bottom: 1px solid #e5e5e5;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4ba216;
}
.col-wrapper.active .button button,
.col-wrapper:hover .button button {
    background: #f3c423;
}
.button button {
    border: 2px solid #2f3b55;
    display: block;
    margin: 16px auto;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 700;
}
.button small {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 16px;
}
.ano-col {
    padding-top: 50px !important;
    padding-bottom: 0 !important;
}

.activerow .sticky_row th .ano-col{
    padding-top: 20px!important;
  }

 

.col-wrapper .inner-cell-list-price {
    position: relative;
    border-bottom: 2px solid #ececec;
    border-right: 2px solid #ececec;
    border-left: 2px solid #ececec;
    border-radius:0 0 12px 12px;
    
}
.dummy_border{
    padding: 17px;
    border-right: 2px solid #ececec;
    margin-top: -21%;
    border-left: 2px solid #ececec;
}
.dummy_border_select{
    padding: 17px;
    border-right: 2px solid #ececec;
    margin-top: -21%;
    border-left: 2px solid #ececec;
}
.body_no_scroll .d-flex.flex-grow-1 {
    margin-bottom: 15px;

}




.active.col-wrapper:after{
  
}
.marginTop15 {
    font-size: 12px;
}
.example-action-button {
    position: absolute;
    right: -25px;
    top: 0;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
.denomination-box.selected {
    border: 2px solid #035fe1;
}
.denomination-box.selected button {
    background: #f4cb27;
    border-color: transparent !important;
}
.denomination-box {
    padding: 20px 20px 0px;
    border-radius: 16px;
    margin-top: 30px;
    
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}
.denomination-box table,
.denomination-box table .button small {
    margin-bottom: 0;
}
// .denomination-box table .button button {
//     margin: 0 auto 8px;
//     border: 0;
//     color: #fff;
//     height: 46px;
//     border-radius: 12px;
//     background-color: #f15d2e;
//     width: 100%;
// }
.denomination-box thead th {
    border-top: none;
    border-bottom: 1px solid #000;
    padding: 10px 0.75rem;
}
.denomination-box thead th span.slice {
    position: absolute;
    font-size: 16px;
    top: 0;
    left: 20px;
    line-height: 20px;
    color: #364360;
    font-weight: 600;
    font-family: Montserrat;
    text-align: center;
}
.denomination-box thead th span.slice:after {
    content: "";
    background: red;
    width: 51px;
    height: 2px;
    position: absolute;
    left: -5px;
    top: 8px;
}
.denomination-box thead th:first-child {
    font-size: 14px;
    color: #0569e5;
    font-weight: 600;
    font-family: Montserrat;
}
.denomination-box thead th:nth-child(2) {
    font-size: 33px;
    color: #0569e5;
    font-weight: 600;
    font-family: Montserrat;
    text-align: center;
    position: relative;
}
.denomination-box tbody tr:first-child td {
    border-top: 0;
}
.denomination-box tbody tr td {
    padding: 10px 13px;
    vertical-align: middle;
}
.denomination-box tbody tr td:first-child,.text_div_mobile {
    font-size: 15px;
    line-height: 20px;
    color: #364360;
    font-weight: 500;
    font-family: Montserrat;
}
.denomination-box tbody tr td:nth-child(2) {
    font-size: 22px;
    line-height: 20px;
    color: #364360;
    font-weight: 500;
    font-family: Montserrat;
}
.denomination-box tbody tr td div {
    
    
}
.denomination-box tbody tr td mat-icon {
    color: #55ab17;
}
.flag-wrapper img {
    width: 80px;
    height: 80px;
    border: 5px solid #fff;
    border-radius: 50%;
}
.country-text {
    width: 70px;
    height: 70px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    border: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 32px;
}
.denomination-box .bonus {
    background: #035fe1;
    position: absolute;
    right: -8%;
    color: #fff;
    padding: 4px 26px;
    font-size: 10px;
    transform: rotate(45deg);
    top: 3%;
    display: none;
    z-index: 1;
}
.denomination-box.selected .bonus {
    display: block;
}
.denomination-wrapper {
   // margin-top: 299px;
}
.selected_active {

}
.selected_active.col-wrapper .inner-cell-list-price {
   /* position: relative;
    border-bottom: 4px solid #3b489f!important;
    border-right: 4px solid #3b489f!important;
    border-left: 4px solid #3b489f!important;
    border-radius: 0 0 16px 16px;*/
}

@media only screen and (max-width: 767px) {
    .all-rates table td {
        font-weight: 500;
    }
}
.searchrate_banner {
  //  background: url(images/searchrate_banner.jpg) center 100% no-repeat;
}
@media (min-width: 1090px) {
    .callafrica_banner,
    .callasia_banner,
    .home_banner {
        background-size: cover;
    }
}
.banner_content {
    background-color: rgba(0, 0, 0, 0.8);
}
.heading_style1 {
    margin: 0;
    text-align: left;
    font-family: Montserrat, sans-serif;
    border-radius: 10px;
    font-size: 60px;
    color: #fff;
    position: absolute;
    font-weight: 700;
    top: 53%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
}
.heading_style-new {
    padding: 30px 40px 20px;
    left: 37.2%;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 720px;
}
.contact-header-2 {
    text-transform: initial;
    font-size: 40px;
}
.contact-header-2 span {
    font-size: 25px;
    opacity: 0.8;
    font-weight: 200;
    margin-top: 8px;
}
.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
  //  background: url(images/flags.webp) no-repeat;
}
#searchInput,
.heading_style1 span {
    border: 0;
}
.country-searchnew {
    margin-top: 25px;
}
.country-searchnew .search-input {
    padding: 10px;
    border-radius: 10px;
}
.country-searchnew #searchInput {
    padding: 10px 10px 10px 24px;
    font-size: 22px;
    color: #000;
    font-weight: 500;
    height: 54px;
}
.country-searchnew .input-group-text.border-left-0.bg-white {
    padding: 15px;
    border-radius: 0 10px 10px 0;
}
.banner_sub_text {
    font-size: 17px;
    font-weight: 300;
    text-transform: initial;
    margin-top: 20px;
}
.inner-cell,
.inner_price {
    font-weight: 500;
}
span.input-group-text.caret.bg-white.border-right-0 {
    padding: 18px 6px 14px 20px;
    border-radius: 10px 0 0 10px;
}
.sticky .active {
    margin: 0 10px;
    background: #fff;
}
#full_width_scroll_div .sticky .active {
    border: 0px solid transparent;
     background-image: url(../../assets/images/bgshortmenu.png);
}
 .selected_active .ano-col div, .selected_active .ano-col .inner_price {
    color: #fcc802 !important;
}
.body_no_scroll .active.col-wrapper{
    background: transparent;
}

#header_div_box .active.col-wrapper {
    box-shadow: 0px -26px 35px 0px rgba(0,0,0,0.14);
}
.body_no_scroll .active.col-wrapper  {
 
    box-shadow: 0px 15px 35px 0px rgba(0,0,0,0.14);
    
    
    
}
.ano-col {
    background: transparent;
    margin-bottom: 0;
    color: #fff !important;
    position: relative;
}
.bgsvgimage
 {
    background-position: top;
    background-repeat: no-repeat;
}   
.ano-col .bottom_bg {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -68px;
}
.col-wrapper.active .button button {
    background: #fcc802;
    border: 1px solid #fcc802;
    border-radius: 11px;
    padding: 0 14px;
    line-height: 1;
    margin: 15px auto 0;
    font-size: 14px;
    width: 107px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1000;
}
.col-wrapper.active .button button:hover {
    background: #fff0ba;
    transition: 0.2s ease-in;
    border: 1px solid #fff0ba;
 
}
.inner-cell-list {
    margin-top: -16px;
}
.inner-cell-list div {
    font-size: 16px !important;
    color: #2f3b55 !important;
    font-weight: 500 !important;
    font-family: Montserrat;
    height: auto;
}
.inner-cell-list div:nth-child(2n),
.inner-cell-list-price div:nth-child(2n) {
    background-color: #f7f7f7;
}
.inner_price {
    font-size: 16px;
    display: block;
    margin-top: 18px;
}
.bonus-new,
.swicth_container,
.switch {
    display: inline-block;
}
.bonus-new {
   font-size: 14px;
   font-weight: 600;
   line-height: 23px;
   padding: 0 0px;
   color: #fff;
   margin-bottom: 0px;
   transform: rotate(45deg);
   position: relative;
   top: 25px;
   left: 12px;
}

.bonus-bg{
  right: -10px;top:-10px;
   background-image: url(../../assets/images/ribbonmain.png);
  position: absolute;
  height: 126px;
  width: 132px;
}

.bonus-bg-short{
    right: -10px;
    top: -10px;
    // background-image: url(../../assets/images/ribbonshortmenu.png);
    background-image: url(../../assets/images/ribbonmain.png);
    position: absolute;
    height: 126px;
    width: 132px;
  }
 
 

.hide_bonus .bonus-new,.hide_bonus .bonus-bg,.hide_bonus .bonus-bg-short{
//opacity: 0;
transition: 0.2s ease-in;
}
.icon_img {
    width: auto;
    margin-right: 10px;
    margin-top: -5px;
}
.table_content_full {
    border: 1px solid #bcc6d3;
    padding: 10px 0 10px 5px;
    border-radius: 16px;
}
.table_content_full .col-wrapper .inner-cell,
.table_content_full .first-col div {
    border: none !important;
}
.first-col > div {
    padding: 20px 10px 16px;
}
th .col-wrapper,
th .col-wrapper.selected_active {
    border-radius: 16px 16px 0 0;
    border-bottom: 0 !important;
    margin-bottom: 0;
    width: 120px;
}
td .col-wrapper,
td .col-wrapper.selected_active {
    border-radius: 0 0 16px 16px;
    border-top: 0 !important;
    width: 120px;
    margin-bottom: 0;
}
.first-col div.info_switch,
.first-col div.switch_content,
.sticky td,
.sticky th {
    padding: 0;
}
.bgsvgimage {
   background-image: url(../../assets/images/bgmain.png);
    background-size: 100% 100%;
    position: relative;
    padding-bottom: 50px;
}
.sticky_row .ano-col {
    font-size: 40px;
    font-weight: 700;
}
td.body_no_scroll .ano-col {
    display: none;
    transition: 0.2s ease-in;
}

body.mat-drawer-container {
    overflow-x: hidden;
}
.header_row_div .row {
    position: relative;
    z-index: 10;
}
.activerow .sticky_row th .bottom_bg {
    top: -100px;
}
.activerow .sticky_row th .ano-col {
    padding-bottom: 20px !important;
    margin-bottom: 0 !important;
    font-size: 32px;
    font-weight: 600;
}
.activerow .sticky_row th .ano-col::after {
    background-image: none;
    bottom: 0;
}
.activerow .col-wrapper.active .button button {
    margin: -10px auto 0;
   /* font-size: 11px;
    width: 90px;
    height: 25px;*/
}
.activerow .button_bg_price::before {
    height: 0;
    top: 0;
}
.activerow .bonus-new {
    top: 30px;
    left: 14px;
}
.country_name_text {
    padding: 9px 4px;
}
@keyframes animateDiv {
    0% {
        bottom: 0;
        opacity: 0;
        top: 50px;
    }
    100% {
        bottom: 50px;
        top: 0;
        opacity: 1;
    }
}
.first-col div div.country_name_text {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}
.first-col {
    background-color: #fff;
}
.rate_text_desc {
    font-size: 12px;
    font-weight: 500;
    padding-right: 15px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 20px;
}
.bonus_text,
.reg_text {
    font-size: 18px;
    font-weight: 700;
}
.switch {
    position: relative;
    width: 60px;
    height: 28px;
    margin-left: 8px;
}
.slider,
.slider:before {
    position: absolute;
    bottom: 0;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 1px 2px #666;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider:before {
    content: "";
    height: 27px;
    width: 27px;
    left: -2px;
     background-image: url(../../assets/images/on-off.svg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked + .slider {
    background: linear-gradient(#30b348, #129e51);
    box-shadow: inset 0 1px 2px #222;
}
input:focus + .slider {
    box-shadow: 0 0 1px #129e51;
    box-shadow: inset 0 1px 2px #222;
}
input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}
.slider.round {
    border-radius: 30px;
}
.slider.round:before {
    border-radius: 50%;
}
.switch_content {
    width: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.swicth_container {
    width: 340px;
    padding: 10px 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    right: 0;
    margin: -29px auto 0;
     background-image: url(../../assets/images/bottom-curveline.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.activerow .sticky_row th .first-col,
.full_width_scroll {
    background: #f7f9fb;
}
.reg_text {
    margin-right: 0;
}
.swicth_container_scroll .reg_text {
    margin-left: 4px;
}
.bonus_text {
    margin-left: 15px;
}
.bonus_small_text {
    font-size: 11px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: -10px;
}
.bonus_text_offer {
    color: #22ab47;
    font-weight: 700;
    font-size: 18px;
    margin-left: 5px;
}
.bonus_text_info {
    margin-left: 5px;
    position: absolute;
    top: 2px;
    margin-top: -13px;
    right: -9px;
}
.swicth_container_scroll {
    width: auto;
    padding: 16px 16px 16px 0 !important;
}
#full_width_scroll_div .first-col,
.swicth_container_scroll .switch {
    margin-left: 0;
}
.swicth_container_scroll .bonus_small_text,
.swicth_container_scroll .bonus_text {
    margin-left: 10px;
}
.info_country {
    transition: 0.6s ease-in;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}
.sticky th {
    top: 0;
    z-index: 100;
}
.sticky {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.activerow th .col-wrapper,
.activerow th .col-wrapper.selected_active {
    border-radius: 0;
}
.activerow .inner_price {
    font-size: 14px;
    display: block;
    margin-top: 14px;
    font-weight: 400;
}
.button_bg_price {
    transition: 0.4s ease-in;
}
.activerow .button_bg_price {
    background: transparent;
    padding-bottom: 10px;
}
.text-left {
    text-align: left;
    line-height: 15px;
    margin-top: 5px;
}
.info_switch {
    margin-top: 35px;
    transition: 0.6s ease-in;
}
.first-col {
    width: 21.5%;
    margin-top: -4px;
    margin-left: -4px;
}
.footer_box_content a {
    text-decoration: underline;
}
.footer_box_content {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
        top: -40px;
    }
    100% {
        top: 0;
        opacity: 1;
        display: block;
        height: auto;
    }
}
@keyframes fadeOut {
    0% {
        top: 0;
        opacity: 1;
        display: block;
        height: auto;
    }
    100% {
        opacity: 0;
        height: 0;
        top: -40px;
    }
}
.activerow .info_country {
    position: relative;
    animation: 0.2s fadeOut;
    display: none;
    height: auto;
    opacity: 1;
}
.activerow .info_switch {
    position: relative;
    display: block;
    height: auto;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}
.container-fluid-new {
    width: 1390px;
    padding-top: 50px;
}
@media (max-width: 1391px) {
    .container-fluid-new {
        width: 100%;
    }
}
@keyframes animatetop2 {
    from {
        opacity: 1;
        display: block;
        height: auto;
    }
    to {
        opacity: 0;
        display: none;
        height: 0;
    }
}
.full_width_scroll .bgsvgimage {
    background-image: none;
    padding-bottom: 0;
}
.full_width_scroll {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    margin-bottom: 10px;
}
.hide_desktop,
.price_mobile_one_html {
    display: none;
}
button.back_btn {
    display: none;
}
  
section.faq-section {
    margin-bottom: 40px;
    .section-title {
        color: #132f79;
        text-align: center;
        font-size: 46px;
        font-weight: 700;
        margin: 30px 0 61px;
    }
    .mat-expansion-panel-header-title {
        color: #09293e;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .mat-expansion-panel-body {
        color: #333;
    }    
    .mat-expansion-panel-header mat-icon {
        position: relative;
        top: 15px;
    }
}
button.loadmore {
    background: #fcc802;
    border: 1px solid #fcc802;
    border-radius: 30px;
    display: block;
    margin: 40px auto;
    padding: 10px 33px;
    color: #09293e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}
button.loadmore:hover {
    opacity: .8;
}
section.search-strip {
    background: #fcc802;
    padding-top: 50px;
    .title {
        color: #132f79;
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
    }
    img.qrimage {
        box-shadow: 10px 10px 0px hsl(0deg 0% 0% / 20%);
    }
}
.info_country img {
    max-width: 100%;
}
section.plan-section {
    background: #e1f1ff;
    padding: 20px 0;
    margin-bottom: 20px;
    .box-title {
        color: #09293e;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 15px;
    }    
    .section-title {
        color: #132f79;
        text-align: center;
        font-size: 46px;
        font-weight: 700;
        margin: 30px 0 61px;
    }    
    .box {
        text-align: center;
        padding: 20px 30px;
        margin-bottom: 10px;
    }    
    .box-description {
        font-weight: 500;
    }
}

@media only screen and (max-width: 1387px) {
    .inner-cell-list div {
        padding: 16px 1px;
    }
}
@media only screen and (max-width: 1250px) {
    .inner-cell,
    .inner-cell-list div {
        font-size: 14px !important;
    }
    .first-col div div.country_name_text {
        padding-top: 11px;
        font-size: 23px;
    }
}
@media only screen and (max-width: 1110px) {
    .first-col {
        width: 23%;
    }
    .sticky_row .ano-col {
        font-size: 32px;
        font-weight: 700;
    }
}
@media only screen and (max-width: 1050px) {


    .col-wrapper.active .button button {
        margin: 14px auto 0;

    }
    .col-wrapper .ano-col{
        border-radius: 16px 16px 0 0;
    }
    .price_list li{
        position: relative;
    }
    .col-wrapper{
        border: 0px!important;
    }
    .ano-col {
        padding-top: 20px !important;
        padding-bottom: 0 !important;
    }
    .bonus-new{
        top: 24px;
    left: 10px;
    font-size: 15px;
    transform: rotate(42deg);
    }
    .active.col-wrapper {
        background-image: url(../../assets/images/bgshortmenu.png);
        background-position: right;
        background-size: 100% 100%;
    }   
    .denomination-box table thead{
        border-left: 1px solid #3b489f;
        border-right: 1px solid #3b489f;
        border-top: 1px solid #3b489f;
        display: block;
    }
    .bonus-bg-short{
        right: -1px;top:-1px;
        width: 122px;
        height: 110px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .denomination-box table tbody{
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        

    }

    .feature_active .ano-col div, .feature_active .ano-col .inner_price
{
        color: #fcc802 !important;
    }
    .price_list li.feature_li:after {
        content: "";
       background-image: url(../../assets/images/select-star.png);
        position: absolute;
        width: 20px;
        height: 20px;
        right: -8px;
        top: -8px;
        border: 2px solid;
        border-radius: 50%;
        background-size: contain;
    }
    .icon_div_mobile {
        width: 24px;
    }
    .icon_img {
        width: auto;
        margin-right: 8px;
        margin-top: 0px;
    }

    .contact-header-2 span,
    .price_list li {
        font-size: 18px;
    }
    .bonus_text_info {
        top: 5px;
        margin-top: -13px;
        right: -15px;
    }
    .ano-col::after,
    .price_big_one_html {
        display: none;
    }
    .price_mobile_one_html {
        display: block;
    }
    .slick-slider {
        padding-bottom: 0;
    }
    .denomination-box {
        margin: 10px 4px;
    }
    .denomination-box table .ano-col .button button {
        color: #000;
    }
    .denomination-box tbody tr td:first-child {
        text-align: left;
        padding-right: 0;
    }
    .denomination-box tbody tr td:nth-child(2) {
        font-size: 15px;
        padding-left: 0;
    }
    th .col-wrapper,
    th .col-wrapper.selected_active {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .denomination-box thead th {
        border-bottom: none;
    }
    .footer_box_content {
        font-size: 16px;
    }
    .denomination-box,
    .denomination-box thead th {
        padding: 0;
    }
    .col-wrapper .ano-col,
    .first-inner {
        padding-bottom: 20px !important;
        margin-bottom: 0;
    }
    .heading_style-new {
        width: 94%;
        transform: translate(-100%, -100%);
        left: 97%;
        top: 75%;
        min-width: auto;
        padding: 30px 20px;
    }
    .contact-header-2 {
        font-size: 20px;
    }
    .country-searchnew {
        max-width: 100%;
        margin-top: 25px;
    }
    .country-searchnew .search-input {
        padding: 5px;
        border-radius: 16px;
    }
    .country {
        display: flex;
        align-items: center;
        margin-left: 0;
        padding: 20px 20px 0;
        justify-content: center;
    }
    .country-name {
        padding-left: 20px;
    }
    .rel_class {
        position: relative;
    }
    .swicth_container_scroll .row > div {
        width: 90px;
        color: #fff;
    }
    .slider:before {
        bottom: -1px;
    }
    .swicth_container_scroll .row > div.rel_class {
        width: 120px;
    }
    .price_list {
        list-style: none;
        display: inline-block;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .price_list li {
        display: inline-block;
        padding: 10px;
        background: #fff;
        color: #3b489f;
        border: 1px solid #ddd;
        width: 120px;
        font-weight: 600;
        border-radius: 8px;
        margin: 10px 5px 0;
        cursor: pointer;
        line-height: 18px;
        transition: 0.3s ease-in;
    }
    .price_list li.active_li {
        background: #3b489f;
        color: #fff;
        border: 1px solid #3b489f;
    }
    .list_price_html {
        text-align: center;
        padding: 10px;
    }
    .mobile_footer_design {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 14px 0 10px;
        box-shadow: 0 -21px 20px 7px rgba(0, 0, 0, 0.1);
        background: #333;
        left: 0;
        z-index: 1000;
    }
    .swicth_container_scroll {
        padding: 10px 16px 4px 0 !important;
    }
    .bonus_text_offer {
        color: #0ae044;
    }
}
@media only screen and (max-width: 768px) {
    .country-searchnew #searchInput {
        font-size: 16px;
        padding: 0 4px;
        height: 66px;
    }
    .hide_desktop {
        display: block;
    }
    .show_desktop {
        display: none;
    }
    .heading_style-new {
        width: 96%;
        left: 98%;
    }
    .price_list li {
        width: 68px;
        margin: 5px 5px 0;
    }
    .country-name,
    .country-name h1 {
        margin: 0 !important;
    }
    .swicth_container_scroll {
        padding: 15px 16px 10px 0 !important;
    }
    .list_price_html {
        text-align: center;
        padding: 4px;
    }
    .home_banner {
        background-position: right !important;
        background-size: cover;
    }
    span.input-group-text.caret.bg-white.border-right-0 {
        padding: 7px 0 12px 10px;
    }
    .top-header .country img {
        width: 60px;
    }
    .country-name h1 {
        font-size: 24px;
    }
    .country-searchnew .input-group-text.border-left-0.bg-white {
        padding: 18px;
        margin: 0;
    }
    .banner_sub_text {
        font-size: 14px;
    }
    .contact-header-2 span {
        font-size: 16px;
        color: #fff;
        opacity: 1;
        font-weight: 300;
    }
    .footer_box_content {
        font-size: 16px;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .heading_style1.heading_style-new {
        display: none;
    }
    table.table {
        display: block;
    }
    section.plan-section .section-title,
    section.faq-section .section-title {
        font-size: 32px;
        margin: 10px 0 30px;
    }    
    section.search-strip .title {
        font-size: 30px;
    }
    button.loadmore{
        padding: 8px 28px;
        font-size: 15px;
    }
    button.back_btn {
        display: block;
        background: #fcc802;
        border: 1px solid #fcc802;
        border-radius: 7px;
        padding: 2px 15px 2px 25px;
        position: absolute;
        top: 85px;
        left: 18px;
        font-size: 16px;
        font-weight: 600;
        background-image: url(../../assets/images/left-arrow.png);
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: left 8px top 7px;
        &:hover {
            opacity: .8;
        }
    }
    .mat-expansion-panel-header {
        padding: 0 !important;
    }
    section.faq-section .mat-expansion-panel-header-title {
        font-size: 16px;
    }
    section.faq-section .col-md-12 {
        padding: 0 5px;
    }
}
@media only screen and (max-width: 420px) {
    .country-searchnew #searchInput {
        font-size: 15px;
    }
    .heading_style-new {
        width: 96%;
        left: 98%;
        padding: 20px 10px;
    }
    .country-searchnew .input-group-text.border-left-0.bg-white {
        padding: 18px 5px;
    }
}
#full_width_scroll_div {
    position: fixed;
    width: 100%;
    z-index: 10000;
    animation: 0.6s forwards scale-display--reversed;
}
#full_width_scroll_div.activerow_full {
    z-index: 10000;
    animation: 0.5s forwards scale-display--reversed2;
}
@keyframes scale-display--reversed2 {
    0% {
        top: -600px;
    }
    100% {
        top: 0;
    }
}
@keyframes scale-display--reversed {
    0% {
        top: 0;
    }
    100% {
        top: -600px;
    }
}


//////////////////////////////////
  


.country-search {
    .countries{
      border-bottom: 1px solid #e7e7e7;
    }
    span {
        width: 100%;
        &.input-group-text svg.bi-search {
            width: 24px;
            height: auto;
            position: relative;
            top: 8px;
            margin-right: 10px;
        }
    }
      @include breakpoint(sm) {
          .container{
              width: 100%;
          }
      }
      .search-input {
        //   margin-top: -50px;
          padding: 0;
          border-radius: 8px;
        //   background-color: $background-color_1;
        //   border: 1px solid #1c294d;
          @include breakpoint(sm) {
              padding: 4px;
              border-radius: 8px;
              margin-top: -50px;
          }
          input {
              height: 71px;
              font-size: 22px;
              line-height: 28px;
              color: $primary-color2;
              font-weight: 500;
              font-family: $font-family;
              @include breakpoint(sm) {
                  height: 48px;
                  font-size: 16px;
                  padding: 0;
              }
          }
          &::placeholder {
              font-size: 22px;
              line-height: 28px;
              color: $primary-color2;
              font-weight: 500;
              font-family: $font-family;
              opacity: 1;
      
              @include breakpoint(sm) {
                  font-size: 16px;
              }
          }
      
          .form-control {
              &:focus {
                  border: 0;
                  box-shadow: none;
                  outline: none;
              }
      
              &:focus-visible {
                  border: 0;
                  box-shadow: none;
                  outline: none;
              }
          }
      }
      
  }

  .flag_list1 {
	padding: 0;
	margin: 0;
	position: absolute;
	left: 17px;
	width: 58px;
	z-index: 3;
	top: 64px;
	ul {
		padding: 0;
		margin: 10px 0 0 0;
		list-style-type: none;
		display: block;
		max-height: 216px;
		overflow: auto;
		background-color: #fff;
		li {
			                  /* padding: 9px 2px; */
    /* margin: 0 0 5px 0; */
    //display: block;
    cursor: pointer;
    position: relative;
    height: 50px;
    border-bottom: 1px solid #999999;
    display: flex;
    justify-content: center;
    align-items: center;
			&:last-of-type {
				margin: 0;
			}
			span {
				display: block;
				// margin-left: 7px;
			}
		}
	}
}
.showPlacholder {
	position: absolute;
	top: 34%;
	left: 13%;
	z-index: 99;
}
  // Search box Css end here

.info_country img {
    max-width: 100%;
}
section.plan-section {
    .sticky {
        position: sticky;
        top: 0;
      }
}
