<section>
    <div class="first_fold">

       <button (click)="goBack()" class="back_btn">Back</button>
        <div class="heading_style1 heading_style-new">
            <h1 class=" contact-header contact-header-2"> Enjoy superior call quality.<br>
                <span>Make Cheap International Calls Today!</span>
            </h1>

            <div class="country-search">
                <div>
                    <div class="country-searchnew">
                      <div class="search-input">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text caret bg-white border-right-0">
                              <div (click)="openFlagDropDown()" class="select_top1">
                                <img src="./../../assets/images/blank.gif" alt="flag" width="30" height="20" [ngClass]="'flag flag-f-'+ currentSetting?.country?.CountryId">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down ml-2" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                              </div>
                              <div class="flag_list1" *ngIf="showDropdown">
                                <ul>
                                  <li *ngFor="let item of countryFrom" (click)="onSelectCountrFrom(item)">
                                    <span>
                                      
                                        <img src="./../../assets/images/blank.gif" alt="flag" width="30" height="20"
                                          [ngClass]="'flag flag-f-'+ item.CountryId">
                                    </span>
                                  </li>
                                </ul>
                              </div>
              
                            
                            </span>
                          </div>
                          <input placeholder="Where do you wish to call?" type="text" [formControl]="autoControl" [matAutocomplete]="auto" 
              class="form-control form-control-lg border-right-0 border-left-0" ng-placeholder="State" (focusout)="onClickInput()" (focus)="onInputFocus()">
                          
                
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                              <mat-option *ngFor="let option of filteredCountryList | async" [value]="option"
                                  (onSelectionChange)="viewRates($event,option.CountryId)"> 
                                  <img class="example-option-img" src="./../../assets/images/blank.gif" aria-hidden
                                      [ngClass]="'flag flag-'+ option.CountryId" height="25">
                                      <span class="width70">{{option.CountryName}}</span>
                                     
                                  </mat-option>
                              </mat-autocomplete>
                          <div class="input-group-append">
                            <span class="input-group-text border-left-0 bg-white">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-search"
                                viewBox="0 0 16 16"
                              >
                                <path
                                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                />
                              </svg>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="banner_sub_text">Minutes never expire. Cancel anytime.</div>
        </div>
        <div class="home_banner searchrate_banner"></div>
    </div>
</section>
 
<section class="bg-white">
    <!--top scroll header box-->
    <div class="full_width_scroll {{sticky_class}}" id="full_width_scroll_div" [class.sticky]="isSticky">
        <div class="container-fluid  container-fluid-new  pt-0   price_big_one_html">
            <table class="sticky activerow">
                <tr class="sticky_row ">
                    <th>
                        <div class="header_row_div hide_bonus" id="header_div_box_scroll">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex ">
                                        <div class="first-col">
                                            <div class="first-inner">
                                                <div class="info_switch">
                                                    <div class="switch_content">
                                                        <div class="swicth_container_scroll">
                                                            <div class="row p-0">
                                                                <div class="col-md-4 p-0"><span
                                                                        class="reg_text">Regular</span></div>
                                                                <div class="col-md-3 p-0">
                                                                  <label class="switch">
                                                                         

                                                                            <input *ngIf="isAutoRefill" type="checkbox" id="checkboxbonus3" checked (click)="setPlanType()">
                                                                            <input *ngIf="!isAutoRefill" type="checkbox" id="checkboxbonus3" (click)="setPlanType()">

                                                                        <span class="slider round"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-5 text-left p-0"> <span
                                                                        class="bonus_text">Bonus</span><span
                                                                        class="bonus_text_offer">10%</span>
                                                                        <img
                                                                        class="bonus_text_info"
                                                                        src="../../assets/images/info.png"  matTooltip="1. Enroll to Auto-refill and earn 10% bonus minutes.
                                                                        2. We will recharge your plan only when the account balance falls below $2.
                                                                        3. Cancel online or by calling customer service anytime." />
                                                                         
                                                                    <span class="bonus_small_text">with auto-refill</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="d-flex flex-grow-1" *ngIf="isAutoRefill">
                                            <div class="active col-wrapper" *ngFor="let item of AutorefillPlans; let i = index">
                                               <div class="bgsvgimage">
                                                    <div class="ano-col">
                                                        <span class="bonus-bg-short" *ngIf="item.DiscountApplied > 0">
                                                         <span class="bonus-new">{{item.DiscountApplied}}% BONUS </span>
                                                        </span>
                                                        <div id="7_offer3">{{ item.Price | bCurrency : globalPlanData.CurrencyCode }} </div>
                                                       
                                                        <span class="inner_price" *ngIf="item.Price==90">{{RatePerMinPromo}}₵ / min</span>
			                                                  <span class="inner_price" *ngIf="item.Price!=90">{{getRatePerMin(item)}}₵ / min</span>

                                                    </div>
                                                    <div class="button button_bg_price"><button mat-button=""
                                                            class="mat-focus-indicator mat-button mat-button-base">
                                                            <span class="mat-button-wrapper" (click)="onClickRateTab(item)">Buy Now</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>


                                          <div class="d-flex flex-grow-1" *ngIf="!isAutoRefill">
                                            <div class="active col-wrapper" *ngFor="let item of WithoutAutorefillPlans; let i = index">
                                               <div class="bgsvgimage">
                                                    <div class="ano-col">
                                                        <span class="bonus-bg-short" *ngIf="item.DiscountApplied > 0">
                                                          <span class="bonus-new">{{item.DiscountApplied}}% BONUS </span>
                                                        </span>
                                                        <div id="7_offer3">{{ item.Price | bCurrency : globalPlanData.CurrencyCode }} </div>
                                                       
                                                        <span class="inner_price" *ngIf="item.Price==90">{{RatePerMinPromo}}₵ / min</span>
			                                                  <span class="inner_price" *ngIf="item.Price!=90">{{getRatePerMin(item)}}₵ / min</span>

                                                    </div>
                                                    <div class="button button_bg_price">
                                                      <button mat-button="" class="mat-focus-indicator mat-button mat-button-base">
                                                            <span class="mat-button-wrapper" (click)="onClickRateTab(item)">Buy Now</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </div>

    <div class="container-fluid  container-fluid-new  mb-3  bg-white price_big_one_html">
        <div class="switch_content">
            <div class="swicth_container">
                <div class="row">
                    <div class="col-md-4 p-0"><span class="reg_text">Regular</span></div>
                    <div class="col-md-3 p-0"><label class="switch">
                       
                            <input *ngIf="isAutoRefill" type="checkbox" id="checkboxbonus3" checked (click)="setPlanType()">
                            <input *ngIf="!isAutoRefill" type="checkbox" id="checkboxbonus3" (click)="setPlanType()">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-md-5 text-left p-0"> <span class="bonus_text">Bonus</span><span
                            class="bonus_text_offer">10%</span>
                            
                            <img
                                class="bonus_text_info"
                                src="../../assets/images/info.png" 
                                matTooltip="1. Enroll to Auto-refill and earn 10% bonus minutes.
                                2. We will recharge your plan only when the account balance falls below $2.
                                3. Cancel online or by calling customer service anytime."
                                />

                                 
                        <span class="bonus_small_text">with auto-refill</span>
                    </div>
                </div>
            </div>
        </div>

        <!--Default header box-->
        <div class="table_content_full">
            <div class="rate_text_desc">*Rates are calculated based on the highest denomination.</div>
            <table class="sticky sticky_new">
                <tr class="sticky_row">
                    <th>
                        <div class="header_row_div hide_bonus" id="header_div_box">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex ">
                                        <div class="first-col">
                                            <div class="first-inner">
                                                <div class="info_country">
                                                    <div class="row mt-3 p-0">
                                                        <div class="col-md-4" style="    padding:10px;">
                                                             
                                                                <img *ngIf="flag_exists" src="./assets/images/flag/{{getcountryName()}}.png" alt="{{baseCountryName}}">
                                                                <div *ngIf="!flag_exists" class="country-text">{{flag_name}}</div>
                                                        </div>
                                                        <div class="col-md-8" style="    padding: 5px 0;">
                                                            <div class="country_name_text">Call<br /> {{countryName}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                       
                                        <div class="d-flex flex-grow-1" *ngIf="isAutoRefill">
                                            <div class="active col-wrapper" *ngFor="let item of AutorefillPlans; let i = index">

                                                <div class="bgsvgimage">
                                                    <div class="ano-col">
                                                        <span class="bonus-bg-short" *ngIf="item.DiscountApplied > 0">
                                                             <span class="bonus-new"   >{{item.DiscountApplied}}% BONUS
                                                        </span>
                                                    </span>
                                                        <div id="7_offer">{{ item.Price | bCurrency : globalPlanData.CurrencyCode }}</div>
                                                        <span class="inner_price" *ngIf="item.Price==90">{{RatePerMinPromo}}₵ / min</span>
                                                        <span class="inner_price" *ngIf="item.Price!=90">{{getRatePerMin(item)}}₵ / min</span>

                                                    </div>
                                                    <div class="button button_bg_price"><button mat-button=""
                                                            class="mat-focus-indicator mat-button mat-button-base">
                                                            <span class="mat-button-wrapper" (click)="onClickRateTab(item)">Buy Now</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="dummy_border"> &nbsp;</div>
                                            </div>
                                        </div>



                                        <div class="d-flex flex-grow-1" *ngIf="!isAutoRefill">
                                            <div class="active col-wrapper" *ngFor="let item of WithoutAutorefillPlans; let i = index">

                                                <div class="bgsvgimage">
                                                    <div class="ano-col">
                                                        
                                                        <span class="bonus-bg-short" *ngIf="item.DiscountApplied > 0">
                                                            <span class="bonus-new " *ngIf="item.DiscountApplied > 0">{{item.DiscountApplied}}% BONUS
                                                            </span>
                                                        </span>
                                                        <div id="7_offer">{{ item.Price | bCurrency : globalPlanData.CurrencyCode }}</div>
                                                        <span class="inner_price" *ngIf="item.Price==90">{{RatePerMinPromo}}₵ / min</span>
                                                        <span class="inner_price" *ngIf="item.Price!=90">{{getRatePerMin(item)}}₵ / min</span>

                                                    </div>
                                                    <div class="button button_bg_price"><button mat-button=""
                                                            class="mat-focus-indicator mat-button mat-button-base">
                                                            <span class="mat-button-wrapper" (click)="onClickRateTab(item)">Buy Now</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="dummy_border"> &nbsp;</div>
                                            </div>
                                        </div>


                                    </div>
                                 </div>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="body_no_scroll">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex ">
                                    <div class="first-col">
                                        <div class="inner-cell-list">
                                            <div *ngFor="let item of FilteredSubPlans"> 
                                              <span class="{{getClassIcon(item.CountryName)}}"></span>  {{getNameOfCountry(item.CountryName)}} 

                                            </div>
                                             
                                        </div>
                                    </div>

                                    <div class="d-flex flex-grow-1 ">
                                        <div class="active col-wrapper" *ngFor="let den of denominationList; let i = index">

                                            <div class="inner-cell-list-price">
                                                <div class="inner-cell" *ngFor="let item of filteredItems(den)">
                                                    {{item.DiscountedRate.TotalTime + item.DiscountedRate.PromoMinutes}} min
                                                </div>
                                                 
                                            </div>


                                        </div>
                                         
                                         
                                      
                                    </div>
                                </div>
                            </div>
                       </div>
                            
                    </td>
                </tr>
            </table>
        </div>
    </div>
    

    <!--Mobile price box-->
    
<div class="d-md-none d-block">




    <div class="container-fluid  mb-3  bg-white price_mobile_one_html hide_bonus" id="mobile_box_full">
        <div class="top-header">
            <div class="country">
                <img *ngIf="flag_exists" src="./assets/images/flag/{{getcountryName()}}.png" alt="{{countryName}}">
                         <div *ngIf="!flag_exists" class="country-text">{{flag_name}}</div>
                <div class="country-name">
                    <h1 class="text-center"> Call  {{countryName}} </h1>
                </div>
            </div>
        </div>
         

        <div class="container-fluid px-0">
            <div class="denomination-wrapper">
                <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)"
                    (change)="getChangeData($event)" (changed)="getChangedData($event)" #owlCar>
                    <ng-container *ngFor="let item of Plans; let i = index">
                        <ng-template carouselSlide [id]="item.id" [width]="282">
                            <div class="denomination-box">
                                
                                <table class="table">
                                    <thead>
                                         

                                        <div class="active col-wrapper ">
                                            <div class="ano-col">
                                                <span class="bonus-bg-short">  <span class="bonus-new ">{{item.DiscountApplied}}% BONUS
                                                </span></span>
                                                <div id="10_offer2"><span class="slice" *ngIf="item.Price==90">$100</span>
                                                    {{ item.Price | bCurrency : countryCode }} </div>
                                                <span class="inner_price">8.85₵ / min</span>
        
                                                <div class="button"><button (click)="onClickRateTab(item)" mat-button=""
                                                        class="mat-focus-indicator mat-button mat-button-base">
                                                        <span class="mat-button-wrapper">Buy Now
                                                        </span>
                                                        <span matripple="" class="mat-ripple mat-button-ripple">
                                                        </span>
                                                        <span class="mat-button-focus-overlay">
                                                        </span></button>
                                                </div>
                                            </div>
                                        </div>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of filteredItems(item.Price)" >
                                            <td> <div class="d-flex " style="align-items: center;">
                                                <!-- <div class="icon_div_mobile"><img class="icon_img" src="images/landline.png"></div>  -->
                                                <div class="text_div_mobile">
                                                  <span class="{{getClassIcon(item.CountryName)}}"></span>
                                                  {{getNameOfCountry(item.CountryName)}} </div> 
                                                </div>
                                            </td>
                                            <td class="text-right"> {{item.DiscountedRate.TotalTime + item.DiscountedRate.PromoMinutes}} min</td>
                                        </tr>
       
                                         
                                    </tbody>
                                </table>
                                
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
    
    
            </div>

        </div>


        <div class="mobile_footer_design" >
            <div class="list_price_html">
                <ul class="price_list">
                    <li [class.selected]="clicked === i" (click)="clicked = i"
                    *ngFor="let item of Plans; let i = index" class="deno-box {{getSelected_box(i)}}">
                    <a (click)="owlCar.to(item.id)" id="class_box_{{i}}"> <span *ngIf="item.Price == 90">{{ 100 | bCurrency :
                        countryCode }}</span>
                    {{ item.Price | bCurrency : countryCode }}</a>
                    </li>
                    
                </ul>
            </div>
            <div class="switch_content">
                <div class="swicth_container_scroll d-flex justify-content-center flex-nowrap pt-0 ">
                    <div class="row pt-0">
                        <div class="col-xs-4 p-0"><span class="reg_text">Regular</span></div>
                        <div class="col-xs-2 p-0"><label class="switch">
                                <input *ngIf="isAutoRefill" type="checkbox" id="checkboxbonus3" checked (click)="setPlanType()">
                                <input *ngIf="!isAutoRefill" type="checkbox" id="checkboxbonus3" (click)="setPlanType()">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-xs-6 text-left p-0 rel_class">
                            <span class="bonus_text">Bonus</span><span class="bonus_text_offer">10%</span>
                            <span matTooltip="1. Enroll to Auto-refill and earn 10% bonus minutes.
                            2. We will recharge your plan only when the account balance falls below $2.
                            3. Cancel online or by calling customer service anytime.">
                               <svg class="bonus_text_info" fill="#fff" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24" width="18px" height="18px" >
                                <path _ngcontent-rem-c244=""
                                    d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 7 L 11 9 L 13 9 L 13 7 L 11 7 z M 11 11 L 11 17 L 13 17 L 13 11 L 11 11 z">
                                </path>
                            </svg> 
                            </span> 
 
 
                                
                    
                            <span class="bonus_small_text">with auto-refill</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
       
     
 
    </div>
</div>
     
    <div class="footer_block">
        <div class="footer_box_content">Have a question? 
            <!-- <a href="javascript:void(0)" (click)="contactUs()">Chat</a> Or  -->
            <a href="javascript:void(0)" (click)="contactUs()">Call Us</a></div>
    </div>
    
</section>



<section class="plan-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">This Plan Includes</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="box">
            <img
              src="../../../../assets/images/new_design_images/global_calling.png"
              alt="global_calling"
            />
            <div class="box-title">Global Calling</div>
            <div class="box-description">
              Best Rates to call any Landlines and Cell phones worldwide!
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="box">
            <img
              src="../../../../assets/images/new_design_images/mobile_app.png"
              alt="global_calling"
            />
            <div class="box-title">Mobile App</div>
            <div class="box-description">
              Download the app and call directly without having to dialaccess
              number.
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="box">
            <img
              src="../../../../assets/images/new_design_images/call_quality.png"
              alt="global_calling"
            />
            <div class="box-title">Exceptional Call Quality</div>
            <div class="box-description">
              Our State of the Art fiber optic network keeps you in touch with
              high quality.
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="box">
            <img
              src="../../../../assets/images/new_design_images/raza_rewards.png"
              alt="global_calling"
            />
            <div class="box-title">Raza Rewards</div>
            <div class="box-description">
              Signup for Raza Rewards and earn points on every dollar spent.
            </div>
          </div>
        </div>
  
        <div class="col-xl-4 col-md-6">
          <div class="box">
            <img
              src="../../../../assets/images/new_design_images/money_back.png"
              alt="global_calling"
            />
            <div class="box-title">100% Money Back Guarantee </div>
            <div class="box-description">
              Get your unused balance refunded at any time if you are not
              completed satisfied.
            </div>
          </div>
        </div>
  
        <div class="col-xl-4 col-md-6">
          <div class="box">
            <img
              src="../../../../assets/images/new_design_images/account_management.png"
              alt="global_calling"
            />
            <div class="box-title">Online Account Management</div>
            <div class="box-description">
              Keep track of your calls, orders and rewards anywhere anytime..
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <section class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    FAQs
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <mat-accordion>
                  <mat-expansion-panel hideToggle="true" #example>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Once I purchase a calling plan, how do I place my first call?
                      </mat-panel-title>
                      <mat-icon *ngIf="!example.expanded">add</mat-icon>
                      <mat-icon *ngIf="example.expanded">remove</mat-icon>
                    </mat-expansion-panel-header>
                    <p>
                      Upon purchasing a calling plan you will receive a confirmation Email
                      providing you with a local access number to dial out.
                    </p>
                    <p>1. Use your registered phone and dial the local access number.</p>
                    <p>2. Dial 011+ Country code + Destination number to get connected.</p>
                    <p>3. Keep Talking!</p>
                    
                  </mat-expansion-panel>
              
                  <mat-expansion-panel hideToggle="true" #example2>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Can I use my calling plan to dial any country other than what I
                        selected while sign up.
                      </mat-panel-title>
                      <mat-icon *ngIf="!example2.expanded">add</mat-icon>
                      <mat-icon *ngIf="example2.expanded">remove</mat-icon>
                    </mat-expansion-panel-header>
                    <p>
                      Yes, however the rates advertised on the web only apply to the specific
                      country of selection. Please visit our “search rate” page to view all
                      rates.
                    </p>
                  </mat-expansion-panel>
              
                  <mat-expansion-panel hideToggle="true" #example3>
                    <mat-expansion-panel-header>
                      <mat-panel-title> Will my calling plan expire? </mat-panel-title>
                      <mat-icon *ngIf="!example3.expanded">add</mat-icon>
                      <mat-icon *ngIf="example3.expanded">remove</mat-icon>
                    </mat-expansion-panel-header>
                    <p>
                      Most of our calling plans have no expiration date; there is 6 month
                      validity on our special or discounted plans.
                    </p>
                  </mat-expansion-panel>
              
                  <mat-expansion-panel hideToggle="true" #example4>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Why do I have to wait for my account to be activated?
                      </mat-panel-title>
                      <mat-icon *ngIf="!example4.expanded">add</mat-icon>
                      <mat-icon *ngIf="example4.expanded">remove</mat-icon>
                    </mat-expansion-panel-header>
                    <p>
                      At Raza Communications confirming your order is our way of ensuring
                      consumer protection against credit card fraud. Our highly trained
                      customer service representatives inspect and verify all new orders to
                      guarantee your online security. You can recharge anytime once your
                      account is verified successfully.
                    </p>
                  </mat-expansion-panel>
              
                  <mat-expansion-panel hideToggle="true" #example5>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        How do I know which Calling Plan is right for me?
                      </mat-panel-title>
                      <mat-icon *ngIf="!example5.expanded">add</mat-icon>
                      <mat-icon *ngIf="example5.expanded">remove</mat-icon>
                    </mat-expansion-panel-header>
                    <p>
                      Calling rates differ from Country to Country and to Mobile and
                      Landlines. All our plans are tailored to call anywhere in the world at
                      the best rates possible. Chat or call our 24/7 customer service for any
                      additional assistance.
                    </p>
                  </mat-expansion-panel>
              
                  <mat-expansion-panel hideToggle="true" #example6>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        How do I make purchase without using Credit Card?
                      </mat-panel-title>
                      <mat-icon *ngIf="!example6.expanded">add</mat-icon>
                      <mat-icon *ngIf="example6.expanded">remove</mat-icon>
                    </mat-expansion-panel-header>
                    <p>Yes, you can mail us a money order to:</p>
                    <p>Raza communications</p>
                    <p>5219 N. Harlem Ave.</p>
                    <p>Chicago IL, 60656</p>
                    <p>
                      Please be sure to include your Name, Address, Phone Number and Email.
                      Once we receive your payment we will call or e-mail your plan details.
                    </p>
                  </mat-expansion-panel>
                  
                  <button class="loadmore" *ngIf="showButton" (click)="isVisibleFaq()">Load More</button>
                  <div *ngIf="showMore">
                    <mat-expansion-panel hideToggle="true" #example7>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Why are the rates different when calling a cell phone?
                        </mat-panel-title>
                        <mat-icon *ngIf="!example7.expanded">add</mat-icon>
                      <mat-icon *ngIf="example7.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        In most non-domestic countries, a surcharge is applied when calling a
                        Mobile phone. This additional charge results in rate increases. However,
                        for certain countries it is cheaper to call Mobiles than landlines.
                      </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel hideToggle="true" #example8>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Is it safe to purchase your service over the Internet?
                        </mat-panel-title>
                        <mat-icon *ngIf="!example8.expanded">add</mat-icon>
                      <mat-icon *ngIf="example8.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        Our technology makes it possible for sensitive data to be safely
                        transmitted over the Internet; the information is encrypted using
                        proprietary and secure socket layer (SSL) technology. We are also
                        certified secure by McAfee, Thawte and Visa/MasterCard.
                      </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel hideToggle="true" #example9>
                      <mat-expansion-panel-header>
                        <mat-panel-title> I lost my password, how do I reset? </mat-panel-title>
                        <mat-icon *ngIf="!example9.expanded">add</mat-icon>
                      <mat-icon *ngIf="example9.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        Click <a routerLink="javascript:void(0)">Forgot Password</a> link on the
                        login page to receive your password by Text or E-mail.
                      </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel hideToggle="true" #example10>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          I lost my access number. How do I get that back?
                        </mat-panel-title>
                        <mat-icon *ngIf="!example10.expanded">add</mat-icon>
                      <mat-icon *ngIf="example10.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        Login and visit Account Overview page to view your current Raza access
                        number.
                      </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel hideToggle="true" #example11>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          What if the rate on the website differs from the rate on the calling
                          plan purchased?
                        </mat-panel-title>
                        <mat-icon *ngIf="!example11.expanded">add</mat-icon>
                      <mat-icon *ngIf="example11.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        If the rates on the site differ from the rate of the calling plan, call
                        customer service immediately for assistance. In most of the cases we
                        will refund your money back.
                      </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel hideToggle="true" #example12>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Can I cancel my auto-refill now and continue using my balance?
                        </mat-panel-title>
                        <mat-icon *ngIf="!example12.expanded">add</mat-icon>
                      <mat-icon *ngIf="example12.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        Only premium plans will allow you to use the remaining balance on the
                        account. Discounted plans will cancel automatically upon auto-refill
                        cancellation.
                      </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel hideToggle="true" #example13>
                      <mat-expansion-panel-header>
                        <mat-panel-title> What is Money Back Guarantee? </mat-panel-title>
                        <mat-icon *ngIf="!example13.expanded">add</mat-icon>
                      <mat-icon *ngIf="example13.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        If for any reason you are not satisfied with our product, the unused
                        balance on your account will be refunded back. Any Balance that is 6
                        months or older will not be refunded.
                      </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel hideToggle="true" #example14>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Can I recharge my Raza Calling Plan?
                        </mat-panel-title>
                        <mat-icon *ngIf="!example14.expanded">add</mat-icon>
                      <mat-icon *ngIf="example14.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        Absolutely, our website will allow you to add more money to your plan at
                        any time! You can even use our Auto-Refill Feature to automatically
                        recharge your account once it falls below $2. Some auto-refill plans may
                        not allow you to recharge online. Please call the customers service or
                        chat with a live agent for more details.
                      </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel hideToggle="true" #example15>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Do i need to enroll first to be eligible to earn Raza Reward points?
                        </mat-panel-title>
                        <mat-icon *ngIf="!example15.expanded">add</mat-icon>
                      <mat-icon *ngIf="example15.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        Yes, you must be enrolled to Raza Rewards to earn points on all eligible
                        recharge transactions.
                      </p>
                    </mat-expansion-panel>
                
                    <mat-expansion-panel hideToggle="true" #example16>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          How can I contact you for further details?
                        </mat-panel-title>
                        <mat-icon *ngIf="!example16.expanded">add</mat-icon>
                      <mat-icon *ngIf="example16.expanded">remove</mat-icon>
                      </mat-expansion-panel-header>
                      <p>
                        <a routerLink="/contactus">Click here</a> to Call, Chat or email us.
                      </p>
                    </mat-expansion-panel>
                  </div>
                </mat-accordion>
          </div>
      </div>
    </div>
  </section>
  
  <section class="search-strip">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="title">
            Download <br>
            Raza mobile app <br>
            and start calling now
          </div>
          <div class="d-flex align-items-center mt-5">
            <img src="../../../assets/images/new_design_images/qr_code.png" alt="qr" class="mr-4 qrimage">
            <div>
              <a href="https://play.google.com/store/apps/details?id=com.razacomm.universe"><img src="../../../assets/images/new_design_images/play_store.png" alt="play" class="mb-3 mb-lg-0"></a>
              <a href="https://apps.apple.com/ca/app/raza-universe/id1226298666" class="ml-0 ml-lg-3"><img src="../../../assets/images/new_design_images/app_store.png" alt="app"></a>
            </div>
          </div>
        </div>
        <div class="col-md-5 text-right">
          <img src="../../../assets/images/new_design_images/strip_mob.png" alt="mob" class="mt-5 mt-lg-0 img-fluid">
        </div>
      </div>
    </div>
  </section>
 