
<mat-sidenav-container>
  <mat-sidenav class="slidemenu hideSome" fixedInViewport="true" #sidenav [mode]="mode.value">
    <div class="closs_area">
      <span class="cross-icon" (click)="toggleSideNav()">
        <img src="assets/images/cross_icon_sidemenu.jpg" alt="cross icon"  width="86" height="77"/>
      </span>
      <span>
        <mat-form-field>
          <mat-select placeholder="EN">
            <mat-option value="en">EN</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </div>

    <mat-nav-list role="list">
      <app-sidemenu></app-sidemenu>
    </mat-nav-list>
    <div class="form_row1">
      <div class="input_holder1" *ngIf="country.CountryId < 3">
        <button *ngIf="IsEnableFreeTrial" class="submitButton free-trial" (click)="try_us_free()">Free
          Trial</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wraper">
      <app-header *ngIf="!currentURL.includes('moto')  && !currentURL.includes('web_pay') && !currentURL.includes('mobile_pay') && !currentURL.includes('raza-us')" [sidenav]='sidenav'></app-header>
      <router-outlet></router-outlet>
    </div>
    <raza-spinner-taghelper></raza-spinner-taghelper>
    <!--Footer-->

    <app-footer *ngIf="showDelayedSubcomponent && !currentURL.includes('sitemap') && !currentURL.includes('moto')  && !currentURL.includes('web_pay') && !currentURL.includes('mobile_pay')" ></app-footer>
    <!--Footer-->

  </mat-sidenav-content>

</mat-sidenav-container>
