 
  <div class="first_fold">
  
  <h1 class="heading_style1 howitworks_header text-white">	
  How it works<br/>
  <span>3 Step Simple Calling Process</span>
  </h1>
  <div class="home_banner howitworks_banner">
      <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
  </div>
  </div>
  
  <div class="second_fold">
    <h1 class="heading_style3">	
      How it works<br/>
      <span>3 Step Simple Calling Process</span>
      </h1>
      <div class="shadowtype2">
      
        <div class="row">
          <div class="col-md-3 howitworksSection">
            
            <div class="icon_holder1"><img src="assets/images/new_design_images/howitswork_icon4.png" alt="icon"></div>
            <h3 class="heading_style2">Step 1</h3>
            <p>Dial the RAZA access number.</p>
            
          
</div>
<div class="col-md-1 arrows_display">
  <div class="arrows"><img src="assets/images/new_design_images/arrow1.png" alt="icon"></div>
</div>
          

          <div class="col-md-4 howitworksSection">
            <div class="icon_holder1"><img src="assets/images/new_design_images/howitswork_icon5.png" alt="icon"></div>
            <h3 class="heading_style2">Step 2</h3>
            <p class="first-child">Dial 011 + country code + the phone number, followed by #.</p>
            <p class="last-child">To Call within USA, Canada or Caribbean: Dial 1 + Area Code + Number followed by # Key</p>
          </div>

          <div class="col-md-1 arrows_display">
            <div class="arrows"><img src="assets/images/new_design_images/arrow2.png" alt="icon"></div>
          </div>

          <div class="col-md-3 howitworksSection">
            <div class="icon_holder1"><img src="assets/images/new_design_images/howitswork_icon6.png" alt="icon"></div>
            <h3 class="heading_style2">Step 3</h3>
            <p>Keep talking</p>
          </div>
        </div>
        <div class="row">
          <div class="gradientArea">
            <p>Once you have dialed the destination # Do not press the send button</p>
          </div>
        </div>
      </div>
  </div>
