<div class="first_fold">
    <div class="home-slider slider-bg-{{currentSetting?.country?.CountryId}}">
            <div class="diwali_strip" >
              <div class="viyaFireworWrap">
                <div class="viyaWrap" *ngIf="currentSetting?.country?.CountryId != 3">
                  <img src="../../../assets/images/home_banner_new/promo/left.webp" />
                </div>
                <div class="viyaWrap" *ngIf="currentSetting?.country?.CountryId == 3">
                  <img class="viyaWrapUK" src="../../../assets/images/home_banner_new/promo/left-UK.webp" />
                </div>
                <div class="diwaliPromoText" *ngIf="currentSetting?.country?.CountryId != 3">
                  <div>
                    <p>Ramadan Kareem</p>
                    <h3>Get upto 20% bonus mins</h3>
                  </div>
                  <a (click)="onopenchristmas(typedEl)" class="dPromoBtn">Buy now</a>
                </div>
                <!-- <div class="fireworksWrap" *ngIf="currentSetting?.country?.CountryId == 3">
                  <img src="../../../assets/images/home_banner_new/promo/right.webp" />
                </div> -->
              </div>
            </div>  

            <splide [options]="{ type: 'loop', autoplay: sliderAutoplay, lazyLoad: 'true'  }">
            <!-- <splide-slide>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="snow"></div>
              <div class="carousel-caption tpSlider_promo tpSlider_promo-{{currentSetting?.country?.CountryId}}">
                <a (click)="onopenchristmas(typedEl)" *ngIf="currentSetting?.country?.CountryId != 3" class="ny23_top">
                  <img src="../../../assets/images/home_banner_new/promo/ny23_top.png" *ngIf="currentSetting?.country?.CountryId != 3" class="d-none d-md-block" />
                  
                </a>
                <img src="../../../assets/images/home_banner_new/promo/ch23-uk.webp" *ngIf="currentSetting?.country?.CountryId == 3" class="d-none d-md-block" />
                 
              </div>
            </splide-slide> -->
             <splide-slide>
                <div class="sliderImg"></div>
                <div class="carousel-caption tpSlider_1">
                    <div class="d-flex justify-content-center align-items-center flex-column buyGetSlider">
                        <div class="d-md-flex align-items-center justify-content-center mt-5 mt-md-0">
                          <div class="img-1 mt-5 newSpelWrap">
                              <span class="new_cust_spl showMobileOnly" *ngIf="currentSetting?.country?.CountryId == 1 || currentSetting?.country?.CountryId == 2">New Customer Special</span>
                                <img  src="https://raza.com/assets/images/home_banner_new/buy1get1.webp" width="300" height="303" loading="lazy" alt="img" class="img-fluid d-none d-md-block">
                                <!-- <a routerLink="deals/buy1-get1"> -->
                                  <a (click)="buyOnegetOne()">
                                  <img  src="https://raza.com/assets/images/home_banner_new/hm_banner_mb-us.webp" width="416" height="333" loading="lazy" alt="img" class="img-fluid showMobileOnly"  *ngIf="currentSetting?.country?.CountryId == 1 || currentSetting?.country?.CountryId == 2">
                                </a>
                          </div>
                          <div class="divider d-none d-md-block"></div>
                          <div class="img-1 " *ngIf="currentSetting?.country?.CountryId == 3">
                            <!-- <a routerLink="deals/buy1-get1" > -->
                              <a (click)="buyOnegetOne()">
                              <img src="https://raza.com/assets/images/home_banner_new/was10now5.webp" width="363" height="324" alt="img" loading="lazy" class="img-fluid d-none d-md-block">
                              <img src="https://raza.com/assets/images/home_banner_new/was10now5_mb.webp" width="619" height="533" alt="img" loading="lazy" class="img-fluid showMobileOnly">
                            </a>
                          </div>
                          <div class="img-1 " *ngIf="currentSetting?.country?.CountryId == 1 || currentSetting?.country?.CountryId == 2">
                              <a  (click)="buyOnegetOne()">
                                <!-- <a routerLink="deals/buy1-get1" > -->
                                <img src="https://raza.com/assets/images/home_banner_new/was5now5_us.webp" width="416" height="333" alt="img" loading="lazy" class="img-fluid d-none d-md-block">
                              </a>
                          </div>
                        </div>
                        <div class="hp_text2">
                            Call over 200 countries
                            <!-- <a routerLink="/searchrates"> <span>as low as 1¢</span> </a> -->
                            <a (click)="showLowestRates()"> <span>as low as 1¢</span> </a>
                        </div>
                        <div class="button-wrapper text-center" style="width:100%;">
                           <!-- <a mat-raised-button routerLink="deals/buy1-get1" type="button" class="rounded-pill btn-lg px-5 py-1 py-md-2 mb-3 buy-btn shadow">Buy Now</a>  -->
                           <a mat-raised-button  (click)="buyOnegetOne()" type="button" class="rounded-pill btn-lg px-5 py-1 py-md-2 mb-3 buy-btn shadow">Buy Now</a>
                        </div>
                    </div>
                </div>
              </splide-slide>

             <splide-slide>
                <div class="carousel-caption download">
                  <a routerLink="/mobile-page" >
                      <img loading="lazy" src="https://raza.com/assets/images/home_banner_new/mobile_app_us_ypncgi_new.webp" alt="img" width="636" height="689" class="img-fluid d-block d-md-none m-auto" *ngIf="currentSetting?.country?.CountryId == 1 || currentSetting?.country?.CountryId == 2">
                      <img loading="lazy" src="https://raza.com/assets/images/home_banner_new/mobile_app_us_ypncgi_new_uk.webp" alt="img" width="636" height="689" class="img-fluid d-block d-md-none m-auto" *ngIf="currentSetting?.country?.CountryId == 3">
                    </a>
                  <a href="javascript:void(0)" (click)="downloadApp()" mat-button>
                      <img loading="lazy" src="https://raza.com/assets/images/home_banner_new/mobile_app_us_ypncgi2.webp" alt="img" width="522" height="102" class="img-fluid d-block d-md-none m-auto playStor2">
                  </a>
                  <div class="desk_app_us_img_wrap">
                      <a routerLink="/mobile-page" >
                        <img loading="lazy" src="https://raza.com/assets/images/home_banner_new/desk_app_us_ypncgi_new.webp" width="836" height="469" alt="img" class="img-fluid d-none d-md-block m-auto" *ngIf="currentSetting?.country?.CountryId == 1 || currentSetting?.country?.CountryId == 2">
                        <img loading="lazy" src="https://raza.com/assets/images/home_banner_new/desk_app_us_ypncgi_new_uk.webp" width="836" height="469" alt="img" class="img-fluid d-none d-md-block m-auto" *ngIf="currentSetting?.country?.CountryId == 3">
                      </a>
                      <div class="desk_app_us_text">
                          <a href="/mobile-page">
                              Learn more
                          </a>
                      </div>
                  </div>
              </div>
            </splide-slide>

            <splide-slide ngbSlide *ngIf="currentSetting?.country?.CountryId !=3">
                <div class="carousel-caption refer it-topup">
                    <img loading="lazy" src="https://raza.com/assets/images/home_banner_new/int-top-img.webp" alt="img" width="768" height="121" class="img-fluid d-md-none d-block m-auto topup-img">
                    <img loading="lazy" src="https://raza.com/assets/images/home_banner_new/it-topup-inner_g7bpbe.webp" width="1509" height="528" alt="banner" class="img-fluid d-md-block d-none m-auto">
                    <div>
                        <a href="javascript:void(0)"  (click)="goTomobileTopup()" class="topup-btn" type="button" mat-button>TOP-UP</a>
                    </div>
                </div>
            </splide-slide>

            <splide-slide>
                <div class="carousel-caption reward">
                  <div class="container d-none d-md-block">
                      <div class="row align-items-center rewardWrap">
                          <div class="col-md-8">
                              <img loading="lazy" src="https://raza.com/assets/images/home_banner_new/star_iiewat.webp" width="532" height="490" alt="star" class="img-fluid">
                          </div>
                          <div class="col-md-4">
                              <div class="reward-content">
                                  <div class="bonus-ms">
                                      ENROLL <br> EARN <br> Redeem
                                  </div>
                                  <div class="enroll-wrappers">
                                      <a href="javascript:void(0)" (click)="enrollNow()" class="btn btn-warning" mat-button>Enroll Now</a>
                                  </div>
                                  <div class="bonus-sm-text">
                                      No Purchase Necessary.
                                      Get 200 points instantly.
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
                  <div class="d-block d-md-none">
                      <img loading="lazy" src="https://raza.com/assets/images/home_banner_new/star_iiewat.webp"  width="532" height="490" alt="img" class="img-fluid d-block d-md-none reward-mob">
                      <div class="bonus-ms">
                          ENROLL <br> EARN <br> Redeem
                      </div>
                      <a href="javascript:void(0)" (click)="enrollNow()" mat-button class="enroll-btn" mat-button>Enroll Now</a>
                      <div class="bonus-sm-text">
                          No Purchase Necessary.
                          Get 200 points instantly.
                      </div>
                  </div>
              </div>
            </splide-slide>
        </splide>
    </div>
</div>
<!-- home banne section end here -->

<div class="homepage_bluearea hideinMobile">
    <div class="container">
        <div class="row">
            <div class="col-md-4 homeBluecommon">
                <a routerLink="/freetrial" *ngIf="currentSetting?.country?.CountryId ==3">
                    <div class="icon_holder1 mbTopUp">
                    </div>
                    <h3>Try us Free</h3>
                    <p>Get upto 100 free mins to call anywhere in <br /> the world</p>
                    <div class="arrow">
                    </div>
                </a>

                <a (click)="goTomobileTopup()" *ngIf="currentSetting?.country?.CountryId !=3">
                    <div class="icon_holder1 mbTopUp">
                    </div>
                    <h3>Send Mobile Topup</h3>
                    <p>Send minutes to over 300 carriers in 120<br /> countries</p>
                    <div class="arrow">
                    </div>
                </a>
            </div>
            <div class="col-md-4 homeBluecommon white_color">
                <a routerLink="/callafrica">
                    <div class="icon_holder1 callAfrica">
                    </div>
                    <h3 class="bluecolor">Call Africa</h3>
                    <p class="bluecolor">Start making high quality calls to Africa<br /> for as low as 4c/min</p>
                    <div class="arrow">
                    </div>
                </a>
            </div>
            <div class="col-md-4 homeBluecommon">
                <a routerLink="/callasia">
                    <div class="icon_holder1 callAsia">
                    </div>
                    <h3>Call Asia</h3>
                    <p>Start making high quality calls to Asia for<br /> as low as 1c/min</p>
                    <div class="arrow">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="homepage_bluearea showInmobile">
    <div class="containerNew">
        <div class="blue">
            <div class="col-md-4 homeBluecommon">
                <a  (click)="goTomobileTopup()">
                    <div class="icon_holder1 mbTopUpMb">
                    </div>
                    <h3>Mobile Topup</h3>
                    <p>Send minutes to over 300 carriers in 120 countries</p>
                    <div class="arrow">
                    </div>
                </a>
            </div>
        </div>
        <div class="white">
            <div class="col-md-4 homeBluecommon">
                <a routerLink="/callafrica">
                    <div class="icon_holder1 callAfricaMb">
                    </div>
                    <h3>Call Africa</h3>
                    <p>Start making high quality calls to Africa for as low as 4c/min</p>
                    <div class="arrow">
                    </div>
                </a>
            </div>
        </div>
        <div class="blue">
            <div class="col-md-4 homeBluecommon">
                <a routerLink="/callasia">
                    <div class="icon_holder1 callAsiaMb">
                    </div>
                    <h3>Call Asia</h3>
                    <p>Start making high quality calls to Asia for as low as 1c/min</p>
                    <div class="arrow">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="home_howitworksmain">
    <div class="container">
        <div class="row">
            <p class="howitText">How it works</p>
            <h2 class="heading_style2">It’s super easy!</h2>
            <div class="col-md-4">
                <a href="/searchrates" title="" >
                    <div class="home_howitworksSection shadow1">
                        <div class="icon_holder1 pickPlane">
                        </div>
                        <h3 class="picktext">Pick your plan</h3>
                        <p>Search Rates to call anywhere in the world and select Purchase amount.</p>
                    </div>
                </a>


            </div>
            <div class="col-md-4">
                <a href="javascript:void(0)" (click)="signupModal()">
                    <div class="home_howitworksSection shadow2">
                        <div class="icon_holder1 goMyAcc">
                        </div>
                        <h3 class="createText">{{getText()}} </h3>
                        <p>Signup using your Mobile number or Check Out as Guest if you like to try us.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="../searchrates">
                    <div class="home_howitworksSection shadow3">
                        <div class="icon_holder1 startCall">
                        </div>
                        <h3 class="startTxt">Start calling!</h3>
                        <p>Dial your Raza access number and Start Making Calls. That’s it… Keep Talking!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="mobileAppArea" #mobileAppArea>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="mAppHowtxt">Raza</p>
                <h3>Mobile App.</h3>
                <div class="mobileAppcommon_area first">
                    <h4>Crystal clear quality</h4>
                    <p>Raza mobile app provides crystal clear call quality backed by unbeatable prices. Make sure you never miss a moment with friends and family!</p>
                </div>
                <div class="mobileAppcommon_area second">
                    <h4>Easy to call at Super Low Rates</h4>
                    <p>Call directly through the app at super low rates.  Our rates are starting as low as 1¢ per/min.
                    </p>
                </div>
                <div class="mobileAppcommon_area third">
                    <h4>International  Mobile Top-up</h4>
                    <p>Send top-ups to over 300 Operators through the app instantly. We deliver most recharges in Seconds!</p>
                </div>
            </div>
            <div class="col-md-5 new_style_mobile_divall">
                <div class="new_style_mobile">
                    <div class="mobileImageSliderMain"></div>
                    <div class="mobileImageSlider">
                        <img loading="lazy" src="https://raza.com/assets/images/download2dollor.jpg" class="gif-app" alt="icon" width="376" height="815" />
                        <div class="home_mobile_div" >
                            <a href="https://play.google.com/store/apps/details?id=com.razacomm.universe" target="_blank" class="app_store">
                            </a>
                            <a href="https://apps.apple.com/ca/app/raza-universe/id1226298666" target="_blank" class="app_store aplStore">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home_pageGreyarea">
    <div class="leftareaNew">
        <div class="leftcontent">
            <div class="textareaNew">
                <h4>Do you own a <br />business?</h4>
                <p>Partner with us!</p>
                <p routerLink="/becomeapartner" class="smallText">I’M INTERESTED <span><img loading="lazy"
              src="https://raza.com/assets/images/arrow_first.png" width="18" height="7" lo alt="icon"/></span></p>
            </div>
            <div class="imageareaNew">
                <img loading="lazy" src="https://raza.com/assets/images/partnerwithus.png" width="96" height="75" alt="icon" />
            </div>
        </div>
    </div>
    <div class="rightareaNew">
        <div class="rightcontent">
            <div class="textareaNew">
                <h4>Get rewarded with <br />bonus points!</h4>
                <p>Become a member today</p>
                <p routerLink="/refer/reffer_a_friend" class="smallText">SIGN UP NOW <span><img loading="lazy"
              src="https://raza.com/assets/images/arrow_right.png" alt="icon"  width="18" height="7" /></span></p>
            </div>
            <div class="imageareaNew">
                <img loading="lazy" src="https://raza.com/assets/images/gift_box.png" width="96" height="103" alt="icon" />
            </div>
        </div>
    </div>

</div>

<div class="testimonial_area">
    <div class="testimonial_area_container">
        <div class="testPadding">
            <h3>Testimonials</h3>
            <p>Our customers have something to say about us</p>
        </div>
        <div class="testiSliderContent">
             <!-- <app-testimonials *ngIf="loadTestimonials"></app-testimonials> -->
             <div class="testiBlocksWrap">
                  <div class="testiBlockSec">
                    <div class="testiBlockInner">
                      <p>For 7 years, I've increasingly relied on Raza. This app has greatly improved my global connections, making it easy to stay in touch with people worldwide. I love Raza for its great rates and user-friendly interface, making international communication cost-effective and hassle-free. </p>
                      <div class="testiBtmWrap">
                        <div class="authorIcon">
                        </div>
                        <div class="testiBtm">
                          Samhere<br/>
                          May 14, 2023
                          <div class="ratingStar">
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testiBlockSec">
                    <div class="testiBlockInner">
                      <p>I have been using Raza for the last six years and always enjoyed their prompt service and attention. Thanks to all the staff.</p>
                      <div class="testiBtmWrap">
                        <div class="authorIcon">
                        </div>
                        <div class="testiBtm">
                          J Blessing <br/>
                          April 30, 2023
                          <div class="ratingStar">
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testiBlockSec">
                    <div class="testiBlockInner">
                      <p>After they updated the app, it's very easy for me to use, it's hassle free I can do the recharge myself, check my profile, balance, purchase and call history.</p>
                      <div class="testiBtmWrap">
                        <div class="authorIcon twitter">
                        </div>
                        <div class="testiBtm">
                          Kazeem Olusanya <br/>
                          April 29, 2023
                          <div class="ratingStar">
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testiBlockSec">
                    <div class="testiBlockInner">
                      <p>I've been a loyal Raza customer for approximately 2 years, and my experience has been consistently satisfying with no disappointments. Having tried other call services in the past, I encountered various issues that led me to appreciate Raza even more. Based on my positive experience, I wholeheartedly recommend Raza to everyone in search of reliable and hassle-free communication services.</p>
                      <div class="testiBtmWrap">
                        <div class="authorIcon RazaAppIcon">
                        </div>
                        <div class="testiBtm">
                          Adebisi Edili<br/>
                          May 8, 2023
                          <div class="ratingStar">
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                            <div class="rtStar"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="testHoverBlk testiBlkHover1"></div>
                  <div class="testHoverBlk testiBlkHover2"></div>
                  <div class="testHoverBlk testiBlkHover3"></div>
                  <div class="testHoverBlk testiBlkHover4"></div>
             </div>
        </div>

        <div class="testiSliderContentMobile">
            <splide [options]="{ type: 'loop', autoplay: sliderAutoplay, lazyLoad: 'true'  }">
                <splide-slide>
                    <div class="testiBlockSec testiBlkSec1">
                        <div class="testiBlockInner">
                          <div>
                            <p>For 7 years, I've increasingly relied on Raza. This app has greatly improved my global connections, making it easy to stay in touch with people worldwide. I love Raza for its great rates and user-friendly interface, making international communication cost-effective and hassle-free. </p>
                            <div class="testiBtm">
                              Samhere<br/>
                              May 14, 2023
                              <div class="ratingStar">
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                              </div>
                            </div>
                          </div>
                          <div class="testiBtmWrap">
                            <div class="authorIcon">
                            </div>
                          </div>
                        </div>
                      </div>
                </splide-slide>
                <splide-slide>
                    <div class="testiBlockSec testiBlkSec2">
                        <div class="testiBlockInner">
                          <div>
                            <p>I have been using Raza for the last six years and always enjoyed their prompt service and attention. Thanks to all the staff.</p>
                            <div class="testiBtm">
                              J Blessing <br/>
                              April 30, 2023
                              <div class="ratingStar">
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                              </div>
                            </div>
                          </div>
                          <div class="testiBtmWrap">
                            <div class="authorIcon">
                            </div>
                          </div>
                        </div>
                      </div>
                </splide-slide>
                <splide-slide>
                    <div class="testiBlockSec testiBlkSec3">
                        <div class="testiBlockInner">
                          <div>
                            <p>After they updated the app, it's very easy for me to use, it's hassle free I can do the recharge myself, check my profile, balance, purchase and call history.</p>
                            <div class="testiBtm">
                              Kazeem Olusanya <br/>
                              April 29, 2023
                              <div class="ratingStar">
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                              </div>
                            </div>
                          </div>
                          <div class="testiBtmWrap">
                            <div class="authorIcon twitter">
                            </div>
                          </div>
                        </div>
                      </div>
                </splide-slide>
                <splide-slide>
                    <div class="testiBlockSec testiBlkSec4">
                        <div class="testiBlockInner">
                          <div>
                            <p>I've been a loyal Raza customer for approximately 2 years, and my experience has been consistently satisfying with no disappointments. Having tried other call services in the past, I encountered various issues that led me to appreciate Raza even more. Based on my positive experience.
                            <div class="testiBtm">
                              Adebisi Edili<br/>
                              May 8, 2023
                              <div class="ratingStar">
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                                <div class="rtStar"></div>
                              </div>
                            </div>
                          </div>
                          <div class="testiBtmWrap">
                            <div class="authorIcon RazaAppIcon">
                            </div>
                          </div>
                        </div>
                    </div>
                </splide-slide>
            </splide>
        </div>
    </div>
</div>

<!-- -->
<div class="streakBanner">
    <div class="backgroundTexture">
        <div class="maintextarea">
            <h4>Try it for free.<br /> It only takes 30 seconds to get started.</h4>
            <a href="#" [routerLink]="['/freetrial']" class="button orange-cta cta w-inline-block chrome">TRY NOW</a>
        </div>
    </div>
</div>
<div class="streakBannerBottom">
         <p>Existing Customers? <span>Check out our awesome features!</span>
        <a href="/features">View</a>
    </p>
</div>
