@import "_mixins";
.home_howitworksmain a {
    text-decoration: none;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.new_style_mobile button {
    position: absolute;
    z-index: 99;
    right: 13%;
    bottom: 1%;
    svg {
      width: 26px;
      height: 26px;
  }
}
.new_style_mobile button svg {
    width: 26px;
    height: 26px;
}
.applinkForDesktop {
    margin-bottom: 20px;
}
.july {
    padding-right: 13%;
}
.hideinMobile {
    display: block;
}
.showInmobile {
    display: none;
}
.carousel-caption.tpSlider_1 {
  margin-top: 110px !important;
  top: 0;
  .divider {
    margin-left: 45px;
    margin-right: 45px;
  }
}
.homepage_bluearea {
    background: #0160e0;
    text-align: center;
    h3 {
        color: #fff;
        font-size: 19px;
        font-weight: 500;
        padding: 10px 0;
    }
    p {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
    }
    a {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }
    .icon_holder1 {
        text-align: center;
        height: 90px;
        background-image: url(../../../assets/images/mobile_topup_white.png);
        background-repeat: no-repeat;
        background-position: top 0 center;
        &.callAfrica, &.callAsia, &.callAsiaMb {
          background-image: url(../../../assets/images/callafrica_white.png);
        }
        &.callAfricaMb {
          background-image: url(../../../assets/images/callafrica_blue.png);
        }
    }
    .homeBluecommon:hover {
      .icon_holder1 {
          background-image: url(../../../assets/images/mobile_topup_blue.png);
          &.callAfrica, &.callAsia {
            background-image: url(../../../assets/images/callafrica_blue.png);
          }
      }
    }
    .arrow {
      margin: 0 auto;
      width: 22px;
      height: 20px;
      background-image: url(../../../assets/images/home_arrow_white.png);
      background-repeat: no-repeat;
    }
    .white {
      .arrow {
        background-image: url(../../../assets/images/home_arrow_blue.png);
      }
    }
}
// .imageareaNew {
//   background-image: url(../../../assets/images/partnerwithus.png);
//   background-repeat: no-repeat;
// }
.homeBluecommon {
    padding: 50px 30px;
}
.home_howitworksmain {
    padding: 110px 0;
    h2 {
        color: #0b203e;
        text-align: center;
        font-size: 36px;
        font-weight: 400;
    }
    p.howitText {
        color: #919eae;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
    }
}
.home_howitworksSection {
    padding: 15px 50px 15px 48px;
    box-shadow: 25px 25px 65px 0px rgba(215, 228, 240, 1);
    background: #fff;
    .icon_holder1 {
        height: 62px;
        background-image: url(../../../assets/images/pick_your_plan.png);
        background-repeat: no-repeat;
        &.goMyAcc {
          background-image: url(../../../assets/images/create_account_icon.png);
        }
        &.startCall {
          background-image: url(../../../assets/images/start_calling_icon.png);
        }
    }
    h3 {
        font-size: 23px;
        font-weight: 400;
        margin-bottom: 14px;
    }
    h3.picktext {
        color: #9763e9;
    }
    h3.createText {
        color: #e9c163;
    }
    h3.startTxt {
        color: #2dcf4f;
    }
    p {
        color: #808080;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }
}
.mobileAppArea {
    p.mAppHowtxt {
        color: #919eae;
        font-size: 16px;
        font-weight: 400;
    }
    h3 {
        color: #0b203e;
        font-size: 80px;
        font-weight: 100;
        margin-bottom: 100px;
    }
}
.mobileAppcommon_area {
    padding-left: 100px;
    margin-bottom: 50px;
    padding-right: 57px;
    h4 {
        color: #0a1f3f;
        font-size: 17px;
        font-weight: 500;
        line-height: 17px;
    }
    p {
        color: #808080;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
}
.home_pageGreyarea {
    height: 215px;
    .leftareaNew {
        width: 50%;
        background: #f8f8f8;
        float: left;
        padding: 15px 0 15px 70px;
        cursor: pointer;
        .textareaNew {
            float: left;
            h4 {
                font-size: 36px;
                font-weight: 300;
                color: #000;
            }
            p {
                font-size: 32px;
                font-weight: 300;
                color: #f34d3d;
                &.smallText {
                    font-size: 14px;
                    font-weight: 300;
                    color: #f34d3d;
                }
            }
        }
        .leftcontent {
            float: right;
            width: 500px;
        }
        .imageareaNew {
            float: left;
            padding: 26px;
        }
        &:hover {
            .textareaNew {
                p {
                    &.smallText {
                        span {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
    .rightareaNew {
        width: 50%;
        background: #eeeeee;
        float: left;
        padding: 15px 0 15px 70px;
        cursor: pointer;
        .rightcontent {
            float: left;
        }
        .textareaNew {
            float: left;
            margin-right: 20px;
            h4 {
                font-size: 36px;
                font-weight: 300;
                color: #000;
            }
            p {
                font-size: 32px;
                font-weight: 300;
                color: #7c4d9e;
                &.smallText {
                    font-size: 14px;
                    font-weight: 400;
                    color: #7c4d9e;
                }
            }
        }
        .imageareaNew {
            float: left;
        }
        &:hover {
            .textareaNew {
                p {
                    &.smallText {
                        span {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
    img {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}
.home_pageGreyarea .leftareaNew .imageareaNew,
.home_pageGreyarea .rightareaNew .imageareaNew {
    float: left;
    padding: 26px 0;
}
.button-wrapper{width:100%}
.textareaNew {
    p {
        &.smallText {
            span {
                padding-left: 10px;
                width: 30px;
                display: inline-block;
                text-align: right;
                transition: width 0.7s ease;
            }
        }
    }
}
.shadow1, .shadow2, .shadow3 {
    position: relative;
    z-index: 1;
}
.shadow2 {
    z-index: 2;
}
.shadow3 {
    z-index: 3;
}
.testimonial_area_container {
    .ngxcarousel-inner {
        overflow: visible !important;
    }
}
.testimonial_area {
    padding: 30px 0;
    clear: both;
    overflow: hidden;
    h3 {
        text-align: center;
        font-size: 33px;
        font-weight: 600;
    }
    p {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
}
.activeArea {
    padding-bottom: 15px;
    clear: both;
    overflow: hidden;
    padding-top: 45px;
    h4 {
        font-size: 21px;
        font-weight: 300;
        margin: 0;
        text-align: center;
    }
    p {
        font-size: 11px;
        font-weight: 600;
    }
}
.arrowArea {
    clear: both;
    position: relative;
}
a {
    &.leftArrow {
        position: absolute;
        left: -30px;
        top: -276px;
        bottom: 0;
    }
    &.rightArrow {
        position: absolute;
        right: -14px;
        top: -276px;
        bottom: 0;
    }
}
.testPadding {
    padding: 35px 0 35px 0;
}
.mobileLine {
    display: none;
}
.bluecolor {
    color: #0160e0;
}
.whiteimg {
    display: none;
}
.blueimg {
    display: inline-block;
}
.home_mobile_div{
    position: absolute; bottom: 70px; left: 40px;z-index: 99;
}
.home_mobile_div a { cursor: pointer; }
@include breakpoint(md-lg) {
    .mobileImageSlider {
        right: -21px;
        top: -45px;
        width: 319px;
    }
    .mobileImageSliderMain {
        width: 360px;
        background-size: contain;
    }
    .gif-app {
        width: 318px !important;
        height: 759px !important;
    }
}
@include breakpoint(sm-md) {
    .mobileImageSlider {
        right: 0;
        left: 0;
        top: -44px;
        width: 320px;
        margin: 0 auto;
    }
    .mobileImageSliderMain {
        width: 360px;
        margin: 0 auto;
        right: 0;
        left: 0;
        background-size: contain;
    }
    .gif-app {
        width: 310px !important;
        height: 665px !important;
    }
}
@include breakpoint(max-600) {
    .home_pageGreyarea .rightareaNew .textareaNew {
        float: none !important;
        margin-right: 0px;
    }
    .home_pageGreyarea .leftareaNew .textareaNew {
        float: none !important;
        margin-right: 0px;
    }
}
@include breakpoint(max-675) {
    .home_pageGreyarea .leftareaNew,
    .home_pageGreyarea .rightareaNew {
        text-align: center;
        padding: 10px 0;
    }
    .home_pageGreyarea .leftareaNew .leftcontent,
    .home_pageGreyarea .rightareaNew .rightcontent {
        margin: 0 auto !important;
        float: none !important;
        width: 320px !important;
    }
    .home_pageGreyarea .leftareaNew .imageareaNew,
    .home_pageGreyarea .rightareaNew .imageareaNew {
        float: none;
    }
}
@include breakpoint(max-650) {
    .showInmobile {
        display: block;
        padding: 20px 0;
        .homeBluecommon {
            padding: 10px 30px !important;
        }
        .white {
            background-color: #fff;
        }
    }
    .applinkForDesktop {
        display: none;
    }
    .mobileAppcommon_area {
        padding-right: 0px;
        padding-left: 0px;
        .app_list {
            padding-bottom: 70px;
            new {
                display: block !important;
            }
        }
        p {
            font-weight: 300;
        }
    }
    .mobileAppcommon_area.first,
    .mobileAppcommon_area.second,
    .mobileAppcommon_area.third {
        display: none;
    }
    .homepage_bluearea {
        overflow: hidden !important;
        a {
            display: block;
        }
    }
    .hideinMobile {
        display: none;
    }
    .showInmobile .white .homeBluecommon h3,
    .showInmobile .white .homeBluecommon p {
        color: #0160e0;
    }
    .home_line {
        display: table;
        margin: 10px auto;
    }
    .testimonial_area_container {
        width: 90%;
        margin: 0 auto;
    }
    .home_howitworksSection {
        margin-bottom: 30px;
        padding: 0 16px 15px 14px;
        .icon_holder1 {
            position: relative;
            top: -23px;
            margin: 0px;
        }
        p {
            line-height: 25px;
            font-size: 14px;
            font-weight: 300;
        }
    }
    .mobileAppArea {
        h3 {
            font-size: 40px;
            margin-bottom: 40px;
        }
    }
    .home_pageGreyarea {
        height: auto;
        padding: 0px 0 0px 0;
    }
    .testPadding {
        padding: 13px 0 13px 0;
    }
    .home_howitworksmain {
        padding: 45px 0 36px 0;
    }
    .mobileLine {
        width: 85px;
        height: 1px;
        margin: 0 auto 25px;
        display: block;
        background: #e2e2e2;
    }
    .mobileImageSlider {
        width: 310px;
        margin: 0 auto;
        video {
            width: 100%;
        }
    }
    .gif-app {
        width: 310px !important;
        height: 665px !important;
    }
}
.mobileAppcommon_area {
    .app_list {
        new {
            display: none;
        }
    }
}
.hideinMobile {
    .homeBluecommon {
        transition: left 1s;
        position: relative;
        left: 0px;
        &:hover {
            background: #fff;
            cursor: pointer;
            .arrow {
                width: 50px;
                background-image: url(../../../assets/images/home_arrow_blue.png);
            }
        }
        .arrow {
            margin: 0 auto;
            width: 22px;
            height: 20px;
            transition: width 0.5s ease;
            background-image: url(../../../assets/images/home_arrow_white.png);
            background-position: right;
            background-repeat: no-repeat;
            img {
                position: relative;
                transition: left 0.5s;
                left: 0px;
                &:first-child {
                    display: inline-block;
                }
                &:last-child {
                    display: none;
                }
            }
        }
    }
}
.hideinMobile .homeBluecommon:hover h3,
.hideinMobile .homeBluecommon:hover p {
    color: #0160e0;
}
.gif-app {
    width: 376px;
    height: 815px;
}
@media only screen and (max-width: 1250px) and (min-width: 361px) {
    .home_mobile_div{
        position: absolute; bottom: 50px; left: 30px;z-index: 99;
    }
    .home_mobile_div a img{ width:40%; padding: 5px;}
    .new_style_mobile {
        width: 350px;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }
    .new_style_mobile .mobileImageSlider {
        text-align: center;
    }
    .mobileImageSliderMain {
        height: 680px;
        background-size: contain;
    }
    .mobileImageSlider {
        right: 0px !important;
        top: 15px !important;
        width: 100%;
        height: 100%;
    }
    .gif-app {
        width: 310px !important;
        height: 100%;
        margin-top: 15px;
        margin: 0 auto;
        height: 650px !important;
    }
}
@media only screen and (max-width: 400px) and (min-width: 200px) {
    .new_style_mobile {
        width: 300px;
        position: static;
    }
    .mobileImageSlider {
        right: 0px !important;
    }
    .mobileImageSliderMain {
        height: 615px !important;
        background-size: contain !important;
    }
    .gif-app {
        width: 275px !important;
        height: 100%;
        margin-top: -2px !important;
        height: 585px !important;
        margin-left: 20px;
    }
    .new_style_mobile_divall {
      padding: 0px;
  }
}
.divider {
    background: rgba(172,172,172,.6);
    width: 1px;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}
.view-more {
    color: #fff;
    font-weight: 500;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: #fff;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -6px;
      margin: auto;
      right: 0;
  }
}
.buy-btn {
    font-size: 24px;
    letter-spacing: -1px;
    color: #122b5d;
    font-weight: bold;
    margin-top: 40px;
    background-color: #ffcf05;
    text-transform: uppercase;
    &:hover {
        opacity: .8;
    }
}
.vs-hiiden {
    visibility: hidden;
}
.view-more {
    position: relative;
    z-index: 9;
}
.home-slider {
    background-image: url(../../../assets/images/home_banner_new/slider-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    &.slider-bg-3 {
        background-image: url(../../../assets/images/home_banner_new/slider-bg-uk.webp);
    }
    .sliderImg {
        height: 700px;
    }
    .bg-image {
        width: 100%;
        min-height: 700px;
        max-height: 700px;
        object-fit: cover;
    }
    ::ng-deep {
        .carousel-caption.tpSlider_0 {
          left: 0;
          right: 0;
          background-image: url(../../../assets/images/home_banner_new/thanks_giving_day_bg.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          @media only screen  and (max-width: 767px) {
            background-image: url(../../../assets/images/home_banner_new/thanks_giving_day_bg_mb.jpg);
            background-position: center;
          }
        }
        .thanksGivingDay {
          margin-left: 200px;
          img {
            height: 550px;
          }
          @media only screen  and (max-width: 767px) {
            margin-left: 0;
            img {
              height: auto;
            }
          }
        }
        .carousel-indicators {
            position: absolute;
            z-index: 15;
            padding-left: 0;
            margin-right: 0;
            margin-left: 0;
            list-style: none;
            flex-direction: column;
            left: unset;
            right: 10%;
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: center;
        }
        .carousel-indicators {
            li {
                width: 10px !important;
                height: 10px !important;
                border: 0;
                right: 0;
                margin-top: 3px;
                margin-bottom: 3px;
                &.active {
                    background: #fff;
                }
            }
        }
    }
}

::ng-deep {
      ul.splide__pagination {
        right: 3%;
        margin-right: 86px;
        left: unset;
        width: auto;
        top: 0;
        transform: rotate(90deg);
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon,
    .splide__arrow  {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-size: 29px;
        background-repeat: no-repeat;
        border: 1px solid #fff !important;
        opacity: 1;
    }
    .splide__arrows {
        position: absolute;
        right: 2%;
        top: 43%;
        width: 100px;
        z-index: 9;
        .splide__arrow {
            position: static;
            margin: 10px 0;
        }
    }
    .splide__arrow svg {
      display: none;
    }
    .carousel-control-prev-icon,
    .splide__arrow--prev {
       height:50px;
       width:50px;
        background: url("/assets/images/new_design_images/icon_sprite.png") 0px 294px;
    }
    .carousel-control-prev {
        left: unset;
        right: 0;
        margin-bottom: 100px;
        margin-top: 33px;
        opacity: 1;
    }
    .carousel-control-next {
        right: 0;
        margin-top: 91px;
        opacity: 1;
    }
    .carousel-control-next-icon,
    .splide__arrow--next {
        height:50px;
        width:50px;
        background: url("/assets/images/new_design_images/icon_sprite.png") -50px 294px;
    }
    .carousel-control-next,
    .carousel-control-prev {
        top: 39%;
        display: unset;
        bottom: unset;
        z-index: 99;
    }
    .carousel-control-next:hover .carousel-control-next-icon, .splide__arrow--next:hover {
        background: url("/assets/images/new_design_images/icon_sprite.png") 50px 294px;
        background-color: #fff;
    }
    .carousel-control-prev:hover .carousel-control-prev-icon, .splide__arrow--prev:hover {
        background: url("/assets/images/new_design_images/icon_sprite.png") 100px 294px;
        background-color: #fff;
    }
    .carousel-control-next:focus,
    .carousel-control-next:hover,
    .carousel-control-prev:focus,
    .carousel-control-prev:hover {
        opacity: 1;
    }
    .carousel-caption.refer {
        bottom: 0;
        padding-bottom: 0;
        left: 0;
        right: 0;
    }
}
.slide-content {
    width: 100%;
    justify-content: space-around;
    top: 16%;
    display: flex;
    z-index: -1;
}
.carousel-caption.reward {
    left: 0;
    bottom: 0;
}
.reward-content {
    text-align: left;
    .bonus-ms {
      font-size: 62px;
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: -12px;
    }
    .bonus-sm-text {
        font-size: 16px;
        max-width: 210px;
        margin-top: 16px;
    }
    .border {
        width: 64%;
        opacity: 0.3;
        margin: 7px 0;
    }
    small {
        font-size: 12px;
    }
    .btn {
        background: #ffcf05;
        text-transform: uppercase;
        border-radius: 50px;
        font-weight: 600;
        color: #000;
        margin-top: 18px;
        font-size: 24px;
        letter-spacing: -1px;
        padding: 8px 32px;
        &:hover {
            opacity: .8;
        }
    }
    p {
        font-size: 13px;
    }
}
.topup-btn {
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
  bottom: 31%;
  font-weight: 600;
  background: #000;
  border-radius: 30px;
  background-color: #ffcf05;
  padding: 10px 20px;
  font-size: 25px;
  &:hover {
      opacity: .8;
  }
}
.enroll-wrappers a {
    color: #fff;
    padding: 0 10px;
    border-right: 1px solid #fff;
    font-weight: 400;
    font-size: 14px;
}
.enroll-wrappers a:first-child,
.enroll-wrappers a:last-child {
    border-right: 0;
}
.strip {
    margin-top: -46px;
    z-index: 1;
}
.reward-mob {
    margin-top: -56px;
    margin-bottom: 50px;
}
h1.buy1get1-text {
    font-size: 55px;
    color: #000000;
    font-weight: 700;
    position: relative;
    z-index: 1;
}
h1.buy1get1-text:after {
    content: "";
    background-image: url("/assets/images/canada_tag.png");
    position: absolute;
    background-size: contain;
    height: 55px;
    width: 115px;
    right: 15px;
    top: -28px;
    z-index: -1;
}
.home-slider {
    margin-top: 50px;
    .carousel-caption {
      top: 0;
      &.download {
        margin-top: 55px;
      }
      &.refer.it-topup {
        top: unset;
      }
      &.reward {
          margin-top: 90px;
      }
    }
    .carousel.slide {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      .carousel-caption {
          position: static;
          margin-top: 30px;
          padding-left: 70px;
          padding-right: 70px;
          &.download {
            margin-top: 80px;
          }
          &.it-topup {
            margin-top: 150px;
          }
          .rewardWrap {
            left: -100px;
            position: relative;
            margin-top: 100px;
          }
      }
    }
}
.hp_text2 {
  font-size: 28px;
  span {
      color: #ffd600;
      text-decoration: underline;
  }
}
.desk_app_us_text {
  font-size: 19px;
  font-weight: 700;
  display: inline-block;
  margin: 15px 0 0 -123px;
    a {
      color: #000;
      text-transform: uppercase;
      background: #fff;
      padding: 8px 22px;
      display: inline-block;
      border-radius: 25px;
      &:hover {
        background-color: #ffcf05;
      }
    }
}

@media only screen  and (max-width: 767px) {
    .home-slider {
        background-image: url(../../../assets/images/home_banner_new/slider-bg-mb.webp);
        overflow: hidden;
        &.slider-bg-3 {
            background-image: url(../../../assets/images/home_banner_new/slider-bg-mb-uk.webp);
        }
        .sliderImg {
          height: 620px;
        }
    }
    .carousel-caption {
      top: 0;
      left: 0;
      right: 0;
    }
    .home-slider .carousel.slide .carousel-caption {
        padding-left: 0;
        padding-right: 0;
    }
    .enroll-wrappers {
        margin-top: 10px;
    }
    .enroll-wrappers a:first-child {
        border-right: 1px solid #fff;
    }
    .enroll-wrappers a:last-child {
        border-right: 0;
    }
    .home-slider .bg-image {
        min-height: 649px;
        max-height: 650px;
        object-fit: cover;
        padding-top: 32px;
    }
    .collection {
        display: none;
    }
    ::ng-deep {
        .splide__arrows {
          display: none;
        }
        ul.splide__pagination {
            right: -10px;
            margin-right: 0;
        }
        .carousel-control-next,
        .carousel-control-prev {
            display: none !important;
            margin-right: 16px;
        }
        .carousel-control-prev-icon {
            height: 32px;
            width: 32px;
            background: url(/assets/images/new_design_images/icon_sprite.png) -30px 244px;
        }
        .carousel-control-next-icon {
            height: 32px;
            width: 32px;
            background: url(/assets/images/new_design_images/icon_sprite.png) 0px 244px;
        }
        .carousel-control-next:hover .carousel-control-next-icon {
            background: url(/assets/images/new_design_images/icon_sprite.png) -62px 244px;
            background-color: #fff;
        }
        .carousel-control-prev:hover .carousel-control-prev-icon {
            background: url(/assets/images/new_design_images/icon_sprite.png) -92px 244px;
            background-color: #fff;
        }
        .carousel-control-prev {
            left: unset;
            right: 0;
            margin-bottom: 100px;
            margin-top: 45px;
            opacity: 1;
        }
        .home-slider .carousel-indicators {
            right: 10px !important;
        }
    }
    .carousel-caption.refer.it-topup {
        height: 695px;
        margin-top: 0 !important;
        max-width: 409px;
        margin: 0 auto;
        width: 100%;
        top: 0 !important;
        // position: relative !important;
    }
    .int-bottom {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        bottom: 0;
    }
    .topup-img {
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .carousel-caption {
      &.download {
          padding: 20px;
          margin-top: 55px;
      }
      &.reward {
        margin-top: 45px !important;
      }
    }
    .btn-slider {
        background: #000;
        border-radius: 20px;
        background-color: #000000;
        border: 2px solid #ffbe00;
    }
    ::ng-deep {
        .btn-slider span {
            font-size: 16px;
            line-height: 0px;
            color: #ffbe00;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            font-style: italic;
        }
    }
    .home-slider .carousel.slide .carousel-caption.reward {
        margin-top: 50px;
    }
    .collection {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .collection_note {
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 22px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        margin-top: 10px;
    }
    .reward-mob {
        padding-right: 75px;
        padding-left: 25px;
        max-width: 390px;
        margin: 0 auto 10px;
    }
    a.enroll-btn {
        background: #ffd005;
        text-transform: uppercase;
        border-radius: 50px;
        font-weight: 600;
        color: #170a50;
        font-size: 20px;
        padding: 2px 24px;
    }
    .carousel-caption.buy5get5 {
        left: 0;
        right: 0;
    }
    .topup-btn {
        bottom: 30%;
    }
}
@media only screen  and (max-width: 1100px) {
    .home-slider .bg-image {
        min-height: 650px;
    }
}
@media only screen and (min-width: 767px) {
  .btn-slider {
      display: none;
  }
}
@media only screen  and (max-width: 767px) {
  .icon_holder1 {
      &.callAfrica {
        background-image: url(../../../assets/images/callafrica_blue.png) !important;
      }
      &.mbTopUpMb {
        background-image: url(../../../assets/images/mobile_topup_white.png) !important;
      }
      &.callAfricaMb {
        background-image: url(../../../assets/images/callafrica_blue.png) !important;
      }
      &.callAsiaMb {
        background-image: url(../../../assets/images/callafrica_white.png) !important;
      }
      // &.callAfricaMb {
      //   background-image: url(../../../assets/images/callafrica_blue.png);
      // }
  }
  .topup-btn {
      width: 160px;
      padding: 5px 15px;
      font-size: 20px;
      bottom: 54%;
  }
  .white_color {
      background-color: #fff;
  }
  .bluecolor {
      color: #0160e0 !important;
  }
  .whiteimg {
      display: none !important;
  }
  .blueimg {
      display: inline-block !important;
  }
  .leftareaNew,
  .rightareaNew {
      width: 100% !important;
  }
  .leftcontent {
      float: left !important;
      width: 100% !important;
  }
  .home_pageGreyarea .leftareaNew .imageareaNew {
      padding: 0;
  }
  .search-box-placeholder {
      left: 20%;
  }
  .home-slider .bg-image {
      min-height: 620px;
      max-height: 620px;
  }
  .divider {
      background: #ffffff40;
      width: 60%;
      height: 1px;
      display: block;
      margin: auto;
  }
  .vs-hiiden {
      visibility: unset;
      display: none;
  }
  .img-1 img {
      // width: 70%;
      margin: auto;
      display: block;
  }
  .buy-btn {
      font-size: 22px;
      letter-spacing: inherit;
      padding: 7px 48px !important;
      margin-top: 30px;
  }
  .view-more {
      font-size: 12px;
      font-weight: 700;
  }
  .img-1.mins img {
      width: 90% !important;
      padding-top: 16px;
      padding-bottom: 16px;
  }
  .img-1.buy1get1 {
      width: 75%;
      margin: auto;
  }
  .buyGetSlider {
      max-width: 260px;
      margin: 0 auto;
  }
  .home-slider .carousel.slide .carousel-caption.download {
      margin-top: 60px;
  }
  img.playStor2 {
      width: 290px !important;
      margin-top: 20px!important;
  }
  .img-1.mt-5.newSpelWrap {
    width: 360px !important;
    margin: 0 auto;
    position: relative;
      img {
        width: 100%;
      }
  }
  .new_cust_spl {
      position: absolute;
      top: 20px;
      left: -3px;
      width: 80px;
      color: #000;
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      line-height: 1.2;
      letter-spacing: -.5px;
  }
  .showMobileOnly {
      display: block;
  }
  .hp_text2 {
      order: 1;
      font-size: 20px;
      font-weight: 500;
      max-width: 227px;
      line-height: 1.3;
      margin-top: 15px;
  }
  .desk_app_us_text {
      margin: 15px 0 0;
  }
  .bonus-ms {
      font-size: 42px;
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;
      max-width: 200px;
      margin: 0 auto 20px;
  }
  .bonus-sm-text {
      font-size: 16px;
      max-width: 210px;
      margin: 20px auto 0;
  }
  .carousel-caption.tpSlider_1 {
    margin-top: -20px !important;
  }
  .carousel-caption.download {
      img {
          max-width: 330px;
          width: 100%;
      }
  }
}
@media only screen  and (max-width: 480px) {
    .uk_mobile {
        margin: -30px -8px;
    }
    .uk_mb_by1 {
        padding-bottom: 0 !important;
        img {
            width: 195px;
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
}
