<div class="form_holder commonPopup addNumber">
  <span class="closeIcon" (click)="closeIcon()" mat-dialog-close><i class="material-icons">close</i></span>
  <h2>Add Number</h2>
  <mat-dialog-content>
    <div class="row commonPopupRow">
      <div class="col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Country" value="">
        </mat-form-field>
      </div>
    </div>

    <div class="row commonPopupRow">
      <div class="col-sm-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter #" value="">
        </mat-form-field>
      </div>
    </div>

    <div class="form_row1">

      <div class="input_holder1">
        <button mat-button class="submitButton">Add</button>
      </div>
    </div>
  </mat-dialog-content>
</div>