<div class="col-md-12">
  <!-- <h2 class="heading_style4">
    <span>Select payment method</span>
  </h2> -->
</div>

<div>
  <!-- cart.component.html -->
 
  <div *ngIf="isLoading; else content">
    <p>Loading...</p>
  </div>
  <ng-template #content>
    <div *ngIf="hasError; else cartContent">
      <p>Error loading cart data. Please try again later.</p>
    </div>
    <ng-template #cartContent>
      <div *ngIf="allCarts && allCarts.cartItems && allCarts.cartItems.length > 0; else noItems">
        <div *ngFor="let item of allCarts.cartItems" class="cart-item">
          <div class="cart-item-header">
            <input type="checkbox" (change)="onCheckboxChange($event, item)">
            <a href="javascript:void(0)" (click)="removeGlobalCart(item)" class="remove-btn">X</a>
          </div>
          <div class="item-details">
            <h4>Product Caption: {{ item.productCaption }}</h4>
            <p>Product Description: {{ item.productDescription }}</p>
            <p>Unit Price: {{ item.unitPrice }} {{ item.currencyCode }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Service Charge: {{ item.serviceCharge }}</p>
            <p>Shipping Required: {{ item.shippingRequired ? 'Yes' : 'No' }}</p>
          </div>
          <hr>
        </div>
      </div>
    </ng-template>
      <ng-template #noItems>
        <p>No items in the cart.</p>
      </ng-template>
   
    </ng-template>
   
 
</div>
  <div class="col-md-12" *ngIf="currentCart.couponCode =='FREETRIAL'">
  <app-no-card-payment-box  [checkOutModel]="currentCart" (onPaymentSubmit)="onPaymentInfoFormSubmit($event)">
  </app-no-card-payment-box>
</div>
<div class="col-md-12" *ngIf="currentCart.couponCode !='FREETRIAL'"> 
  
  <!--<div class="col-md-12">-->
  <div class="form_holder form_holder2 creditCard_paypal" [ngClass]="{'width-full': !enablePaypalOption}">
    <mat-tab-group (selectedTabChange)="onTabClick($event)">
      <mat-tab label="Credit Card">
	  <new-credit-card-payment-box [checkOutModel]="currentCart" (onPaymentSubmit)="onPaymentInfoFormSubmit($event)">
        </new-credit-card-payment-box>
  		
      </mat-tab>
      <mat-tab label="PayPal"  *ngIf="enablePaypalOption">
          <ng-template matTabContent>
          <div class="form_row1 paypal-box">
            <div class="input_holder1">
              <div id="paypal-button-container" class="paypal-button-container">
                <!-- <raza-paypal [config]="payPalConfig"></raza-paypal> -->
                <div #paypalButton id="paypal-button"></div>  
              </div>
            </div>
          </div>
        </ng-template>  

         
      </mat-tab>
    </mat-tab-group> 
    
        <!--<ngx-braintree 
          [getClientToken] = "getClientToken.bind(this)"
           
          [createPurchaseURL]="getClientCheckoutUrl()"
          (paymentStatus)="onPaymentStatus($event)"
          [chargeAmount]="55.55"
          [enablePaypalCheckout] = "true"
          [currency]="'USD'">
        </ngx-braintree>-->
       
         
    
  </div>
</div>