
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

// $common-font-family: "Montserrat",sans-serif;
@mixin comman-font-family{
  font-family: "Montserrat",sans-serif;
}
@mixin button-text {
    border: 1px solid #f3c423;
      transition: 0.3s ease-in-out;
      padding: 2px 100px;
      text-decoration: none;
      background-color: #f3c423;
      width: 100%;
      border-radius: 6px;
      font-weight: 700;
      font-size: 16px;
      color: #000000;
      font-family: "Montserrat";
}

::ng-deep{
  .cdk-overlay-pane {
    height: unset !important;
  }
}
.red_text{
  color: #f44336!important;
  font-size: 14px;
}
.span_error {
  position: relative;
    display: flex;
    align-items: center;
    color: #f44336!important;
    font-weight: 400;
    height: unset !important;
    top: 30px!important;
    line-height: 1.125;
    clear:both;
    font-size: 12px!important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

.span_error:before {
  font-family: "Material Icons";
  content: "error";
  font-size: 15px;
  font-weight: 400;
  color: #f44336;
  left: 0;
  padding-right: 5px;
}

 
.popup-wrapper .eyes {
  position: absolute;
  right: 0;
  top: 0;
}
.popup-wrapper .eyes mat-icon {
  color: #124390;
}
.popup-wrapper .cancel {
  position: absolute;
  top: -27px;
  right: 0;
  padding: 0;
  height: 20px;
  width: 29px;
}
.popup-wrapper .cancel button {
  font-size: 26px;
  font-weight: 300;
  min-width: 30px;
  border: none;
  box-shadow: none;
  color: #000;
}
::ng-deep{
  .popup-wrapper .mat-dialog-content {
    -webkit-overflow-scrolling: auto !important;
    max-height: 77vh;
  }
}

.popup-wrapper{
  position: relative !important;
  width: 550px;
    max-width:100%;

  .eyes {
    position: absolute;
    right: 0;
    top: 0;
    mat-icon {
    color: #124390;
}
}



  .new-raza {
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 20px;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: bold;
    @include comman-font-family;
  }

  .subtitle {
    font-size: 18px;
    letter-spacing: 0px;
    color: #717171;
    @include comman-font-family;
    text-align: center;
  }

  p {
    font-size: 20px;
    letter-spacing: 0px;
    color: #000000;

    a {
      color: #0b3d8d;
      text-decoration: none;
    }

  }

:ng-deep{
  span {
    font-size: 14px;
    letter-spacing: 0px;
    color: #717171;
    @include comman-font-family;

    a {
      text-decoration: none;
    }
  }
}

  p,
  span {
    @include comman-font-family;
  }

  .mat-select {
    width: 100% !important;
  }

::ng-deep{
  .mat-empty {
    span {
      display: block;
    }
  }
}





::ng-deep{
  label {
    span {
      display: none;
    }
  }
  .mat-form-field-infix {
    min-width: 100% !important;
    max-width: 100% !important;
    font-size: 20px;
    letter-spacing: 0px;
    color: #000;
    position: relative;
    @include comman-font-family;
    font-weight: 600;
 }
  .mat-form-field-infix input {
    letter-spacing: 3px;
 }
  .mat-form-field-infix .resend {
    font-size: 16px;
    letter-spacing: 0px;
    color: #0b3d8d;
    position: absolute;
    right: 0;
    text-decoration: none;
    padding: 6px 0;
    bottom: -35px;
    font-weight: 500;
    @include comman-font-family;
    z-index: 1;
 }
  .mat-form-field-infix span {
    font-size: 18px;
    letter-spacing: 0px;
    @include comman-font-family;
    color: #333;
 }
}
  

  .full-width {
    width: 100%;
  }
  .forgot{
::ng-deep{
  .mat-dialog-content {
    overflow: hidden;
}
}
    .full-width {
    width: 100%!important;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 26px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
p{
  font-size: 16px;
}
  }

  .forgetPass{
    position: absolute;
    right: 0px;
    font-size: 12px!important;
    bottom: 10px;
    color: #0b3d8d!important;
    z-index: 2;
}

  .example-container {

    .mat-form-field {

      &:nth-child(1) {
        width: 22%;
        
        // margin-right: 20px;
      }

      &:nth-child(2) {
        // width: 71%;
        width: 100%;
        // margin-left: 20px;
      }
    }

    mat-form-field {
      &:nth-child(4) {
        margin-top: 30px;
      }
    }
  }


  .submit-btn {

    a,button {
      @include button-text;
      span {
        color: #0b203e;
        font-weight: 600;
      }
      &:hover {
        background: #ffe374;
      }
    }
  }

  .flag-wrapper {
    // width: 25%;
    width: 35%;
    border-bottom: 1px solid #949494;
    position: relative;
    float: left;
    // padding: 2.5px 0;
    padding: 2px 0;

    .select_top1 {
      padding: 0;
      margin-top: 14px;
      /* position: absolute; */
      font-size: 0;
      line-height: 0;
      cursor: pointer;
      /* width: 45px; */
      left: 21px;
      top: 33px;
      z-index: 3;

      span {
        // font-size: 20px !important;
        font-size: 20px;
        margin-left: 10px;
        color: #000;
        font-weight: 600;
        letter-spacing: 4px;
      }

      &:after {
        font-family: 'Material Icons';
        content: "expand_more";
        font-size: 30px;
        font-weight: 400;
        color: #000;
        position: absolute;
        right: 0;
      }

    }

    .flag_list1 {


      li {
            /* padding: 9px 2px; */
    /* margin: 0 0 5px 0; */
    //display: block;
    cursor: pointer;
    position: relative;
    height: 50px;
    border-bottom: 1px solid #999999;
    display: flex;
    justify-content: center;
    align-items: center;

      }
    }

    .flag_list1 {
      padding: 0;
      margin: 0;
      position: absolute;
      left: 1px;
      z-index: 3;
      top: 52px;
      right: 0;
      width: 100%;

      ul {
        padding: 0;
        background: #efefef;

        li {
          span {
            display: block;
            // margin-left: 7px;
          }
        }

      }

    }


  }

}



.or {
	font-size: 16px;
	line-height: 20px;
	color: #99999b;
	font-weight: 500;
  padding: 20px 0;
	position: relative;
	z-index: 1;
	&:after {
		position: absolute;
		content: '';
		width: 45%;
		height: 1px;
    top: 50%;
		left: 0;
		right: 0;
		background: #eaeaec;
		z-index: -1;
	}
	&:before {
		position: absolute;
		content: '';
		width: 45%;
		height: 1px;
    top: 50%;
		right: 0;
		background: #eaeaec;
		z-index: -1;
	}
}


.login-button {
  width: 100%;
  text-align: left;
  background-color: #f3f3f3;
  padding: 7px 19px;
  font-size: 16px;
  color: #3e3e3e;
  font-weight: 600;
  margin-bottom: 10px;
  border: 1px solid #d8d8d8;
  @include comman-font-family;
   img {
    margin-right: 20px;
  }
} 
span.note {
  font-size: 12px;
}

// media queries start here


@media only screen and (max-width:767px) {

  .popup-wrapper h1 {
    font-size: 24px;
  }

  #loginDilog .popup-wrapper .subtitle {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .popup-wrapper .example-container .mat-form-field:nth-child(1) {
    width: 50%;
  }

  // .popup-wrapper .example-container .mat-form-field:nth-child(2) {
  //   width: auto;
  //   float: right;
  //   overflow: hidden;
  //   margin-left: 16px;
  // }

::ng-deep{
  .popup-wrapper .mat-form-field-infix span {
    font-size: 15px!important;
    font-weight: 500;
  }
}

  .popup-wrapper .mat-form-field-infix .resend.forget {
    right: 0;
    bottom: -25px;
    font-size: 12px;
  }

  .popup-wrapper .example-container mat-form-field:nth-child(4) {
    margin-top: 0px;
  }

  // .popup-wrapper .submit-btn {
  //   margin: 30px 0;
  // }

  .popup-wrapper .new-raza {
    margin-bottom: 0px;
    margin-top: 7px;
  }
  .popup-wrapper .subtitle {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
}

  .popup-wrapper p {
    font-size: 16px;
  }

  .popup-wrapper span {
    font-size: 12px;
  }
  .popup-wrapper .forgot p {
    font-size: 12px;
} 
.popup-wrapper .forgot h1 {
    font-size: 15px;
}

}


@media only screen and (max-width:320px){

  .popup-wrapper .flag-wrapper {
    width: 60%;
}
.popup-wrapper .submit-btn button {
    padding: 2px 50px;
}

}

@media only screen and (max-width:767px){

::ng-deep{
  .popup-wrapper .mat-form-field-infix input {
    font-size: 16px;
    font-weight: 500;
}
}

.flag-wrapper span {
    font-size: 16px!important;
    font-weight: 500!important;
}

.popup-wrapper .flag-wrapper {
    width: auto;
}

.popup-wrapper .flag-wrapper .select_top1:after {
    font-size: 23px;
    right: -16px;
    color: #717171;
}
::ng-deep{
  .cdk-overlay-pane {
    height: unset !important;
    max-width: 100%!important;
  }
}

.login-button{
  padding: 1px 19px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
}

