<div *ngIf="showRechargeList()" class="selectRechargeSec">
<h3 class="selectRechg" *ngIf="denominatons">Select a recharge amount</h3>
<div *ngIf="!isPremium">

  <div class="denomination__box_wrap">
    <div  *ngFor="let item of rechargeAmounts; let i = index" class="{{getActiveClass(item, 'others')}}" class="demBoxWrp">
      <div class="denomination__box" (click)="onClickAmountOptionOthers(item)">
       <div class="d-flex justify-content-between">
            <div class="amount">{{item | bCurrency : plan?.CurrencyCode | async}}</div>
             
        </div>
      </div>
       
    </div>
  </div>
  
</div>
<div *ngIf="isPremium"> 
<div *ngIf="!isAutorefill" class="denomination__box_wrap">
  <div  *ngFor="let item of denominatons?.Denominations.slice().reverse(); let i = index" class="{{getActiveClass(item, '')}}" class="demBoxWrp">
    <div class="denomination__box" (click)="onClickAmountOption(item)">
     <div class="d-flex justify-content-between">
           
          <div class="amount">{{item.Price | bCurrency : plan?.CurrencyCode | async}}</div>
          <div class="discount_applied" *ngIf="item.DiscountApplied > 0">
            <div class="discount_applied_text" *ngIf="showRechargePct()">
              {{item.DiscountApplied}} %
            </div>
          </div>
      </div>
    </div>
    <div class="rates_info"  *ngIf="showRechargePct()">
     
      Total Min  {{item.TotalTime+item.PromoMinutes}} <br /> Rate : {{item.DiscountedCallingRate| sCurrency: plan?.CurrencyCode | async}} / min
    </div>
  </div>
</div>

<div *ngIf="isAutorefill" class="denomination__box_wrap">
  <div  *ngFor="let item of denominatons?.Denominations.slice().reverse(); let i = index"  class="{{getActiveClass(item, '')}}" class="demBoxWrp">
    <div class="denomination__box" (click)="onClickAmountOption(item)" >
     <div class="d-flex justify-content-between">
          <div class="amount">{{item.Price | bCurrency | async}}</div>
          <div class="discount_applied">
            <div class="discount_applied_text" *ngIf="item.Price != 90">
              10 %
            </div>
            <div class="discount_applied_text" *ngIf="item.Price == 90">
              20 %
            </div>
          </div>
       </div>


    </div>

    <div class="rates_info">
 
      Total Min  {{getAutoRefillMin(item)}} <br /> Rate : {{ getAutoRefillRatePerMin(item)| sCurrency: plan?.CurrencyCode | async }}  / min
    </div>
  </div>
</div>
<!-- <a href="javascript:void(0)" (click)="getRateDetail()">View Rates</a> -->

<div class="swicth_container" *ngIf="ratesLoaded && !isAutoRefillEnable">
      <div class="reg_text">Regular</div>
      <div class="switch_label"  >
          <label class="switch">
            <input *ngIf="isAutorefill" type="checkbox" id="checkboxbonus3" checked (click)="setPlanType()">
            <input *ngIf="!isAutorefill" type="checkbox" id="checkboxbonus3" (click)="setPlanType()">
            <span class="slider round"></span>
        </label>
      </div>
      <div class="bonusText">
        <span class="bonus_text">Bonus</span>
        <span class="bonus_text_offer">10%</span>
        <span class="bonus_text_data">
          <span class="bonus_text_qst">
            ?
          </span>
          <span class="bonus_text_datas">
            Enroll to Auto-refill and earn 10% bonus minutes.<br>
            We will recharge your plan only when the account balance falls below $2.<br>
            Cancel online or by calling customer service anytime.
          </span>
        </span>
        <!-- <img
              class="bonus_text_info"
              src="../../assets/images/info.png"
              matTooltip="
              Enroll to Auto-refill and earn 10% bonus minutes.
              We will recharge your plan only when the account balance falls below $2.
              Cancel online or by calling customer service anytime."
              />                    -->
        <span class="bonus_small_text">with auto-refill</span>

        
      </div>
</div>

</div>
<app-my-cards *ngIf="plan" [plan]="plan" [checkOutModel]="currentCart" (onPaymentSubmit)="onPaymentButtonTrigger($event)" > </app-my-cards>
  
  <ng-container *ngIf="enablePaypalOption">
  <div class="form_row1 paypal-box" >
    <div class="input_holder1">
      <div id="paypal-button-container" class="paypal-button-container">
        <!-- <raza-paypal [config]="payPalConfig"></raza-paypal> -->
        <div #paypalButton id="paypal-button"></div>
      </div>
    </div>
  </div>
  
</ng-container> 




</div>
 
  <div *ngIf="!showRechargeList() && clientCardId > 0" style="text-align: center;">
    <p style="font-size: 15px; ">This discounted plan is already enrolled to auto refill,<br/> we will recharge automatically on your billing cycle or when your balance falls bellow $2</p>
  </div>
 