<div class="tryUsfreeSearchWrap">
  <a class="close" href="javascript:void(0)" (click)="closeIcon()">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m11.25 4.75l-6.5 6.5m0-6.5l6.5 6.5"/></svg>
  </a>
  <h2>Call to over 200 countries for just 1¢ or less.</h2>
  <div class="country_alphabet_wrap">
    <div class="alphabet_links">
      <li class="active" [ngClass]="{'active': currentClickedChar === 'All' }" (click)="displayCountryList('All')">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"/></svg>
      </li>

      <li class="active {{isDisabled('A')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'A' }" (click)="displayCountryList('A')">A</li>
      <li class="active {{isDisabled('B')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'B' }" (click)="displayCountryList('B')">B</li>
      <li class="active {{isDisabled('C')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'C' }" (click)="displayCountryList('C')">C</li>
      <li class="active {{isDisabled('D')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'D' }" (click)="displayCountryList('D')">D</li>
      <li class="active {{isDisabled('E')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'E' }" (click)="displayCountryList('E')">E</li>
      <li class="active {{isDisabled('F')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'F' }" (click)="displayCountryList('F')">F</li>
      <li class="active {{isDisabled('G')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'G' }" (click)="displayCountryList('G')">G</li>
      <li class="active {{isDisabled('H')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'H' }" (click)="displayCountryList('H')">H</li>
      <li class="active {{isDisabled('I')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'I' }" (click)="displayCountryList('I')">I</li>
      <li class="active {{isDisabled('J')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'J' }" (click)="displayCountryList('J')">J</li>
      <li class="active {{isDisabled('K')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'K' }" (click)="displayCountryList('K')">K</li>
      <li class="active {{isDisabled('L')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'L' }" (click)="displayCountryList('L')">L</li>
      <li class="active {{isDisabled('M')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'M' }" (click)="displayCountryList('M')">M</li>
      <li class="active {{isDisabled('N')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'N' }" (click)="displayCountryList('N')">N</li>
      <li class="active {{isDisabled('O')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'O' }" (click)="displayCountryList('O')">O</li>
      <li class="active {{isDisabled('P')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'P' }" (click)="displayCountryList('P')">P</li>
      <li class="active {{isDisabled('Q')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'Q' }" (click)="displayCountryList('Q')">Q</li>
      <li class="active {{isDisabled('R')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'R' }" (click)="displayCountryList('R')">R</li>
      <li class="active {{isDisabled('S')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'S' }" (click)="displayCountryList('S')">S</li>
      <li class="active {{isDisabled('T')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'T' }" (click)="displayCountryList('T')">T</li>
      <li class="active {{isDisabled('U')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'U' }" (click)="displayCountryList('U')">U</li>
      <li class="active {{isDisabled('V')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'V' }" (click)="displayCountryList('V')">V</li>
      <li class="active {{isDisabled('W')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'W' }" (click)="displayCountryList('W')">W</li>
      <li class="active {{isDisabled('X')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'X' }" (click)="displayCountryList('X')">X</li>
      <li class="active {{isDisabled('Y')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'Y' }" (click)="displayCountryList('Y')">Y</li>
      <li class="active {{isDisabled('Z')?'disabled':''}}" [ngClass]="{'active': currentClickedChar === 'Z' }" (click)="displayCountryList('Z')">Z</li>
    </div>
  </div>

  <div class="country-search-wrap">
    <section class="country-search">
        <div class="container">
          <div class="col-lg-8 col-md-12 mx-auto">
            <div class="search-input">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text caret bg-white border-right-0">
                    <div (click)="openFlagDropDown()" class="select_top1">
                      <img src="./../../assets/images/blank.gif" alt="flag" width="30" height="20" [ngClass]="'flag flag-f-'+ currentSetting?.country?.CountryId">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down ml-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </div>
                    <div class="flag_list1" *ngIf="showDropdown">
                      <ul>
                        <li *ngFor="let item of countryFrom" (click)="onSelectCountrFrom(item)">
                          <span>
                            <img src="./../../assets/images/blank.gif" alt="flag" width="30" height="20"
                              [ngClass]="'flag flag-f-'+ item.CountryId">
                          </span>
                        </li>
                      </ul>
                    </div>
                  </span>
                </div>
                <input placeholder="Where do you wish to call?" type="text" [formControl]="autoControl" [matAutocomplete]="auto"
                class="form-control form-control-lg border-right-0 border-left-0">

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option (onSelectionChange)="viewRates(option.CountryId)" *ngFor="let option of filteredCountry | async"
                    [value]="option">
                    <span><img src="assets/images/blank.gif" [ngClass]="'flag flag-'+ option.CountryId"
                        [alt]="option.CountryName" /></span>
                    {{option.CountryName}}

                    <span class="width30">
                      <img src="./../../assets/images/phone-icon.png" alt="icon" loading="lazy">
                      <span class="mobileRate">{{option.CallingRateMobile| sCurrency:currentCurrency}} </span>
                      

                      <img src="./../../assets/images/icon-landphone.png" alt="icon" loading="lazy">
                      <span class="landlineRate">{{option.CallingRateLandline| sCurrency:currentCurrency}} </span>
      
                    </span>
                    
                  </mat-option>
                </mat-autocomplete>
                <div class="input-group-append">
                  <span class="input-group-text border-left-0 bg-white">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-search"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                      />
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="country-search">
        <div class="container">
              <div class="countries_row">
                <table class="{{tblClass}}">
                    <thead>
                        <tr>
                            <td>Country</td>
                            <td>
                              <div class="phoneWrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M15.5 1h-8A2.5 2.5 0 0 0 5 3.5v17A2.5 2.5 0 0 0 7.5 23h8a2.5 2.5 0 0 0 2.5-2.5v-17A2.5 2.5 0 0 0 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"/></svg>
                                <div>
                                  Mobile <span class="rate">Rate per min</span>
                                </div>
                              </div>
                            </td>
                            <td >
                              <div class="phoneWrap">
                                <img src="../../../../assets/images/landline3.png" width="30" height="30" alt="landline"/>
                                <div>
                                  Landline <span class="rate">Rate per min</span>
                                </div>
                              </div>
                            </td>
                        </tr>
                        <tr *ngIf="tblClass == 'two_column' ">
                          <td>Country</td>
                          <td>
                            <div class="phoneWrap">
                              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M15.5 1h-8A2.5 2.5 0 0 0 5 3.5v17A2.5 2.5 0 0 0 7.5 23h8a2.5 2.5 0 0 0 2.5-2.5v-17A2.5 2.5 0 0 0 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"/></svg>
                              <div>
                                Mobile <span class="rate">Rate per min</span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="phoneWrap">
                              <img src="../../../../assets/images/landline3.png" width="30" height="30" alt="landline"/>
                              <div>
                                Landline <span class="rate">Rate per min</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bindSearchRates; let i = index">
                            <td>{{item.CountryName}} </td>
                            <td  (click)="viewRates(item.CountryId)"><span class="ratePer">{{ item.CallingRateMobile | sCurrency:currentCurrency }}</span></td>
                            <td  (click)="viewRates(item.CountryId)"><span class="ratePer">{{ item.CallingRateLandline | sCurrency:currentCurrency }}</span></td>
                        </tr>
                    </tbody>
                </table>
              </div>
          <!-- Alpahbet search end here-->
        </div>
      </section>
    </div>
</div>
