<div class="mobile-deal-wrapper">
    <div class="container">
        <div class="mobile-deal-content-wrapper">
            <h1 class="title_main">Pick your plan</h1>
            <div class="row justify-content-center">
                 <!-- <div class="col-md-5 deal-box india tringle position-relative pl-0 promotions">
                <div class="content-part ">
                    <h1>Get up to 20% Bonus</h1>
                    <p>New & Existing customer special</p>

                    <div class="btn-wrapper">
                        <a mat-raised-button color="primary" href="javascript:void(0)" title="" class="buy-now mb-3 mb-md-0 mt-3 mt-md-0" (click)="onopenchristmas()">Buy Now</a>

                    </div>

                </div>
                <div class="img-part invisible">
                    <img loading="lazy" src="/assets/images/deals-mob1.webp" class="ml-3">
                </div>
            </div> -->
            <div class="col-md-5 deal-box india">
                <div class="content-part ">
                    <h1>1500 free mins</h1>
                    <p>to call over 50 countries</p>
                    <div class="btn-wrapper">
                        <a mat-raised-button type="button" color="primary" href="/deals/get-upto-1500" title="" class="buy-now">Buy Now</a>
                    </div>
                </div>
                <div class="img-part">
                <img loading="lazy" src="/assets/images/deals-mob2.webp">
                </div>
            </div>
           <!-- <div class="col-md-5 deal-box india">
                <div class="content-part ">
                    <h1>Guyana Special</h1>
                    <p>Starting as low as 4.6 Cents per min</p>
                    <div class="btn-wrapper">
                        <a mat-raised-button type="button" color="primary" routerLink="/deals/page/guyana" title="" class="buy-now">Buy
              Now</a>

                    </div>
                </div>
                <div class="img-part">
                    <img loading="lazy" src="/assets/images/deals-mob1.webp">
                </div>
            </div> -->

           <!---- <div class="deal-box">
                <div class="content-part ">
          <h1>1500 free mins</h1>
          <p>to call over 50 countries</p>
          <div class="btn-wrapper">
          	<a mat-raised-button type="button" color="primary" routerLink="/deals/get-upto-1500" title="" class="buy-now">Buy Now</a>
          </div>
        </div>
        <div class="img-part">
          <img loading="lazy" src="/assets/images/deals-mob2.webp">
        </div>
      </div> -->

            
            <div class="col-md-5 deal-box india">
                <div class="content-part ">
                    <h1>India 1¢ Plan</h1>
                    <p>Starting as low as 1cent</p>
                    <div class="btn-wrapper">
                        <a mat-raised-button type="button" color="primary" routerLink="/deals/india-one-cent" title="" class="buy-now">Buy
              Now</a>

                    </div>
                </div>
                <div class="img-part">
                    <img loading="lazy" src="/assets/images/deals-mob3.webp">
                </div>
            </div>


            <div class="col-md-5 deal-box buy1">
                <div class="content-part ">
                    <h1>Buy 1 Get 1 FREE</h1>
                    <p>New customer offers</p>
                    <div class="btn-wrapper">
                        <a mat-raised-button type="button" color="primary" routerLink="/deals/buy1-get1" title="" class="buy-now">Buy
              Now</a>
                    </div>
                </div>
                <div class="img-part">
                    <img loading="lazy" src="/assets/images/deals-mob4.webp">
                </div>
            </div>
            <div class="col-md-5 deal-box india">
                <div class="content-part ">
                    <h1>India Monthly Plans</h1>
                    <p>Starting as low as $9.99</p>
                    <div class="btn-wrapper">
                        <a mat-raised-button type="button" color="primary" href="/deals/india-unlimited" title="" class="buy-now">BuyNow</a>
                    </div>
                </div>
                <div class="img-part">
                    <img loading="lazy" src="/assets/images/deals-mob1.webp">
                </div>
            </div>

            </div>
            </div>

        </div>
    </div>
 