
<div class="form_holder commonPopup promoCode failedPromo">
    
  <!--<img src="assets/images/grey_cross.svg" alt="">-->
  <span class="closeIcon promoFailed" (click)="closeIcon()"  mat-dialog-close>
    <i class="material-icons">close</i></span>
  <h2>The promo code could not be redeemed.</h2>
  <mat-dialog-content>
  <div class="row commonPopupRow">
      <div class="col-sm-12">
          <!-- <p>The promo code could not be redeemed.</p>   -->
      </div>
  </div>
  </mat-dialog-content>
</div>


