<div class="myaccountTabArea">
  <div class="onlySmallScreenAccount" *ngIf="isSmallScreen">
    <div class="myAccountMobTabContArea">
      <div class="commonBg">
        <h2 class="welcomeText" *ngIf="showBalance">{{userWelcomeLabel}}</h2>
        <!-- commonmyaccountareaforallpages -->
        <app-account-overview-plan-info *ngIf="plan && showBalance" [plan]="plan"></app-account-overview-plan-info>
        <!-- commonmyaccountareaforallpages -->
        <!----------Show mobile stats------------>
        <div *ngIf="showMobileStats && newDesign">

        </div>
         <!---------- EOF Show mobile stats ------------>
      </div>
        <!-- <app-account-recharge *ngIf="plan" [plan]="plan"></app-account-recharge>  -->
     <router-outlet *ngIf="plan" [plan]="plan"></router-outlet>

    </div>
  </div>


  <div class="onlyDesktopAccount" *ngIf="!isSmallScreen">

    <div class="leftTabArea {{sharedValue}}">
      <!-- <h5>My Account</h5> -->


      <ul>
        <li class="recharge"><a routerLink="/account/overview" (click)="getMyPlan()" routerLinkActive="active-link"><span></span> Recharge</a></li>
        <li class="payment-details"><a routerLink="/account/payment-details/{{plan?.PlanId}}" (click)="getMyPlan()" routerLinkActive="active-link"><span></span> Payment Details</a>
        </li>
        <li class="autorefill" *ngIf="plan"><a routerLink="/account/autorefill/{{plan?.PlanId}}" (click)="getMyPlan()" routerLinkActive="active-link"><span></span> Auto -
            Refill</a></li>
        <li class="order-history"><a routerLink="/account/order-history" (click)="getMyPlan()" routerLinkActive="active-link"><span></span> Order-History</a></li>
        <li class="noBorder plandetails" *ngIf="plan">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header class="plan_details">
                <span></span>
                <mat-panel-title>
                  Plan Details
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ul>
                <li><a routerLink="/account/plandetails/{{plan?.PlanId}}" (click)="getMyPlan()" routerLinkActive="active-link">Your Raza #</a>
                </li>
                <li><a routerLink="/account/call-details/{{plan?.PlanId}}" (click)="getMyPlan()" routerLinkActive="active-link">Call Details</a></li>

                <li *ngIf="plan.IsAllowPinLess">
                  <a routerLink="/account/mynumber/{{plan?.PlanId}}" (click)="getMyPlan()" routerLinkActive="active-link">My
                    Numbers</a></li>
                <li><a routerLink="/account/onetouchSetups/{{plan?.PlanId}}" routerLinkActive="active-link">One Touch
                    Dial</a></li>
                <li *ngIf="plan.IsAllowCallForwarding">
                  <a routerLink="/account/callForwardingSetups/{{plan?.PlanId}}" (click)="getMyPlan()" routerLinkActive="active-link">
                    Call Forwarding</a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </li>
        <li class="rewards"><a routerLink="/account/rewards" (click)="getMyPlan()" routerLinkActive="active-link"><span></span> Rewards</a></li>
        <li class="international-topup"><a routerLink="/account/international-topup" (click)="getMyPlan()" routerLinkActive="active-link"><span></span> International Topup</a></li>
        <li class="virtualnumber"><a routerLink="/account/virtualnumber" (click)="getMyPlan()" routerLinkActive="active-link" class="d-none"><span></span> Virtual Numbers</a></li>
        <li class="my-profile"><a routerLink="/account/my-profile" (click)="getMyPlan()" routerLinkActive="active-link"><span></span> My Profile</a></li>
        <li class="other-plans">
          <a routerLink="/account/other-plans" (click)="getMyPlan()" routerLinkActive="active-link"><span></span> Other Plans</a>
        </li>
        <li class="notifications"><a routerLink="/account/overview/notification" (click)="getMyPlan()" routerLinkActive="active-link"><span></span> Notifications</a></li>
        <li class="logOut" (click)="log_out_click()"><a href="javascript:void(0);">Log Out</a></li>
        <!-- <li><a routerLink="/account/rates" routerLinkActive="active-link">Search Rates</a></li> -->
      </ul>
    </div>
    <div class="rightTabArea">
      <h2 class="welcomeText"> {{userWelcomeLabel}}</h2>
      <div class="rightTabAreaWrap">
        <!-- commonmyaccountareaforallpages -->
        <app-account-overview-plan-info *ngIf="plan && showBalance" [plan]="plan"></app-account-overview-plan-info>

        <app-account-buy-one-get-one *ngIf="showBuyNow" ></app-account-buy-one-get-one>

        <!-- commonmyaccountareaforallpages -->
          <!-- <app-account-recharge *ngIf="plan" [plan]="plan" ></app-account-recharge>
          <app-my-cards *ngIf="plan" [plan]="plan"> </app-my-cards> -->
        <router-outlet *ngIf="plan" [plan]="plan" ></router-outlet>
      </div>
    </div>
  </div>
</div>
