<div class="myaccountTabArea">
  <div class="onlySmallScreenAccount" *ngIf="isSmallScreen">
    <div class="myAccountMobTabContArea">
      <div class="commonBg">
        <h2 class="welcomeText">{{userWelcomeLabel}}</h2>
        <!-- commonmyaccountareaforallpages -->
        <app-account-overview-plan-info *ngIf="plan" [plan]="plan"></app-account-overview-plan-info>
        <!-- commonmyaccountareaforallpages -->
        <!----------Show mobile stats------------>
        <div *ngIf="showMobileStats && newDesign">
         
        </div>
         <!---------- EOF Show mobile stats ------------>
      </div>
      <!-- <app-account-recharge *ngIf="plan" [plan]="plan"></app-account-recharge> -->
      <router-outlet></router-outlet>
     
    </div>
  </div>


  <div class="onlyDesktopAccount" *ngIf="!isSmallScreen">
    <h2 class="welcomeText"> {{userWelcomeLabel}}</h2>
    <div class="leftTabArea">
      <h5>My Account</h5>
      <ul>
        
        <li><a routerLink="/account/overview" routerLinkActive="active-link">Recharge</a></li>
        <li><a routerLink="/account/payment-details/{{plan?.PlanId}}" routerLinkActive="active-link">Payment Details</a>
        </li>
        <li *ngIf="plan"><a routerLink="/account/autorefill/{{plan?.PlanId}}" routerLinkActive="active-link">Auto -
            Refill</a></li>
        <li><a routerLink="/account/order-history" routerLinkActive="active-link">Order-History</a></li>
        <li class="noBorder" *ngIf="plan">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Plan Details
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ul>
                <li><a routerLink="/account/plandetails/{{plan?.PlanId}}" routerLinkActive="active-link">Your Raza #</a>
                </li>
                <li><a routerLink="/account/call-details/{{plan?.PlanId}}" routerLinkActive="active-link">Call Details</a></li>
                
                <li *ngIf="plan.IsAllowPinLess">
                  <a routerLink="/account/mynumber/{{plan?.PlanId}}" routerLinkActive="active-link">My
                    Numbers</a></li>
                <li><a routerLink="/account/onetouchSetups/{{plan?.PlanId}}" routerLinkActive="active-link">One Touch
                    Dial</a></li>
                <li *ngIf="plan.IsAllowCallForwarding">
                  <a routerLink="/account/callForwardingSetups/{{plan?.PlanId}}" routerLinkActive="active-link">
                    Call Forwarding</a>
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </li>
        <li><a routerLink="/account/rewards" routerLinkActive="active-link">Rewards</a></li>
        <li><a routerLink="/account/international-topup" routerLinkActive="active-link">International Topup</a></li>
        <li><a routerLink="/account/virtualnumber" routerLinkActive="active-link" class="d-none">Virtual Numbers</a></li>
        <li><a routerLink="/account/my-profile" routerLinkActive="active-link">My Profile</a></li>
        <li *ngIf="isEnableOtherPlan">
          <a routerLink="/account/other-plans" routerLinkActive="active-link">Other Plans</a>
        </li>
        <li><a routerLink="/account/overview/notification" routerLinkActive="active-link">Notifications</a></li>
      </ul>
    </div>
    <div class="rightTabArea">
      <!-- commonmyaccountareaforallpages -->
      <app-account-overview-plan-info *ngIf="plan" [plan]="plan"></app-account-overview-plan-info>

      <app-account-buy-one-get-one *ngIf="showBuyNow" ></app-account-buy-one-get-one>
      
      <!-- commonmyaccountareaforallpages -->
      <!-- <app-account-recharge *ngIf="plan" [plan]="plan" ></app-account-recharge> -->
      <router-outlet></router-outlet>
      
    </div>
  </div>
</div>