<div class="rechare_block">
  <div class="msgArea">
    <p class="paymentText">Payment successful!</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="paymentInfoMsg">
        <h2>An email has been sent to {{billingInfo?.Email}} with order details </h2>
        <p>Order# {{orderId}}</p>
        <div class="input_holder1">
          <button mat-button class="submitButton" (click)="backToMyAccount()">Back to my account</button>
        </div>
      </div>
    </div>
  </div>
</div>