<div class="tabContentMyaccount planDetails">
    <p class="tabTitle">Your Raza Numbers</p>
    <!-- <mat-tab-group>
      <mat-tab label="Your Raza Numbers"> -->
        <div class="razaNumberLeft">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">S.NO</th>
                <th scope="col">Access Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of accessNumberList; index as i">
                <!--<td scope="row">#00{{i+1}}</td>-->
                <td scope="row">{{i+1}}</td>
                <td scope="row">{{item}}</td>
              </tr>

            </tbody>
          </table>
        </div>
     
        <!-- <p class="disclaimer">DISCLAIMER: Two cent/min will be charged for using a Toll Free or 1-800 numbers. Customer
          is
          responsible for choosing access numbers that are local and free of charge. Contact your local telephone
          company
          to confirm that the number(s) that appear are both local and free of charge for you to call. Raza.com is Not
          responsible for any long distance phone charges from your primary service provider.</p> -->
 
 


  </div>