$common-boder-width: 3px solid #2172cb;
$common-bg-color: #ebfffc;
$font-color: #0b203e;
$tab-bg :"https://d2uij5nbaiduhc.cloudfront.net/images/features/tab-bg.png";
$common-font-color: #000;
$content-bg-color: #fff;
$tab-bg-color: #ffffff;
$font-size-desc: 16px;
$font-size-head: 56px;
$font-family:'Montserrat',sans-serif;


$testimonial-front-name: #fff;
$color: red;
$hover-bg: #2e3438;
$box-1: #2e3438;
$testimonial-bg: "https://d2uij5nbaiduhc.cloudfront.net/images/testimonials/testimonialbg.jpg";
$example-header-image: "https://d2uij5nbaiduhc.cloudfront.net/images/shiba1.jpg";
$main-bg: "https://d2uij5nbaiduhc.cloudfront.net/images/main-bg.jpg";
$left-slider-button: 'https://d2uij5nbaiduhc.cloudfront.net/images/testimonials/arrow_left.svg';
$right-slider-button: 'https://d2uij5nbaiduhc.cloudfront.net/images/testimonials/arrow_right.svg';
$slider-height: 600px;
$content-height: 30%;

$primary-color: #1c2b58;
$primary-color2: #042d43;
$primary-border: #0045ff;
$signuparea-background: #e5f0ff;
$button-background: #ffc72c;

$input-color: #091232;
$input-border-color: #08273a;


$background-color: #daf4f7;
$background-image: url("../../../../assets/images/promotion/popup-bg.jpg");
$percentage-color: #bc383e;
// $top-left : url('https://d2uij5nbaiduhc.cloudfront.net/images/promotion/top-left.png');
// $top-right : url('https://d2uij5nbaiduhc.cloudfront.net/images/promotion/top-right.png');
$left-bottom: url('');
$bottom-right: url('');
$bonusColorTop: #000;
$pricecolor: #42495e;
$bonusText: #000;