
  <div class="first_fold">

    <h1 class="heading_style1">	
    Virtual Numbers<br/>
    <span>Free Call back! </span>
    </h1>
    <div class="home_banner virtualSuccess_banner">
        <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
    </div>
  </div>
  <!-- common wrapper -->
  <div class="commonWrapperArea">
      <div class="commonWrapperAreaShadowArea">
          <div class="coverShadow"></div>
      </div>
      <div class="vnArea">
        <p class="normal">Order Successful! Your virtual number has been successfully generated.</p>
        <p class="bold">Please find your virtual number below.</p>
        <div class="vnNumber">
          <div class="arrow-up"></div>
          <span>+1 (773) 225 3563</span>
        </div>
      </div>


  </div>
  <!-- common wrapper -->
