<div class="form_holder commonPopup addEnroll">
    <span class="closeIcon" (click)="closeIcon()" mat-dialog-close><i class="material-icons">close</i></span>
    <h2>Calling Information</h2>

    <mat-horizontal-stepper [linear]="true" #stepper>

        <mat-step [stepControl]="oneTouchDialForm">
            <form [formGroup]="oneTouchDialForm">
                <ng-template matStepLabel>Calling From</ng-template>
                <div class="row commonPopupRow">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-select placeholder="Country From" formControlName="Country"
                                (selectionChange)="loadStates()">
                                <mat-option *ngFor="let item of fromCountry" [value]="item.CountryId">
                                    {{item.CountryName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row commonPopupRow">
                    <div class="col-sm-12">
                        <mat-form-field>
                             <mat-select placeholder="State/Province" formControlName="State"
                                (selectionChange)="loadPostalCode()">
                                <mat-option *ngFor="let item of states" [value]="item.Id">{{item.Name}}</mat-option>
                            </mat-select> 
                            

                        </mat-form-field>
                    </div>
                </div>

                <div class="row commonPopupRow">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-select placeholder="Area Code" formControlName="PostalCode"
                                (selectionChange)="loadNumbers()">
                                <mat-option *ngFor="let item of postalcodes" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row commonPopupRow">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-select placeholder="Available Numbers" formControlName="AvailableNumbers">
                                <mat-option *ngFor="let item of numbers" [value]="item">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="form_row1">
                    <div class="input_holder1">
                        <button mat-button matStepperNext class="submitButton">Continue</button>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="oneTouchDialToForm">
            <form [formGroup]="oneTouchDialToForm">
                <ng-template matStepLabel>Calling To</ng-template>
                <div class="row commonPopupRow">
                    <!-- <div *ngIf="showPlaceholder" class="placeholder-search" (click)="onClickPlaceholder()">
                        <p class="palceholder-searchs" (click)="onClickPlaceholder()">Country To</p>
                      </div> -->

                    <div class="col-sm-12">
                        <mat-form-field>
                           <!---- <mat-select placeholder="Country To" formControlName="CountryTo">
                                <mat-option *ngFor="let item of toCountry" [value]="item">{{item.CountryName}}
                                </mat-option>
                            </mat-select>-->
                            <mat-label>Country to</mat-label>
                            <input type="hidden" formControlName="CountryTo"/>
                            <input matInput aria-label="State" id="searchInput" [matAutocomplete]="auto" [formControl]="autoControl" ng-placeholder="State/Province" (focusout)="onClickInput()" (focus)="onInputFocus()">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" md-floating-label="Country To" >
                            <mat-option *ngFor="let option of filteredCountry | async" [value]="option" (onSelectionChange)="setState(option)">
                                
                                <span class="width70">{{option.CountryName}}</span>
                                 
                            </mat-option>
                            </mat-autocomplete>
                            
                        </mat-form-field>
                    </div>
                </div>

                <div class="row commonPopupRow">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <span matPrefix
                                *ngIf="this.oneTouchDialToForm.get('CountryTo').value">011{{this.oneTouchDialToForm.get('CountryTo').value.CountryCode}}
                                &nbsp;</span>
                            <input matInput placeholder="City Code + Phone#" formControlName="PhoneWithCityCode">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row commonPopupRow">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input matInput placeholder="Ref. Names" formControlName="RefNames">
                        </mat-form-field>
                    </div>
                </div>

                <div class="form_row1">
                    <div class="input_holder1">
                        <button mat-button class="submitButton" (click)="oneTouchFormSubmit()">Add</button>
                    </div>
                </div>

            </form>
        </mat-step>

    </mat-horizontal-stepper>
</div>