<div class="form_holder commonPopup callUsPopup contactForm">
    <mat-dialog-actions>
        <span mat-button (click)="closeIcon()" class="closeIconContactUs"><i class="material-icons">close</i></span>
    </mat-dialog-actions>
    <h2>Learn More </h2>
    <mat-dialog-content>
        <p>
            This monthly plan will be automatically recharged once in 30 days as per your billing cycle, there are no
            roll over minutes to next month. Calls can be made to anywhere in the world besides the countries listed
            however the calling rates may differ. You may choose to cancel this plan anytime. The plan does not qualify
            for the features like Auto-Refill bonus or Reward points. Toll free number users will be charged 2 c/min
            additional.
            <br /><br />
            This plan is based on the fair usage policy and is limited to number of minutes. Rate per minutes is
            relatively low under this plan and may differ based on the country you choose to call.
            <br /><br />
            Raza.com reserves the rights to withdraw or alter Raza world plan at anytime without prior notice.

        </p>


    </mat-dialog-content>
</div>