<div class="form_holder commonPopup addNumber otp-confirmation">
  <span class="closeIcon" (click)="closeIcon()" mat-dialog-close><i class="material-icons">close</i></span>


  <h2 mat-dialog-title class="text-center" *ngIf="!moreOptions" >We just texted you</h2>
  <p class="text-center subtitle" *ngIf="!moreOptions">Please enter the verification code sent to</p>

  <h1 mat-dialog-title class="text-center" *ngIf="moreOptions">Verify your phone number</h1>
   <p class="text-center subtitle" *ngIf="moreOptions">We'll text you at</p>


  <h3 >(+{{countryCode}}) {{formattedNumber(enteredPhone)}}</h3>

  <div>
    <a href="javascript:void(0)" (click)="closeIcon()" class="changeNum">Change number</a>
  </div>

  <mat-dialog-content >
    <div *ngIf="!moreOptions">
    <form class="example-form" name="otpConfirmForm" [formGroup]="otpConfirmForm" (ngSubmit)='onOtpConfirmFormSubmit()'
      novalidate>
      <div class="row commonPopupRow">
        <div class="col-sm-12">
              <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter 6 digit Code" formControlName="otp">
            <mat-error *ngIf="otpConfirmForm.get('otp').errors?.required">
              Enter Verification Code
            </mat-error>
          </mat-form-field>   -->

             <div class="row">
            <div class="form-group col-sm-2 col otp-conf-box" *ngFor="let input of formInput;  index as i">
                <input #formRow autocomplete="on" type="tel" formControlName="{{input}}" class="form-control" maxlength="1" (keypress)="keyPressEvent($event, i)" (keyup)="keyUpEvent($event, i)" autofocus>
              </div>
        </div>

          <div *ngIf="wrongOtp" style="color:#ff0000">
            Please enter the verification code which was send to your mobile.
          </div>
        </div>

        <p *ngIf="sendAgainMsg" class="text_green" >A code has been sent to your mobile. Kindly check and enter it. </p>

        <div class="row titleTex">

            Didn’t get code? <a href="javascript:void(0)" (click)="processForgot1();" class="sendAgain"> Send Again</a>
        </div>
        <div class="clear"></div>
        <div class="row">
          <a href="javascript:void(0)" (click)="moreOptions=!moreOptions" class="moreOpt">More Options</a>
        </div>


      </div>



    </form>
  </div>
    <div class="example-container text_align_center" *ngIf="moreOptions">


      <h3 class="options" (click)="processForgot1(); moreOptions=!moreOptions" >Resend code</h3>

      <div class="contact_div_wrap">
         <div class="contact_div">
           <span class="phone_text"><a href="tel:+18774634233">1877-463-4233</a></span> 24/7
         </div>

       </div>
   </div>

  </mat-dialog-content>




</div>
